# Deep Matcher - Record Linkage

In [1]:
!pip install py_entitymatching #--quiet
!pip install deepmatcher #--quiet

Requirement already satisfied: py_entitymatching in /opt/anaconda3/lib/python3.8/site-packages (0.4.0)
Requirement already satisfied: pyparsing>=2.1.4 in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (2.4.7)
Requirement already satisfied: cloudpickle>=0.2.1 in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (1.6.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (1.20.1)
Requirement already satisfied: ipython>=5.6 in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (7.22.0)
Requirement already satisfied: matplotlib>=2.2.4 in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (3.3.4)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (2.25.1)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (1.6.2)
Requirement already satisfied: py-stringsimjoin>=0.3.0 in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (0.3.2)
Requirement already satisfied: PyPrind in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (2.11.3)
Requirement already satisfied: scikit-learn>=0.22 in /opt/anaconda3/lib/python3.8/site-packages (from py_entitymatching) (0.24.1)
Requirement already satisfied: pygments in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (2.8.1)
Requirement already satisfied: setuptools>=18.5 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (52.0.0.post20210125)
Requirement already satisfied: pexpect>4.3 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (4.8.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (3.0.17)
Requirement already satisfied: pickleshare in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (0.7.5)
Requirement already satisfied: appnope in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (5.0.5)
Requirement already satisfied: decorator in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (5.0.6)
Requirement already satisfied: backcall in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /opt/anaconda3/lib/python3.8/site-packages (from ipython>=5.6->py_entitymatching) (0.17.2)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from jedi>=0.16->ipython>=5.6->py_entitymatching) (0.7.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2.4->py_entitymatching) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2.4->py_entitymatching) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2.4->py_entitymatching) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=2.2.4->py_entitymatching) (0.10.0)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=2.2.4->py_entitymatching) (1.15.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from pexpect>4.3->ipython>=5.6->py_entitymatching) (0.7.0)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.8/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.6->py_entitymatching) (0.2.5)
Requirement already satisfied: pandas>=0.16.0 in /opt/anaconda3/lib/python3.8/site-packages (from py-stringsimjoin>=0.3.0->py_entitymatching) (1.2.4)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.8/site-packages (from py-stringsimjoin>=0.3.0->py_entitymatching) (1.0.1)
Requirement already satisfied: py-stringmatching>=0.2.1 in /opt/anaconda3/lib/python3.8/site-packages (from py-stringsimjoin>=0.3.0->py_entitymatching) (0.4.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.16.0->py-stringsimjoin>=0.3.0->py_entitymatching) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.22->py_entitymatching) (2.1.0)
Requirement already satisfied: ipython-genutils in /opt/anaconda3/lib/python3.8/site-packages (from traitlets>=4.2->ipython>=5.6->py_entitymatching) (0.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->py_entitymatching) (2020.12.5)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->py_entitymatching) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->py_entitymatching) (1.26.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->py_entitymatching) (2.10)
Requirement already satisfied: deepmatcher in /opt/anaconda3/lib/python3.8/site-packages (0.1.2.post2)
Requirement already satisfied: torchtext>=0.9 in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (0.11.2)
Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (0.24.1)
Requirement already satisfied: pyprind in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (2.11.3)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (1.2.4)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (4.59.0)
Requirement already satisfied: nltk>=3.2.5 in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (3.6.1)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (1.15.0)
Requirement already satisfied: fasttext in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (0.9.2)
Requirement already satisfied: torch>=1.0 in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (1.10.2)
Requirement already satisfied: dill in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (0.3.4)
Requirement already satisfied: Cython in /opt/anaconda3/lib/python3.8/site-packages (from deepmatcher) (0.29.23)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.2.5->deepmatcher) (7.1.2)
Requirement already satisfied: regex in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.2.5->deepmatcher) (2021.4.4)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.8/site-packages (from nltk>=3.2.5->deepmatcher) (1.0.1)
Requirement already satisfied: typing-extensions in /opt/anaconda3/lib/python3.8/site-packages (from torch>=1.0->deepmatcher) (3.7.4.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.8/site-packages (from torchtext>=0.9->deepmatcher) (1.20.1)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from torchtext>=0.9->deepmatcher) (2.25.1)
Requirement already satisfied: setuptools>=0.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from fasttext->deepmatcher) (52.0.0.post20210125)
Requirement already satisfied: pybind11>=2.2 in /opt/anaconda3/lib/python3.8/site-packages (from fasttext->deepmatcher) (2.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->deepmatcher) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->deepmatcher) (2021.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->torchtext>=0.9->deepmatcher) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->torchtext>=0.9->deepmatcher) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->torchtext>=0.9->deepmatcher) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->torchtext>=0.9->deepmatcher) (2020.12.5)

Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->deepmatcher) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn->deepmatcher) (1.6.2)

In [2]:
import sys
import py_entitymatching as em
import deepmatcher as dm
import os

In [3]:
# Load the two tables.
A = em.read_csv_metadata("alignedSchemas/companiesAligned.csv", key='id')
B = em.read_csv_metadata("alignedSchemas/companiesAligned.csv", key='id')

WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.
WARNING:py_entitymatching.io.parsers:Metadata file is not present in the given path; proceeding to read the csv file.

In [4]:
# Basic information about the tables.
print('Number of tuples in A: ' + str(len(A)))
print('Number of tuples in B: ' + str(len(B)))
print('Number of tuples in A X B (i.e the cartesian product): ' + str(len(A)*len(B)))

Number of tuples in A: 64608
Number of tuples in B: 64608
Number of tuples in A X B (i.e the cartesian product): 4174193664

In [5]:
A.head()

,Unnamed: 0,name,headquarter,employees,industry,website,ticker,ceo,revenue_M,marketcap_M,shareprice,id
0,0,GROUPON,"600 W CHICAGO AVE SUITE 400 CHICAGO, IL 60616","1,001 TO 5,000",INFORMATION TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,E-TECHNOLOGIES,AUCKLAND,2 TO 10,INFORMATION TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2,YAKSHNA SOLUTIONS,"HERNDON, VA",11 TO 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,3,THRU TUBING SOLUTIONS,OKLAHOMA CITY,51 TO 200,"ENERGY, MINING & UTILITIES",NaN,NaN,NaN,NaN,NaN,NaN,4
4,4,CLEVELAND CLIFFS INC,"CLEVELAND, OH","5,001 TO 10,000",PERSONAL CONSUMER SERVICES,NaN,NaN,NaN,NaN,NaN,NaN,5

In [6]:
B.head()

,Unnamed: 0,name,headquarter,employees,industry,website,ticker,ceo,revenue_M,marketcap_M,shareprice,id
0,0,GROUPON,"600 W CHICAGO AVE SUITE 400 CHICAGO, IL 60616","1,001 TO 5,000",INFORMATION TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN,1
1,1,E-TECHNOLOGIES,AUCKLAND,2 TO 10,INFORMATION TECHNOLOGY,NaN,NaN,NaN,NaN,NaN,NaN,2
2,2,YAKSHNA SOLUTIONS,"HERNDON, VA",11 TO 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,3,THRU TUBING SOLUTIONS,OKLAHOMA CITY,51 TO 200,"ENERGY, MINING & UTILITIES",NaN,NaN,NaN,NaN,NaN,NaN,4
4,4,CLEVELAND CLIFFS INC,"CLEVELAND, OH","5,001 TO 10,000",PERSONAL CONSUMER SERVICES,NaN,NaN,NaN,NaN,NaN,NaN,5

In [7]:
# Create an overlap blocker in Magellan and apply it to A and B to get the candidate set K1 which is in the format of 
# a dataframe. The "l_out_attrs" and "r_out_attrs" parameters indicate the columns that will be included in K1 from A
# and B respectively.
ob = em.OverlapBlocker()
K1 = ob.block_tables(A, B, 'name', 'name', 
                     l_output_attrs=['name', 'headquarter', 'employees', 'industry', 'website', 'ticker', 'ceo', 'revenue_M', 'marketcap_M', 'shareprice'], 
                     r_output_attrs=['name', 'headquarter', 'employees', 'industry', 'website', 'ticker', 'ceo', 'revenue_M', 'marketcap_M', 'shareprice'], 
                     overlap_size=2)

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:24

In [8]:
K1.head()

,_id,ltable_id,rtable_id,ltable_name,ltable_headquarter,ltable_employees,ltable_industry,ltable_website,ltable_ticker,ltable_ceo,...,rtable_name,rtable_headquarter,rtable_employees,rtable_industry,rtable_website,rtable_ticker,rtable_ceo,rtable_revenue_M,rtable_marketcap_M,rtable_shareprice
0,0,3,3,YAKSHNA SOLUTIONS,"HERNDON, VA",11 TO 50,NaN,NaN,NaN,NaN,...,YAKSHNA SOLUTIONS,"HERNDON, VA",11 TO 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4,4,THRU TUBING SOLUTIONS,OKLAHOMA CITY,51 TO 200,"ENERGY, MINING & UTILITIES",NaN,NaN,NaN,...,THRU TUBING SOLUTIONS,OKLAHOMA CITY,51 TO 200,"ENERGY, MINING & UTILITIES",NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,5,CLEVELAND CLIFFS INC,"CLEVELAND, OH","5,001 TO 10,000",PERSONAL CONSUMER SERVICES,NaN,NaN,NaN,...,CLEVELAND CLIFFS INC,"CLEVELAND, OH","5,001 TO 10,000",PERSONAL CONSUMER SERVICES,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8,8,MATHIS BROTHERS FURNITURE,"OKLAHOMA CITY, OKLAHOMA","1,001 TO 5,000",RETAIL & WHOLESALE,NaN,NaN,NaN,...,MATHIS BROTHERS FURNITURE,"OKLAHOMA CITY, OKLAHOMA","1,001 TO 5,000",RETAIL & WHOLESALE,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9,9,IVYTECH SOLUTIONS INC,NaN,NaN,NaN,NaN,NaN,NaN,...,IVYTECH SOLUTIONS INC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
len(K1)

3376732

In [10]:
# Create a new overlap blocker to remove pairs from K1 that have no common word in "Artist_Name".
K1 = ob.block_candset(K1, 'employees', 'employees', overlap_size=1)
len(K1)

#compare.string('name', 'name', label="name")
#compare.exact('employees', 'employees', label='employees')
#compare.string('website', 'website', method='jarowinkler', label="website")
#compare.string('ticker', 'ticker', method='jarowinkler', label="ticker")
#compare.string('ceo', 'ceo', method='jarowinkler', label="ceo")

/opt/anaconda3/lib/python3.8/site-packages/py_entitymatching/blocker/overlap_blocker.py:615: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table[overlap_attr] = values
0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:00:13

258433

In [11]:
K1.head()

,_id,ltable_id,rtable_id,ltable_name,ltable_headquarter,ltable_employees,ltable_industry,ltable_website,ltable_ticker,ltable_ceo,...,rtable_name,rtable_headquarter,rtable_employees,rtable_industry,rtable_website,rtable_ticker,rtable_ceo,rtable_revenue_M,rtable_marketcap_M,rtable_shareprice
0,0,3,3,YAKSHNA SOLUTIONS,"HERNDON, VA",11 TO 50,NaN,NaN,NaN,NaN,...,YAKSHNA SOLUTIONS,"HERNDON, VA",11 TO 50,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,4,4,THRU TUBING SOLUTIONS,OKLAHOMA CITY,51 TO 200,"ENERGY, MINING & UTILITIES",NaN,NaN,NaN,...,THRU TUBING SOLUTIONS,OKLAHOMA CITY,51 TO 200,"ENERGY, MINING & UTILITIES",NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,5,CLEVELAND CLIFFS INC,"CLEVELAND, OH","5,001 TO 10,000",PERSONAL CONSUMER SERVICES,NaN,NaN,NaN,...,CLEVELAND CLIFFS INC,"CLEVELAND, OH","5,001 TO 10,000",PERSONAL CONSUMER SERVICES,NaN,NaN,NaN,NaN,NaN,NaN
3,3,8,8,MATHIS BROTHERS FURNITURE,"OKLAHOMA CITY, OKLAHOMA","1,001 TO 5,000",RETAIL & WHOLESALE,NaN,NaN,NaN,...,MATHIS BROTHERS FURNITURE,"OKLAHOMA CITY, OKLAHOMA","1,001 TO 5,000",RETAIL & WHOLESALE,NaN,NaN,NaN,NaN,NaN,NaN
152,152,17,17,CLEVELAND STATE UNIVERSITY,CLEVELAND,"501 TO 1,000",EDUCATION,NaN,NaN,NaN,...,CLEVELAND STATE UNIVERSITY,CLEVELAND,"501 TO 1,000",EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Take a sample of 500 pairs from the candidate set.
sample = em.sample_table(K1, 20)

In [19]:
# Label the sample S in a GUI. Enter 1 for match and 0 for non-match.
gold = em.label_table(sample, 'gold')

WARNING:py_entitymatching.utils.catalog_helper:Column name (gold) is not present in dataframe

AttributeError: 'DataFrame' object has no attribute 'set_value'

In [ ]:
result.to_csv("alignedSchemas/gold.csv")