In [1]:
!pip install recordlinkage --quiet
!pip install sklearn --quiet

In [2]:
import numpy as np 
import pandas as pd
import sklearn
import recordlinkage
import warnings
from recordlinkage.index import Full
from sklearn.model_selection import train_test_split
warnings.filterwarnings('ignore')

In [3]:
professionisti = pd.read_csv("alignedSchemas/professionistiAligned.csv")
professionisti = professionisti.drop('Unnamed: 0', 1)
professionisti.head(10)

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
0,SUSAN ELLER,FAMILY NURSE PRACTITIONER,ENGLISH,"8469 E MCDONALD DR SCOTTSDALE, AZ 85250",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,DR. ELLE ROSS,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"5421 W THUNDERBIRD RD GLENDALE, AZ 85306",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,JESSICA RASSAS,NURSE PRACTITIONER,ENGLISH,"6730 EAST MCDOWELL ROAD SCOTTSDALE, AZ 85257",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,DR. RAUL MEDINA,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"18435 N 19TH AVE PHOENIX, AZ 85023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,KRISTINA MATTSON,"NURSE PRACTITIONER, FAMILY NURSE PRACTITIONER",ENGLISH,"3530 S VAL VISTA DR GILBERT, AZ 85297",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,DR. PARWIN SADAAT,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"8469 E MCDONALD DR SCOTTSDALE, AZ 85250",NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
6,DR. ANTHONY AGHENTA,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"1434 W ELLIOT RD GILBERT, AZ 85233",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
7,DEANNA WRIGHT,"NURSE PRACTITIONER, FAMILY NURSE PRACTITIONER",ENGLISH,"10210 NORTH 92ND ST SCOTTSDALE, AZ 85258",NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
8,ALTA LANGDON,"NURSE PRACTITIONER, ADULT PSYCHIATRIC & MENTAL...",ENGLISH,"14301 N 87TH ST SCOTTSDALE, AZ 85260",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
9,DR. BRUCE HERMAN,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"5620 W THUNDERBIRD RD GLENDALE, AZ 85306",NaN,NaN,NaN,NaN,NaN,NaN,NaN,10

In [4]:
indexer = recordlinkage.Index()
indexer.block('name')
pairs = indexer.index(professionisti, professionisti)

In [5]:
print(len(pairs))

235803

In [6]:
train_pairs = pairs[:150000]
test_pairs = pairs[150000:]

In [7]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', label="name", threshold=0.80)
compare.string('specialization', 'specialization', method='levenshtein', label="specialization", threshold=0.80)
compare.exact('id', 'id', label="id")
compare.string('address', 'address', method='levenshtein', label="address", threshold=0.85)
compare.string('website', 'website', method='levenshtein', label="website", threshold=0.95)
compare.string('telephone', 'telephone', method='levenshtein', label="telephone", threshold=0.90)
compare.string('email', 'email', method='levenshtein', label="email", threshold=0.90)

training_features = compare.compute(train_pairs, professionisti, professionisti)

In [8]:
training_features.head()

       name  specialization  id  address  website  telephone  email
0  0    1.0             1.0   1      1.0      0.0        0.0    0.0
   37   1.0             1.0   0      1.0      0.0        0.0    0.0
37 0    1.0             1.0   0      1.0      0.0        0.0    0.0
   37   1.0             1.0   1      1.0      0.0        0.0    0.0
1  1    1.0             1.0   1      1.0      0.0        0.0    0.0

In [9]:
training_matches = training_features[training_features.sum(axis=1) > 3].reset_index()
training_matches['score'] = training_matches.loc[:, 'name':'email'].sum(axis=1)
toDrop = ['name', 'specialization', 'address', 'address', 'website', 'telephone', 'email', 'score', 'id']
training_matches = training_matches.drop(toDrop, axis=1)
training_matches.head()

   level_0  level_1
0        0        0
1       37       37
2        1        1
3        2        2
4        3        3

In [10]:
training_matches = pd.MultiIndex.from_frame(training_matches) #matches conversion

In [11]:
len(training_features)

150000

In [12]:
len(training_matches)

79499

#### Classifier

In [13]:
classifier = recordlinkage.SVMClassifier()
classifier.fit(training_features, training_matches)

## Testing And Evaluation

In [14]:
compare = recordlinkage.Compare()

compare.string('name', 'name', method='jarowinkler', label="name", threshold=0.80)
compare.string('specialization', 'specialization', method='levenshtein', label="specialization", threshold=0.80)
compare.exact('id', 'id', label="id")
compare.string('address', 'address', method='levenshtein', label="address", threshold=0.85)
compare.string('website', 'website', method='levenshtein', label="website", threshold=0.95)
compare.string('telephone', 'telephone', method='levenshtein', label="telephone", threshold=0.90)
compare.string('email', 'email', method='levenshtein', label="email", threshold=0.90)

test_features = compare.compute(test_pairs, professionisti, professionisti)

In [15]:
test_matches = test_features[test_features.sum(axis=1) > 3].reset_index()
test_matches['score'] = test_matches.loc[:, 'name':'email'].sum(axis=1)
toDrop = ['name', 'specialization', 'address', 'address', 'website', 'telephone', 'email', 'score', 'id']
test_matches = test_matches.drop(toDrop, axis=1)
test_matches.head(10)

   level_0  level_1
0    71714    71714
1    62356    62356
2    62357    62357
3    62358    62358
4    62359    62359
5    62360    62360
6    62361    62361
7    62362    62362
8    62363    62363
9    62364    62364

In [16]:
len(test_features)

85803

In [17]:
len(test_matches)

23712

In [18]:
test_matches = pd.MultiIndex.from_frame(test_matches) #matches conversion

In [19]:
predictions = classifier.predict(test_features)

In [20]:
# return the confusion matrix
confusion_matrix = recordlinkage.confusion_matrix(test_matches, predictions, len(test_features))
print('confusion matrix')
print(confusion_matrix)

# compute the F-score for this classification
fscore = recordlinkage.fscore(confusion_matrix)
print('\n\nfscore', fscore)
recall = recordlinkage.recall(test_matches, predictions)
print('recall', recall)
precision = recordlinkage.precision(test_matches, predictions)
print('precision', precision)
accuracy = recordlinkage.accuracy(test_matches, predictions, len(test_features))
print('accuracy', accuracy)

confusion matrix
[[ 5021 18691]
 [   33 62058]]


fscore 0.3490926788569839
recall 0.21174932523616735
precision 0.9934705184012663
accuracy 0.7817791918697481

In [21]:
false_negatives = test_matches.difference(predictions)
false_negatives

MultiIndex([(62356, 62356),
            (62357, 62357),
            (62358, 62358),
            (62359, 62359),
            (62360, 62360),
            (62361, 62361),
            (62362, 62362),
            (62363, 62363),
            (62364, 62364),
            (62365, 62365),
            ...
            (81083, 81083),
            (81084, 81084),
            (81085, 81085),
            (81086, 81086),
            (81087, 81087),
            (81088, 81088),
            (81089, 81089),
            (81090, 81090),
            (81091, 81091),
            (81092, 81092)],
           length=18691)

In [22]:
fn_from_dfA = false_negatives[0][0]
fn_from_dfB = false_negatives[0][1]

display(professionisti[professionisti.index == fn_from_dfA])
display(professionisti[professionisti.index == fn_from_dfB])

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
62356,MEHMET SALIH KEMALOGLU,BACKEND DEVELOPER,ENGLISH\nTURKISH,"BANGKOK, BANGKOK, THAILAND",NaN,3.0,NaN,NaN,30.0,NaN,NaN,62357

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
62356,MEHMET SALIH KEMALOGLU,BACKEND DEVELOPER,ENGLISH\nTURKISH,"BANGKOK, BANGKOK, THAILAND",NaN,3.0,NaN,NaN,30.0,NaN,NaN,62357

In [23]:
fn_from_dfA = false_negatives[1][0]
fn_from_dfB = false_negatives[1][1]

display(professionisti[professionisti.index == fn_from_dfA])
display(professionisti[professionisti.index == fn_from_dfB])

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
62357,SHOAIB UDDIN,HYBRID IONIC / NATIVE IOS FULLSTACK DEVELOPER,ENGLISH\nURDU,"KARACHI, SINDH, PAKISTAN",NaN,6.0,NaN,NaN,1250.0,NaN,NaN,62358

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
62357,SHOAIB UDDIN,HYBRID IONIC / NATIVE IOS FULLSTACK DEVELOPER,ENGLISH\nURDU,"KARACHI, SINDH, PAKISTAN",NaN,6.0,NaN,NaN,1250.0,NaN,NaN,62358

In [24]:
false_positives = predictions.difference(test_matches)
false_positives

MultiIndex([(119561, 120005),
            (119671, 119932),
            (119866, 119883),
            (119883, 119866),
            (119888, 119975),
            (119932, 119671),
            (119975, 119888),
            (120005, 119561),
            (123125, 123125),
            (123168, 123168),
            (123176, 123176),
            (123293, 123293),
            (123308, 123308),
            (123378, 123378),
            (123445, 123445),
            (123580, 123580),
            (123581, 123581),
            (123897, 123897),
            (123966, 123966),
            (124043, 124043),
            (124073, 124073),
            (124266, 124266),
            (124371, 124371),
            (124407, 124407),
            (124439, 124439),
            (124444, 124444),
            (124484, 124484),
            (124503, 124503),
            (124557, 124557),
            (125947, 125951),
            (125951, 125947),
            (126417, 126428),
            (126428, 126417)],
           )

In [25]:
fn_from_dfA = false_positives[1][0]
fn_from_dfB = false_positives[1][1]

display(professionisti[professionisti.index == fn_from_dfA])
display(professionisti[professionisti.index == fn_from_dfB])

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
119671,DOTT. GIORGIO FATTORINI,PATOLOGIE GUARDA TUTTE DISFUNZIONE ERETTILE TO...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+39065816695,NaN,119672

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
119932,DOTT. GIORGIO FATTORINI,PATOLOGIE GUARDA TUTTE ANDROPAUSA TOP DISFUNZI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+39065816695,NaN,119933