# Schema Alignment

In [1]:
!pip install pandas -q
!pip install pandas-profiling -q
!pip install numpy -q

#### Funzioni Manipolazione

In [2]:
def gender(gender):
    if (gender=='Male'):
        return 'M'
    elif (gender=='Female'):
        return 'F'

In [3]:
def extract(row):
    return ', '.join(map(str, row))

### Querynator Zocdoc

In [4]:
import json
import pandas as pd
import numpy as np

openfile=open('sources/professionisti/doctors.json')
jsondata=json.load(openfile)
dottori=pd.DataFrame(jsondata)

openfile.close()

dottori.head(50)

,id,name,specialization,spokenLanguages,address,rating,npinumber
0,3d9149b5-9ca0-40a8-87b3-6e7624c89378,Susan Eller,[Family Nurse Practitioner],[English],"8469 E McDonald Dr Scottsdale, AZ 85250",4.93,1558699595
1,185ec34d-d5a8-46f1-850d-77ebff3ba60a,Dr. Elle Ross,"[Internist, Primary Care Doctor]",[English],"5421 W Thunderbird Rd Glendale, AZ 85306",4.66,1275976706
2,0055cbc1-48cb-40fb-ba00-eb18eeba6985,Jessica Rassas,[Nurse Practitioner],[English],"6730 East McDowell Road Scottsdale, AZ 85257",4.95,1841885118
3,2295ee7b-a54d-4266-a690-194d17414d67,Dr. Raul Medina,"[Family Physician, Primary Care Doctor]",[English],"18435 N 19th Ave Phoenix, AZ 85023",5.00,1649685652
4,716b166c-87fb-42ef-9088-4badf64417c7,Kristina Mattson,"[Nurse Practitioner, Family Nurse Practitioner]",[English],"3530 S Val Vista Dr Gilbert, AZ 85297",4.99,1609416163
5,e70ecdf2-3187-4301-a6af-dda77e936c74,Dr. Parwin Sadaat,"[Family Physician, Primary Care Doctor]",[English],"8469 E McDonald Dr Scottsdale, AZ 85250",4.55,1487695243
6,e23b07b7-1f8f-4265-85f9-d1e416978ca7,Dr. Anthony Aghenta,"[Internist, Primary Care Doctor]",[English],"1434 W Elliot Rd Gilbert, AZ 85233",4.91,1316084130
7,c5f09e47-e966-4e47-8a19-5c4c06e11e7b,Deanna Wright,"[Nurse Practitioner, Family Nurse Practitioner]",[English],"10210 North 92nd St Scottsdale, AZ 85258",NaN,1740668623
8,cb24620a-9d62-4359-b7ed-57bcbe5c1c10,Alta Langdon,"[Nurse Practitioner, Adult Psychiatric & Menta...",[English],"14301 N 87th St Scottsdale, AZ 85260",NaN,1356751077
9,b48efadf-6b2d-43a2-bf0e-79cf8db7b953,Dr. Bruce Herman,"[Internist, Primary Care Doctor]",[English],"5620 W Thunderbird Rd Glendale, AZ 85306",4.76,1801894951
10,a6034574-dc49-4d14-a972-a5740a5c35d0,Dr. Rama Devineni,"[Internist, Primary Care Doctor]",[English],"250 W Chandler Heights Rd Chandler, AZ 85248",4.00,1750312484
11,71df4499-ea14-45c4-9a5f-9816aa700315,Ruth Cover,[Family Nurse Practitioner],[English],"2451 E Baseline Rd Gilbert, AZ 85234",NaN,1205458205
12,33f03cd9-324a-4897-b9b5-396b3d03f0b2,Dr. Luis Irizarry,"[Family Physician, Primary Care Doctor]",[English],"15452 N Tatum Blvd Phoenix, AZ 85032",NaN,1487658175
13,42142c1d-479f-44f6-a5e4-ef3d5402c47f,Nina Zabalza,[Nurse Practitioner],[English],"8469 E McDonald Dr Scottsdale, AZ 85250",4.90,1467999045
14,5c0c5a08-2f64-41c3-9424-e81c785a4066,Dr. Trever Wilkins,[Emergency Medicine Physician],[English],"290 S Alma School Rd Chandler, AZ 85224",5.00,1992007439
15,c1d5a208-72fe-4ec3-92fe-c296ad17420e,Dr. Ellena Boddie,[Internist],[English],,4.60,1689673790
16,e858de57-2aa9-4c5d-81a0-6875b3010dc2,Dr. Mark Lewis,"[Internist, Primary Care Doctor]",[English],"29662 N Tatum Blvd Cave Creek, AZ 85331",4.70,1710906128
17,96d90f76-2f86-4ed1-a000-d6cc48574c96,Heather Mednansky,[Nurse Practitioner],"[English, Spanish]","13000 North 103rd Ave Sun City, AZ 85351",4.86,1336664184
18,f276fe89-062a-46f2-b8d1-49626c68f069,Adam Neal,[Physician Assistant],[English],"1002 E McDowell Rd Phoenix, AZ 85006",NaN,1053903674
19,841fb1a9-a4cc-4959-8a81-01b4f53db1db,Dr. Deborah White,"[Nurse Practitioner, Family Nurse Practitioner]",[English],"4855 E Brown Rd Mesa, AZ 85205",5.00,1669036034
20,32770c3d-e00b-47d8-b387-203ba1e10b9e,Dr. Jared Berkowitz,"[Internist, Pediatrician, Primary Care Doctor]",[English],"11250 E VÃ­a Linda Scottsdale, AZ 85259",4.95,1386865780
21,77f0c9b7-8fc4-4012-9c88-6caf360795f9,Dr. Charles Armstrong,[Family Physician],[English],"2175 N Alma School Rd Chandler, AZ 85224",4.93,1255743548
22,e5b6855a-7af8-42de-a668-d938b51406d9,Alyssa Nelson,[Physician Assistant],[English],"1622 N 59th Ave Phoenix, AZ 85035",4.80,1801459433
23,058a74c0-d68b-4cad-8dd2-3f0a4c0da918,Sandy Sargent,"[Nurse Practitioner, Family Nurse Practitioner]",[English],"7920 E Thompson Peak Pkwy Scottsdale, AZ 85255",4.76,1952694861
24,8d8e2fb3-7123-4209-a39d-bdab644fdc01,Christine Henry,[Family Nurse Practitioner],[English],"3624 N Power Rd Mesa, AZ 85215",5.00,1023626785
25,9188bd05-8635-4b94-acbc-b84a7f354796,Erin Wolf,[Physician Assistant],[English],"8032 N 19th Ave Phoenix, AZ 85021",4.83,1598031130
26,4f6f01e8-6af4-4951-81b8-dcb65b076a42,Vicki Grenier,[Nurse Practitioner],[English],"1622 N 59th Ave Phoenix, AZ 85035",5.00,1932712122
27,6c6c9655-58ba-49e4-93c5-eb2c58222cc1,Dr. Manisha Nerkar,"[Internist, Primary Care Doctor]",[English],"5620 W Thunderbird Rd Glendale, AZ 85306",4.00,1730130006
28,b1ce4e0d-7ee5-4981-9b5e-02b25ba105c0,Kristin Oarde,[Nurse Practitioner],"[English, Tagalog]","20266 N Lake Pleasant Rd Peoria, AZ 85382",5.00,1215491097
29,cd8b7ce8-f66b-4480-bd86-2d64ab0923ec,Dr. Ekaphol Wooden,[Family Physician],[English],"18435 N 19th Ave Phoenix, AZ 85023",4.86,1437386752
30,48ac0862-5959-4e58-834f-1b83329cccd4,Dr. David Hume,"[Family Physician, Primary Care Doctor]",[English],"5620 W Thunderbird Rd Glendale, AZ 85306",4.97,1912009291
31,fe3288f4-7c2d-4a5f-b0a5-733549a9439e,Dr. Armando Rodriguez-Asbun,"[Internist, Primary Care Doctor]","[English, Spanish]","250 W Chandler Heights Rd Chandler, AZ 85248",4.41,1679561203
32,12bbfb07-edf5-4b37-a943-5ef32167d3f4,Shawn Dugan,"[Nurse Practitioner, Adult Psychiatric & Menta...",[English],"14301 N 87th St Scottsdale, AZ 85260",4.83,1841825155
33,4bb3924b-067d-48bf-9809-bec6dd75ea8d,Janine Altobelli,[Nurse Practitioner],[English],"6730 East McDowell Road Scottsdale, AZ 85257",4.99,1023489192
34,b5b26987-f5bf-401e-91c6-2ab3640e5bc7,Dr. Trever Wilkins,[Emergency Medicine Physician],[English],"290 S Alma School Rd Chandler, AZ 85224",5.00,1992007439
35,b9185a51-cddd-4344-b8c8-c2356dce37bd,Dr. Trever Wilkins,[Emergency Medicine Physician],[English],"290 S Alma School Rd Chandler, AZ 85224",5.00,1992007439
36,7a52b8b8-3a5e-4422-9d9e-a37be0cfb266,Dr. Robert Claflin,[Primary Care Doctor],[English],"20713 E Ocotillo Rd Queen Creek, AZ 85142",4.89,1164959441
37,83a23ccb-aa6b-40e8-927d-b8b9371dbd43,Susan Eller,[Family Nurse Practitioner],[English],"8469 E McDonald Dr Scottsdale, AZ 85250",4.93,1558699595
38,678924e0-a8fc-4f2c-9188-8f86a5521a16,Alta Langdon,"[Nurse Practitioner, Adult Psychiatric & Menta...",[English],"14301 N 87th St Scottsdale, AZ 85260",NaN,1356751077
39,1bfb99bc-d830-4684-acf6-a594c2374e7d,Dr. Shraddha Patel,"[Family Physician, Primary Care Doctor]","[English, Hindi, Gujarati]","18275 N 59th Ave Glendale, AZ 85308",5.00,1447408778
40,755217d5-0864-46fd-9a9b-80ba274956a9,Dr. Bruce Herman,"[Internist, Primary Care Doctor]",[English],"5620 W Thunderbird Rd Glendale, AZ 85306",4.76,1801894951
41,ad6fe4df-8aed-40af-ae02-bf16a9df0725,Dr. Trever Wilkins,[Emergency Medicine Physician],[English],"290 S Alma School Rd Chandler, AZ 85224",5.00,1992007439
42,af1f1f51-80df-4f3d-8a00-e3c59ad5d801,Dr. Trever Wilkins,[Emergency Medicine Physician],[English],"290 S Alma School Rd Chandler, AZ 85224",5.00,1992007439
43,eec1a812-05b8-48ff-8366-3c0dba193067,Dr. Zuleikha Vellani,"[Family Physician, Primary Care Doctor]","[English, Hindi, Urdu]","18275 N 59th Ave Glendale, AZ 85308",4.83,1376897314
44,b16408c5-0a00-4644-bbb6-6fa2c0978a61,Lokeswari Bucchireddigari,[Nurse Practitioner],[English],"15452 N Tatum Blvd Phoenix, AZ 85032",NaN,1538575253
45,b9250aee-2577-4107-9afb-540b53e45081,Dr. Manisha Nerkar,"[Internist, Primary Care Doctor]",[English],"5620 W Thunderbird Rd Glendale, AZ 85306",4.00,1730130006
46,9bd6f67a-f051-4376-9bb1-ca5f74718c59,Frank Macalma,[Nurse Practitioner],[English],"5421 W Thunderbird Rd Glendale, AZ 85306",NaN,1235767328
47,cec73b00-73b2-47c5-a22d-3bd18f089838,Adam Neal,[Physician Assistant],[English],"1002 E McDowell Rd Phoenix, AZ 85006",NaN,1053903674
48,40ae1118-a608-44d6-9665-36ec7439c108,Dr. John Charochak,[Primary Care Doctor],[English],"9150 W Indian School Rd Phoenix, AZ 85037",4.46,1679557334
49,476dd100-a720-4fbc-a3ed-ac895aface96,Kristin Oarde,[Nurse Practitioner],"[English, Tagalog]","20266 N Lake Pleasant Rd Peoria, AZ 85382",5.00,1215491097

In [5]:
#dottori['specialization'] = dottori['specialization'].astype('string')
#dottori['spokenLanguages'] = dottori['spokenLanguages'].astype('string')

In [6]:
toDrop = ["id", "npinumber"]
dottori = dottori.drop(toDrop, axis=1)
dottori['specialization'] = dottori['specialization'].replace(r',', '')
dottori['spokenLanguages'] = dottori['spokenLanguages'].replace(r',', '')
dottori['spokenLanguages']= dottori.apply(lambda x: extract(x['spokenLanguages']), axis=1)
dottori['specialization']= dottori.apply(lambda x: extract(x['specialization']), axis=1)
dottori.head()

,name,specialization,spokenLanguages,address,rating
0,Susan Eller,Family Nurse Practitioner,English,"8469 E McDonald Dr Scottsdale, AZ 85250",4.93
1,Dr. Elle Ross,"Internist, Primary Care Doctor",English,"5421 W Thunderbird Rd Glendale, AZ 85306",4.66
2,Jessica Rassas,Nurse Practitioner,English,"6730 East McDowell Road Scottsdale, AZ 85257",4.95
3,Dr. Raul Medina,"Family Physician, Primary Care Doctor",English,"18435 N 19th Ave Phoenix, AZ 85023",5.00
4,Kristina Mattson,"Nurse Practitioner, Family Nurse Practitioner",English,"3530 S Val Vista Dr Gilbert, AZ 85297",4.99

### Querynator Justia

In [7]:
import json
import pandas as pd

openfile=open('sources/professionisti/querynator-justia.com-1.json')
jsondata=json.load(openfile)
avvocati=pd.DataFrame(jsondata)

openfile.close()

avvocati.head(50)

,id,name,yearsOfExperience,specialization,statesOfAbilitation,website,lawyerOfficeSet
0,b0f27795-9e79-4ff2-9822-59b74515b8e8,Ayensa Millan,8.0,"[Criminal Law, Immigration Law, Personal Injury]",[Arizona],https://www.cimalawgroup.com/phoenix-personal-...,"[{'city': 'Phoenix', 'address': '350 E Virgini..."
1,fc810b71-d016-4d78-9016-b043f9034b48,Michael J Gordon,NaN,"[Bankruptcy, Business Law, Collections, Constr...",[Arizona],http://www.gordonlawaz.com/,"[{'city': 'Cottonwood', 'address': '850 Cove P..."
2,91dad203-5215-4b40-9436-b8e937c16243,John Kelly,15.0,[Personal Injury],[Arizona],https://www.jkphoenixpersonalinjuryattorney.com/,"[{'city': 'Phoenix', 'address': '1 E Washingto..."
3,101edccd-72ed-4e8f-9ccf-03521e6198f9,Alona M. Gottfried,26.0,"[Arbitration & Mediation, Employment Law, Fami...",[Arizona],http://azmediator.com/,"[{'city': 'Scottsdale', 'address': '8160 E. Bu..."
4,15eb6619-2a6b-4da8-b4d8-a847bd15dacc,Jeffrey Perry,33.0,"[Business Law, Estate Planning, Securities Law]","[Arizona, Texas]",http://www.jrperrylaw.com/,"[{'city': 'Scottsdale', 'address': 'Scottsdale..."
5,88321a9c-6170-452b-bf27-ea8382cb5156,Charles M. Leftwich,NaN,[Bankruptcy],[],http://www.wrlawfirm.net/,"[{'city': 'Scottsdale', 'address': '9590 E. Ir..."
6,eb7ec365-e8be-4c4e-a038-dfc815060c0f,Christopher J. Stender Esq.,31.0,"[Immigration Law, Appeals & Appellate]","[Connecticut, New York]",http://www.ficpcaz.com/,"[{'city': 'San Diego', 'address': '945 4th Ave..."
7,75a944b1-78d8-45ff-a956-26638f40d88e,Jeffrey H. Wolf,NaN,"[Business Law, Employment Law]",[],http://www.gtlaw.com/People/JeffreyHWolf,"[{'city': 'Phoenix', 'address': '2375 E Camelb..."
8,e804fb60-0189-472b-b68b-ff9e09a6ffca,Alden Yako,4.0,"[Traffic Tickets, DUI & DWI, Criminal Law, Can...","[Arizona, Minnesota]",http://www.yakolaw.com/,"[{'city': 'Scottsdale', 'address': '10869 N. S..."
9,f0b199c1-27aa-4385-8f03-74211c8fbfa1,Robert D. Lockhart,31.0,"[Construction Law, Insurance Defense, Products...","[Arizona, California]",http://www.lockhartpark.com/robert-d-lockhart....,"[{'city': 'Scottsdale', 'address': '6619 N Sco..."
10,c435631c-cf40-4743-ace3-8e00070788cf,Matthew L. White,NaN,"[Bankruptcy, Immigration Law]",[Arizona],None,"[{'city': 'Mesa', 'address': '1138 North Alma ..."
11,7f56e04b-fa5a-4b3c-b20f-57dac466a583,Kevin McAlonan,NaN,"[Elder Law, Nursing Home Abuse, Personal Injury]","[Arizona, California]",http://www.nursinghomeadvocates.com/california/,"[{'city': 'Phoenix', 'address': '1951 W Camelb..."
12,8166735f-eda2-474d-9b63-d12b3e7aa305,Zachary Divelbiss,4.0,"[Criminal Law, DUI & DWI, Traffic Tickets, Whi...",[Arizona],http://www.futurefirst.law/,[]
13,56ed8010-b34c-4e5e-9bad-1e48f5ce53ad,J. Mitchell Padilla,21.0,"[DUI & DWI, Criminal Law]","[Arizona, New Mexico]",None,"[{'city': 'Prescott', 'address': '102 E. Union..."
14,c4298a80-9faa-4c49-8e37-4f631123ec9c,Linda Marie Brown,11.0,"[Business Law, International Law, Estate Plann...",[Arizona],http://www.lmbrownlaw.com/,"[{'city': 'Scottsdale', 'address': '15333 N Pi..."
15,82dbee5a-7a79-48e3-89c9-1710cd156b6f,Greg R. Davis,30.0,"[Business Law, Divorce, Family Law]",[Arizona],http://www.davislimited.com/,"[{'city': 'Scottsdale', 'address': '11111 N Sc..."
16,83f01198-2329-4981-b3b0-f3985e25f0ac,Terry Sutton,NaN,"[Criminal Law, Divorce, DUI & DWI, Family Law,...",[Arizona],http://www.casagrandelawfirm.com/,"[{'city': 'Florence', 'address': '100 E. Flore..."
17,339fee75-a7c9-4ac8-b8d6-c0910cc974ad,Jerold A. Cartin Esq.,55.0,[Bankruptcy],[Arizona],http://www.tucson-bankruptcy-law.com/,"[{'city': 'Tucson', 'address': '2432 E Broadwa..."
18,53ad564f-e570-4645-a74b-6fc46b1d937a,Karla Thompson,NaN,"[Insurance Claims, Health Care Law]",[Arizona],http://www.cobelaw.com/,"[{'city': 'Scottsdale', 'address': '6720 N Sco..."
19,0437949c-8377-4698-b6c3-8c5e723674a6,Douglas Edmunds,16.0,"[Bankruptcy, Probate, Estate Planning, Busines...",[Arizona],http://www.dedmundslaw.com/,"[{'city': 'Gilbert', 'address': '1760 E Pecos ..."
20,d449390e-c469-4dd7-9b11-a616c809d89f,Paula J. Burnstein,26.0,"[Family Law, Divorce]",[Arizona],https://www.familylawyeraz.com/paula-j-burnste...,"[{'city': 'Peoria', 'address': '16165 N 83rd A..."
21,082897f5-91ac-4414-822f-9e12488c9b3b,Patrick Sampair,41.0,"[Divorce, Family Law, Domestic Violence]","[Arizona, Minnesota]",http://www.sampair.com/attorneys/patrick-sampair/,"[{'city': 'Glendale', 'address': '17235 N 75 A..."
22,37f7a3be-59cb-485a-87b4-ee599b3ba74b,Stephan R. F. Holmquist,8.0,"[Bankruptcy, Construction Law, Real Estate Law...","[Arizona, California]",None,"[{'city': 'Scottsdale', 'address': '5635 N Sco..."
23,b2574e35-bfe0-40cb-8135-5c7d39ca03d4,Henry Herrington Beam,12.0,"[Criminal Law, Personal Injury, DUI & DWI]",[Arizona],https://www.beamlawplc.com/,[]
24,45e4b15e-0d8d-4e4c-87b3-97cd44bb6ef6,Karen A. Schoenau,35.0,"[Divorce, Family Law, Domestic Violence]",[Arizona],https://www.scottsdaleazdivorcelaw.com/,"[{'city': 'Scottsdale', 'address': '14301 N 87..."
25,1d918ea0-48db-441d-ab3a-0ba516d1c34f,Stephen Anthony,26.0,"[Business Law, Construction Law, Probate, Real...",[Arizona],https://sjanthonylaw.com/,"[{'city': 'Scottsdale', 'address': '4300 N. Mi..."
26,af83218b-1056-4d71-8276-e02fbeeee0f9,Adam Studnicki,30.0,"[Personal Injury, Business Law, Nursing Home A...",[Arizona],http://www.studnickilaw.com/,"[{'city': 'Phoenix', 'address': '3217 E. Shea ..."
27,3345ec1d-c6db-495a-bc2f-b3668b321af1,Matt Dana,38.0,"[Estate Planning, Probate]","[Arizona, New York]",https://danawhitinglaw.com/,"[{'city': 'Scottsdale', 'address': '8817 E Bel..."
28,15de742f-dbd7-4fad-9fc3-00f57408f98b,Ann M Haralambie,45.0,"[Family Law, Juvenile Law, Divorce, Appeals & ...",[Arizona],http://haralambie.com/,"[{'city': 'Tucson', 'address': '1785 East Skyl..."
29,7b9f1c48-c15f-4e65-a27f-5d4ac799931a,Steven White,22.0,"[Arbitration & Mediation, Business Law, Employ...",[Arizona],http://www.wbazlaw.com/,"[{'city': 'Tempe', 'address': '60 East Rio Sal..."
30,aaa8439f-f49b-4636-851f-2441039a079a,Matthew Bycer,16.0,"[Patents, Trademarks, Intellectual Property]","[Arizona, U.S. Patent & Trademark Office]",http://www.bycerlaw.com/,"[{'city': 'Phoenix', 'address': '7220 N. 16th ..."
31,1b8fd6c7-5c2b-471b-b0f6-b5eecc61edde,Mr. Shawn L. Stone,17.0,[Bankruptcy],[Arizona],None,"[{'city': 'Phoenix', 'address': '3030 N. 3rd S..."
32,04fb35a0-93ad-46dd-ad46-c99b5520fde2,Maria Jones,18.0,"[Immigration Law, Criminal Law]",[Arizona],http://www.mariajoneslawfirm.com/,"[{'city': 'Phoenix', 'address': '202 E. Earll ..."
33,eeae8777-5a2d-414e-a28c-8712680f5afc,J.D. Denny,9.0,"[Criminal Law, DUI & DWI, Bankruptcy, Divorce,...",[Arizona],https://www.jddennylaw.com/,[]
34,fae8b415-ad54-4e3d-8a7f-0806414d7cdc,Melanie Marie Laboy,19.0,"[Criminal Law, Domestic Violence, DUI & DWI]",[Arizona],None,"[{'city': 'Phoenix', 'address': '3770 North Se..."
35,802accdb-3be0-4707-86d6-6bf6600434fe,Jason Kelly,NaN,"[Insurance Defense, Personal Injury, Real Esta...",[Arizona],http://www.azconstructionlawfirm.com/,"[{'city': 'Phoenix', 'address': '3101 N Centra..."
36,2d207939-a471-4f6d-80d6-f0999d7f6361,Lawrence Schubart,NaN,[Real Estate Law],"[Arizona, Pennsylvania]",http://www.stubbsschubart.com/,"[{'city': 'Tucson', 'address': '340 N Main Ave..."
37,068263fd-f730-457f-9727-5818e2b1279d,Stephen J Gonzalez,41.0,"[Real Estate Law, Business Law, Probate]",[Arizona],http://sjglaw.net/,"[{'city': 'Tucson', 'address': '268 East River..."
38,ddd21bcf-6dcb-4199-ba2a-8bece2abee2d,Adam Kunz,24.0,"[Employment Law, Intellectual Property]","[Arizona, Utah]",http://www.jaburgwilk.com/,"[{'city': 'Phoenix', 'address': '3200 N Centra..."
39,b64a300a-375d-4073-a6c3-cd066ba68d75,Joel Friedman,39.0,[Workers' Compensation],[Arizona],https://www.compinaz.com/,[]
40,1a9f710c-413c-4255-a6fb-67574418112b,David G. Moore,20.0,"[Criminal Law, DUI & DWI]",[Michigan],https://www.mooreadvocacygroup.com/,"[{'city': 'Scottsdale', 'address': '7231 East ..."
41,d3c1fc36-e059-4e9d-8c69-fdec4708e21c,Shiloh Keith Hoggard,17.0,"[Personal Injury, Insurance Claims, Employment...","[Arizona, Navajo Nation, Utah, Yavapai-Apache ...",http://www.hoggard-law.com/,"[{'city': 'Cottonwood', 'address': '850 Cove P..."
42,f7d2ebc4-dc67-44f1-b317-ee17aac61847,Arash Hashemi,19.0,"[Criminal Law, White Collar Crime, DUI & DWI, ...",[California],http://www.hashemilaw.com/,"[{'city': 'Los Angeles', 'address': '11845 W O..."
43,5e8d12f2-c404-4468-bcbc-f5092b4d87c1,Robert Chelle,NaN,"[Health Care Law, Gov & Administrative Law]","[Arizona, Indiana]",https://chellelaw.com/,"[{'city': 'Phoenix', 'address': '11811 N Tatum..."
44,e86341ad-ed6c-499d-8542-d86204f536d2,Mr. Howard A Snader,26.0,"[Criminal Law, Domestic Violence, DUI & DWI]",[Arizona],http://www.snaderlawgroup.com/,"[{'city': 'Phoenix', 'address': '5070 N 40th S..."
45,df53192c-4cb2-43c1-b7ba-3ec9dd7021b5,Susan Wells,NaN,[Business Law],"[Arizona, New Jersey, New York]",https://www.susanwellslaw.com/,"[{'city': 'Phoenix', 'address': '10810 N Tatum..."
46,64b840e6-374e-4e8b-a88d-1b53097404e8,Douglas Weber,NaN,[Personal Injury],[Arizona],http://mwkfirm.com/,"[{'city': 'Phoenix', 'address': '506 E. Portla..."
47,0974193c-3f62-4ee6-abae-5358159405fb,John Trebon,44.0,"[Civil Rights, Criminal Law, Native American L...","[Arizona, Washington]",https://www.localflagstaffattorney.com/,"[{'city': 'Flagstaff', 'address': '308 N Agass..."
48,2d7b3a56-aa78-418f-9610-763c494bf675,Melanie Beauchamp,NaN,"[Criminal Law, DUI & DWI, Products Liability, ...",[Arizona],https://www.oraclelawgroup.com/,[]
49,36cbe4d2-a227-496e-8e77-97556cb3b788,Dustin Allan Christner,NaN,"[Asbestos & Mesothelioma, Business Law, Consum...",[Arizona],http://www.bowmanandbrooke.com/,"[{'city': 'Phoenix', 'address': '2901 N Centra..."

In [8]:
avvocati = pd.DataFrame(avvocati)
address = ""
avvocati['address'] = address
avvocati.head()
col = avvocati['lawyerOfficeSet'].tolist()
cities = [e[0].get("address") if len(e) != 0 else {} for e in col]
avvocati['address'] = cities
avvocati.head()

,id,name,yearsOfExperience,specialization,statesOfAbilitation,website,lawyerOfficeSet,address
0,b0f27795-9e79-4ff2-9822-59b74515b8e8,Ayensa Millan,8.0,"[Criminal Law, Immigration Law, Personal Injury]",[Arizona],https://www.cimalawgroup.com/phoenix-personal-...,"[{'city': 'Phoenix', 'address': '350 E Virgini...",350 E Virginia Ave
1,fc810b71-d016-4d78-9016-b043f9034b48,Michael J Gordon,NaN,"[Bankruptcy, Business Law, Collections, Constr...",[Arizona],http://www.gordonlawaz.com/,"[{'city': 'Cottonwood', 'address': '850 Cove P...",850 Cove Pkwy
2,91dad203-5215-4b40-9436-b8e937c16243,John Kelly,15.0,[Personal Injury],[Arizona],https://www.jkphoenixpersonalinjuryattorney.com/,"[{'city': 'Phoenix', 'address': '1 E Washingto...","1 E Washington St, Suite 1520"
3,101edccd-72ed-4e8f-9ccf-03521e6198f9,Alona M. Gottfried,26.0,"[Arbitration & Mediation, Employment Law, Fami...",[Arizona],http://azmediator.com/,"[{'city': 'Scottsdale', 'address': '8160 E. Bu...","8160 E. Butherus Drive, Suite 7"
4,15eb6619-2a6b-4da8-b4d8-a847bd15dacc,Jeffrey Perry,33.0,"[Business Law, Estate Planning, Securities Law]","[Arizona, Texas]",http://www.jrperrylaw.com/,"[{'city': 'Scottsdale', 'address': 'Scottsdale...",Scottsdale Spectrum

In [9]:
toDrop = ["statesOfAbilitation", "id", "lawyerOfficeSet"]
avvocati = avvocati.drop(toDrop, axis=1)
avvocati['specialization']= avvocati.apply(lambda x: extract(x['specialization']), axis=1)
avvocati.head()

,name,yearsOfExperience,specialization,website,address
0,Ayensa Millan,8.0,"Criminal Law, Immigration Law, Personal Injury",https://www.cimalawgroup.com/phoenix-personal-...,350 E Virginia Ave
1,Michael J Gordon,NaN,"Bankruptcy, Business Law, Collections, Constru...",http://www.gordonlawaz.com/,850 Cove Pkwy
2,John Kelly,15.0,Personal Injury,https://www.jkphoenixpersonalinjuryattorney.com/,"1 E Washington St, Suite 1520"
3,Alona M. Gottfried,26.0,"Arbitration & Mediation, Employment Law, Famil...",http://azmediator.com/,"8160 E. Butherus Drive, Suite 7"
4,Jeffrey Perry,33.0,"Business Law, Estate Planning, Securities Law",http://www.jrperrylaw.com/,Scottsdale Spectrum

### Zero8 Freelancer

In [10]:
import json
import pandas as pd

openfile=open('sources/professionisti/Zero8-freelancer.com-v1.json')
jsondata=json.load(openfile)
freel=pd.DataFrame(jsondata)

openfile.close()

freel.head(50)

,username,oneliner,rating,location,member_since,on_budget_completed_rate,on_time_rate,repeat_hire_rate,jobs_completed_rate,user_skills,user_certifications,price_per_hour,description
0,sapotacorp,Web Development Expert | Quick & Reliable,5.0,vietnam,"Joined May 18, 2014",96%,96%,28%,100%,"HTML, WordPress, Magento, PHP, Website Design...","Drupal 1, JavaScript 2, Python 1, JavaScript 1...",$25 USD / hour,We have over 8 years of web development experi...
1,saidesigner87,Webdesigner,4.9,india,"Joined June 3, 2016",99%,99%,14%,100%,"Website Design, Graphic Design, HTML, WordPres...","Preferred Freelancer Program SLA 1,",$20 USD / hour,OUR SPECIALITIES:\n\n1. Web design\n2. Landing...
2,technovicinity,We're committed to provide the best Web Experi...,4.7,bangladesh,"Joined June 15, 2015",89%,80%,18%,94%,"PHP, Website Design, Graphic Design, WordPres...","Preferred Freelancer Program SLA 1, WordPress ...",Our Rate,We are a team of professional developers and d...
3,irfan811,PHP | Laravel | Codeigniter | Wordpress | Shopify,5.0,pakistan,"Joined March 11, 2014",98%,99%,23%,100%,"Website Design, CSS, MySQL, WordPress, PHP, J...","Preferred Freelancer Program SLA 1, WordPress 1,",$20 USD / hour,I have dedicated the last five years to websit...
4,acewebexperts,SEO | Local SEO | WordPress | Content Writing,5.0,india,"Joined December 12, 2015",94%,95%,19%,99%,"Internet Marketing, SEO, Link Building, Google...","Preferred Freelancer Program SLA 1, WordPress ...",Our Rate,We are in the Top 2% Freelancers\n\nContact us...
5,jatinsehgal19,Fullstack Web & Mobile Developer (LAMP/MEAN/ iOS),4.5,india,"Joined April 19, 2012",86%,87%,20%,96%,"PHP, WordPress, Website Design, Joomla, HTML, ...","Preferred Freelancer Program SLA 1, JQuery 1, ...",$50 USD / hour,I and Narendra are leading a small team of pro...
6,chouhanashish15,"WORDPRESS , ANDROID, IPHONE , SHOPIFY , API , PHP",5.0,india,"Joined April 8, 2014",89%,88%,18%,100%,"Website Design, PHP, HTML, WordPress, Graphic ...","Preferred Freelancer Program SLA 1, US English...",Our Rate,⭐ Welcome visitors! ⭐\n\nThis is Ashish Chouha...
7,aftabyounas,Web & Mobile App Developer,5.0,pakistan,"Joined November 23, 2017",93%,92%,10%,97%,"PHP, HTML, WordPress, JavaScript, Website Des...","Preferred Freelancer Program SLA 1, WordPress ...",$20 USD / hour,Hello and welcome to my profile!\n* 5 years of...
8,riteshjain009,Bring your idea to reality .,4.9,india,"Joined November 25, 2012",96%,93%,18%,98%,"PHP, HTML, Website Design, WordPress, MySQL, ...","Preferred Freelancer Program SLA 1, US English...",Our Rate,"Hello,\nWelcome to Helpful Insight! We are one..."
9,usatechsoft,Wordpress|Woocommerce|Shopify|PHP7,4.9,pakistan,"Joined June 24, 2015",91%,88%,16%,99%,"Website Design, HTML, PHP, WordPress, CSS, MyS...","Preferred Freelancer Program SLA 1, US English 1,",Our Rate,"Hello All,\n\nusatechsoft primary focus is to ..."
10,OP3NSOURC3,Preferred and Verified by freelancer.com,5.0,pakistan,"Joined April 16, 2013",100%,100%,20%,100%,"PHP, Website Design, WordPress, Graphic Desig...","US English 1, Preferred Freelancer Program SLA...",Our Rate,"We have been designing, developing, customizin..."
11,xyzseo,White Hat SEO | PPC|SMM | Web Design & Develop...,4.8,india,"Joined December 9, 2010",92%,95%,25%,99%,"SEO, Internet Marketing, Link Building, Market...","AdWords 2, Freelancer Orientation 1, Preferred...",Our Rate,Thanks for taking the time to review my profil...
12,sn66,An Award-Winning Web Designer,4.9,pakistan,"Joined February 9, 2012",89%,90%,21%,99%,"WordPress, PHP, Website Design, CSS, Graphic D...","Adobe Photoshop CS5 1, Freelancer Orientation ...",$20 USD / hour,I am a Pakistani Freelancer with 10+ years of ...
13,gurjeetsingh344,Web Design | Web Developer || App Developer 8+...,5.0,india,"Joined August 11, 2013",98%,98%,15%,99%,"Website Design, HTML, PHP, Graphic Design, Wo...","Preferred Freelancer Program SLA 1, WordPress ...",Our Rate,The connected world of web and app networks is...
14,Ahmed0666,Rated#1 on Freelancer | Top Quality Guaranteed ✅,4.9,pakistan,"Joined September 25, 2013",85%,85%,5%,97%,"Graphic Design, Website Design, Logo Design, P...","Preferred Freelancer Program SLA 1, Basic Nume...",$30 USD / hour,"Welcome to my profile, now that you are here l..."
15,trustus,Customized Web and Mobile Solutions,4.9,india,"Joined September 11, 2010",98%,95%,27%,99%,"PHP, MySQL, Website Design, Java, Software Arc...","Preferred Freelancer Program SLA 1, Basic Nume...",$25 USD / hour,Our company specializes in providing Customize...
16,johnglvw,Software Developer,5.0,united states,"Joined December 12, 2003",100%,92%,50%,100%,"PHP, WordPress, JavaScript, HTML, CSS3, Java, ...","US English 1, Foundation vWorker Member,",$147 USD / hour,I have been a software developer and business ...
17,dizajnerweb,TOP 3%! WordPress Expert | Developer and Designer,5.0,serbia,"Joined July 1, 2016",97%,97%,25%,100%,"PHP, HTML, WordPress, Website Design, CSS, Gra...","PHP 1, Preferred Freelancer Program SLA 1,",$40 USD / hour,Transforming Vision into Reality!\n\nIf you wa...
18,SkyHawksFusion,Top Rated - Verified by Freelancer.com,5.0,pakistan,"Joined February 7, 2019",100%,100%,33%,100%,"PHP, Website Design, WordPress, Graphic Desig...","Preferred Freelancer Program SLA 1, Basic Nume...",Our Rate,"Hi, We are a small team of Developers, Designe..."
19,hashonecreatives,Full Stack Team | Among Top 1% Freelancers,4.8,pakistan,"Joined May 5, 2015",92%,82%,10%,98%,"Graphic Design, Logo Design, Website Design, P...","Preferred Freelancer Program SLA 1, US English 1,",Our Rate,HashOne Creatives is a team of Experienced Ful...
20,maksimbabich,WordPress Expert!,4.7,ukraine,"Joined January 14, 2021",94%,92%,6%,100%,"WordPress, Website Design, PHP, HTML, CSS, Woo...",NaN,$25 USD / hour,I have enough expertise for WordPress website ...
21,naveenlalwani77,FULL STACK DEVELOPER,5.0,india,"Joined June 18, 2016",96%,90%,22%,99%,"PHP, HTML, WordPress, MySQL, JavaScript, Webs...","Preferred Freelancer Program SLA 1, US English...",Our Rate,We have 6+ Years of experience and having soun...
22,imranphp,PHP/MYSQL/Website/Wordpress Coder Designer,5.0,pakistan,"Joined April 18, 2006",81%,82%,20%,98%,"PHP, MySQL, Article Rewriting, Web Hosting, We...","Preferred Freelancer Program SLA 1, Freelancer...",$25 USD / hour,"Hi,\r\n\r\nMy name is Imran Ali working as a F..."
23,godesignpk,Developers I Animators I Designers,5.0,pakistan,"Joined September 18, 2020",99%,93%,22%,93%,"Graphic Design, Animation, Logo Design, Websit...","Preferred Freelancer Program SLA 1, WordPress ...",Our Rate,Welcome to GoDesign Technologies LLP\n\n(Respo...
24,OnFocus,| ✅ WordPress Expert ✅ | Graphic Design Services,4.9,pakistan,"Joined January 9, 2016",98%,96%,8%,97%,"Website Design, HTML, PHP, WordPress, Graphic ...","Preferred Freelancer Program SLA 1,",$20 USD / hour,بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ\n\nI am a...
25,nabeelawais83,Web Development & Gtmetrix & WordPress Expert,5.0,pakistan,"Joined December 8, 2020",99%,95%,14%,98%,"PHP, HTML, Website Design, WordPress, Graphic ...","Preferred Freelancer Program SLA 1,",$10 USD / hour,"Hi, This is Nabeel Awais. I am a passionate gr..."
26,akhileshsharma09,Software Developer | Web Development and Desig...,5.0,india,"Joined November 12, 2020",98%,99%,10%,99%,"PHP, HTML, WordPress, CSS, JavaScript, Website...","Preferred Freelancer Program SLA 1,",$30 USD / hour,I have 4+ years of experience in the field of ...
27,yilmazsatti,European - High rated UX/UI Designer-16+ yrs exp.,5.0,turkey,"Joined November 6, 2015",98%,99%,14%,98%,"Graphic Design, User Interface / IA, Website D...","US English 1, Preferred Freelancer Program SLA...",Our Rate,I have 16 years experience in UI UX\nI have be...
28,GetReal,Php⦿WordPress⦿Magento⦿Shopify⦿Prestashop⦿Drupal,5.0,india,"Joined January 21, 2006",97%,98%,11%,99%,"PHP, WordPress, HTML, Website Design, CSS, Jav...","US English 1, Freelancer Orientation 1, Founda...",$25 USD / hour,EXCELLENCE UNLIMITED!!!\n\n⦿Born and Brought u...
29,w4web,Verified by Freelancer.com | 100% Success Rate.,5.0,pakistan,"Joined January 17, 2013",97%,97%,19%,100%,"PHP, WordPress, PSD to HTML, CSS, eCommerce, W...","Preferred Freelancer Program SLA 1, US English...",Our Rate,My skills:\nWordPress | Shopify | Woo Commerce...
30,admk80,"Php Laravel Development,wordpress",4.8,pakistan,"Joined November 8, 2014",89%,91%,22%,95%,"PHP, Website Design, WordPress, HTML, Shoppin...","Joomla! 1, Preferred Freelancer Program SLA 1,...",$15 USD / hour,ADMK Solutions is a leading website developmen...
31,pascuales,Professional Web & App Developer,4.9,colombia,"Joined November 4, 2020",94%,96%,15%,97%,"HTML, Website Design, PHP, Shopify, CSS, Shopi...","Preferred Freelancer Program SLA 1,",$50 USD / hour,"Hello, Everyone.\nThank you for reading my pro..."
32,TakeReal,"Woocommerce expert, WordPress expert, Magento ...",5.0,russian federation,"Joined March 27, 2004",99%,99%,21%,98%,"PHP, MySQL, WordPress, JavaScript, SQL, WooCom...","HTML 1, SQL 1, JavaScript 1, US English 1, Gen...",$33 USD / hour,Reputation and competence!\nI can repair broke...
33,webinfosoftware1,Full-Stack Web Developer with UI/UX Design Skill,4.9,india,"Joined May 20, 2017",91%,91%,18%,92%,"PHP, Website Design, HTML, WordPress, CSS, Jav...","Preferred Freelancer Program SLA 1,",$10 USD / hour,Website development and Designing is our speci...
34,caciocode,Graphics | Desktop software | Web Design,4.8,united kingdom,"Joined June 20, 2010",96%,89%,9%,98%,"PHP, HTML, WordPress, CSS, JavaScript, Website...",NaN,Our Rate,"I can design and build software, websites & mo..."
35,webiedev1,Php | Wordpress | Magento | Laravel | Frontend,5.0,pakistan,"Joined February 8, 2020",100%,100%,33%,100%,"HTML, Website Design, WordPress, CSS, Bootstra...","Preferred Freelancer Program SLA 1, HTML 1,",$20 USD / hour,بِسْمِ اللهِ الرَّحْمٰنِ الرَّحِيْمِ\n\nI am a...
36,SanjayExpert,14 Years of Excellence in Google Assets & SMM/SEM,4.9,india,"Joined March 5, 2021",95%,97%,12%,96%,"Facebook Marketing, Social Media Marketing, Go...","Preferred Freelancer Program SLA 1,",Our Rate,** Radhey Radhey || राधे राधे **\n\nHolding 14...
37,wpsolutionbd,TOP 2% Ranking on Freelancer,5.0,bangladesh,"Joined November 22, 2016",97%,98%,23%,99%,"WordPress, PHP, HTML, CSS, Graphic Design, Web...","Preferred Freelancer Program SLA 1, PHP 1, HTM...",$20 USD / hour,"A WordPress and PHP specialist by trade, I am ..."
38,devwebie,HTML | CSS | BOOTSTRAP | JQUERY | WORDPRESS | PHP,5.0,pakistan,"Joined July 17, 2017",99%,94%,22%,99%,"HTML, CSS, PHP, WordPress, CSS3, Website Desi...","Preferred Freelancer Program SLA 1, HTML 1, US...",$20 USD / hour,I am a web developer. I can do\n\n* PSD/Mockup...
39,rinku1902,Where expectations meet excellence!,5.0,india,"Joined September 23, 2019",100%,100%,24%,100%,"PHP, WordPress, HTML, CSS, JavaScript, Websi...","Preferred Freelancer Program SLA 1, Basic Nume...",Our Rate,WordPress Developer & Designer | Ecommerce Dev...
40,sarthakdhonchak,Full stack Developer & WordPress Expert,5.0,india,"Joined June 15, 2019",93%,91%,16%,96%,"HTML, PHP, Website Design, Graphic Design, Wor...","Preferred Freelancer Program SLA 1,",$35 USD / hour,When you hire me you get the best of TWO world...
41,ricardoba13,Web and Microsoft Office Specialists,5.0,venezuela,"Joined November 5, 2015",100%,97%,24%,100%,"Visual Basic, Excel, Microsoft Access, Visual ...","US English 1, Preferred Freelancer Program SLA...",Our Rate,"We have graphic designers, developers in VBA f..."
42,muhammasahmed,Website development | Website designing,5.0,pakistan,"Joined November 29, 2020",97%,100%,8%,98%,"HTML, PHP, WordPress, JavaScript, MySQL, HTML...","Preferred Freelancer Program SLA 1, WordPress 1,",$15 USD / hour,"Hi there,\n\nI’m Muhammad, and I’m a Web Devel..."
43,workwithhts,"Web Development, Mobile Application Development.",4.7,india,"Joined April 25, 2015",86%,86%,19%,97%,"PHP, Website Design, HTML, WordPress, CSS, eC...","Preferred Freelancer Program SLA 1, WordPress ...",$18 USD / hour,About us:\n200+ clients served all over the gl...
44,khurramkhan33,WordPress | Joomla | Graphic Designer,5.0,pakistan,"Joined April 14, 2013",98%,98%,18%,99%,"HTML, Website Design, PHP, WordPress, Graphic ...","Employer Orientation Exam 1, US English 1,",$40 USD / hour,Your online presence is beneficial for your bu...
45,scriptwork1,PHP | WordPress | Web Hosting | AWS | API,5.0,united states,"Joined April 27, 2021",100%,100%,6%,100%,"PHP, WordPress, HTML, Linux, MySQL, System Adm...",NaN,$125 USD / hour,Hi there\nI am a Seasoned WordPress profession...
46,anushkacreation,WordPress Expert Front-End & Back-End Developer,5.0,india,"Joined May 27, 2011",99%,99%,18%,99%,"WordPress, PHP, Website Design, HTML, Graphic ...","Freelancer Orientation 1, HTML 1,",$20 USD / hour,I am a freelance WordPress designer & develope...
47,neurohostbriones,Tec. Desarrollo web,4.8,nicaragua,"Joined March 21, 2017",84%,82%,19%,97%,"Website Design, WordPress, PHP, CSS, Linux, In...","Preferred Freelancer Program SLA 1,",$10 USD / hour,"Brindo los servicios de desarrollo web, diseño..."
48,TechTimes,"Top 2% in Freelancer, Website design & develop...",5.0,india,"Joined January 31, 2014",89%,85%,40%,99%,"Website Design, Graphic Design, HTML, PHP, Wor...","US English 1,",$9 USD / hour,"Have very good experience in Website Design, G..."
49,vbtise,"Online Shops, Web & Mobile Application Experts",4.9,pakistan,"Joined August 12, 2012",96%,91%,19%,90%,"PHP, vBulletin, JavaScript, WordPress, HTML5,...","WordPress 1, Preferred Freelancer Program SLA ...",Our Rate,Why You Should Hire Us:\nA group of 40 enginee...

In [11]:
toDrop = ["oneliner", "description", "user_certifications", "member_since", "on_budget_completed_rate", "on_time_rate", "repeat_hire_rate", "jobs_completed_rate"]
freel = freel.drop(toDrop, axis=1)
freel.head()

,username,rating,location,user_skills,price_per_hour
0,sapotacorp,5.0,vietnam,"HTML, WordPress, Magento, PHP, Website Design...",$25 USD / hour
1,saidesigner87,4.9,india,"Website Design, Graphic Design, HTML, WordPres...",$20 USD / hour
2,technovicinity,4.7,bangladesh,"PHP, Website Design, Graphic Design, WordPres...",Our Rate
3,irfan811,5.0,pakistan,"Website Design, CSS, MySQL, WordPress, PHP, J...",$20 USD / hour
4,acewebexperts,5.0,india,"Internet Marketing, SEO, Link Building, Google...",Our Rate

In [12]:
freel.rename(columns={'username':'name'}, inplace=True)
freel.rename(columns={'location':'address'}, inplace=True)
freel.rename(columns={'user_skills':'specialization'}, inplace=True)
freel.rename(columns={'price_per_hour':'price'}, inplace=True)
freel['price'] = freel['price'].str.replace(r'[^\d]+', '')
freel['price'] = freel['price'].replace('', pd.NA)

freel.head()

<ipython-input-12-18746448bf62>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  freel['price'] = freel['price'].str.replace(r'[^\d]+', '')

,name,rating,address,specialization,price
0,sapotacorp,5.0,vietnam,"HTML, WordPress, Magento, PHP, Website Design...",25
1,saidesigner87,4.9,india,"Website Design, Graphic Design, HTML, WordPres...",20
2,technovicinity,4.7,bangladesh,"PHP, Website Design, Graphic Design, WordPres...",<NA>
3,irfan811,5.0,pakistan,"Website Design, CSS, MySQL, WordPress, PHP, J...",20
4,acewebexperts,5.0,india,"Internet Marketing, SEO, Link Building, Google...",<NA>

### HirsutePippo Medici

In [13]:
hpmedici = pd.read_csv('sources/professionisti/hpmedici.csv')
hpmedici.head()

,Name,Specialties,Affiliations,Years In Practice,Provider Gender,Language,Age Groups Seen,Education,Rating
0,Vicki L Solway,Pediatrics,"Beaumont Hospital, Royal Oak",39.0,Female,English,Newborns Pediatrics Teenagers,Children's Hospital of Michigan - DMC,NaN
1,Isabel Holland-Davis,Pediatrics,"Beaumont Hospital, Royal Oak",33.0,Female,English,Pediatrics,University of Michigan Hospitals and Health Ce...,NaN
2,Erin C Duchan,Pediatrics,"Beaumont Hospital, Royal Oak",13.0,Female,English,Newborns Pediatrics Teenagers,Kalamazoo Center for Medical Studies,NaN
3,Mark B Wein,Family Medicine,"Beaumont Hospital, Trenton",29.0,Male,English,Newborns Pediatrics Teenagers Adults Geriatrics,Garden City Hospital,NaN
4,Sumit N Fogla,Family Medicine,"Beaumont Hospital, Dearborn",19.0,Male,English Gujarati Hindi Punjabi Urdu,Newborns Pediatrics Teenagers Adults Geriatrics,Wayne State University School of Medicine,4.8 out of 5

In [14]:
toDrop = ["Affiliations", "Age Groups Seen", "Education"]
hpmedici = hpmedici.drop(toDrop, axis=1)
hpmedici.head()

,Name,Specialties,Years In Practice,Provider Gender,Language,Rating
0,Vicki L Solway,Pediatrics,39.0,Female,English,NaN
1,Isabel Holland-Davis,Pediatrics,33.0,Female,English,NaN
2,Erin C Duchan,Pediatrics,13.0,Female,English,NaN
3,Mark B Wein,Family Medicine,29.0,Male,English,NaN
4,Sumit N Fogla,Family Medicine,19.0,Male,English Gujarati Hindi Punjabi Urdu,4.8 out of 5

In [15]:
hpmedici.rename(columns={'Name':'name'}, inplace=True)
hpmedici.rename(columns={'Specialties':'specialization'}, inplace=True)
hpmedici.rename(columns={'Language':'spokenLanguages'}, inplace=True)
hpmedici.rename(columns={'Rating':'rating'}, inplace=True)
hpmedici.rename(columns={'Years In Practice':'yearsOfExperience'}, inplace=True)
hpmedici.rename(columns={'Provider Gender':'gender'}, inplace=True)
hpmedici['rating'] = hpmedici['rating'].str[0:3]
hpmedici['gender']= hpmedici.apply(lambda x: gender(x['gender']), axis=1)
hpmedici.head()

,name,specialization,yearsOfExperience,gender,spokenLanguages,rating
0,Vicki L Solway,Pediatrics,39.0,F,English,NaN
1,Isabel Holland-Davis,Pediatrics,33.0,F,English,NaN
2,Erin C Duchan,Pediatrics,13.0,F,English,NaN
3,Mark B Wein,Family Medicine,29.0,M,English,NaN
4,Sumit N Fogla,Family Medicine,19.0,M,English Gujarati Hindi Punjabi Urdu,4.8

### HirsutePippo Dottori

In [16]:
hpdottori = pd.read_csv('sources/professionisti/hpdottori.csv')
hpdottori.head()

,Name,Specialization,Subspecializations,City,Hospital,Gender,Years of Experience,Languages,Address,Tel.
0,Maximino Martell,Acute Care Nurse Practitioner,Acute Care + 3 more subspecialties,"Covington, LA",St. Tammany Health System-Main Campus,Male,6 - 10 Yrs Experience,"Spanish, English","80 Gardenia Drive, Covington, LA, 70433",1-985-283-2881
1,Amy T. Aaron (Morio-Aaron),Acute Care Nurse Practitioner,Acute Care + 1 more subspecialties,"Lafayette, LA",NaN,Female,6 - 10 Yrs Experience,English,"107 Montrose Ave, Lafayette, LA, 70503",(337) 981-9316
2,Alexis Aaronson,Acute Care Nurse Practitioner,Acute Care + 1 more subspecialties,"Harrisburg, PA",Helen M. Simpson Rehabilitation Hospital + 2 a...,Female,6 - 10 Yrs Experience,English,"4310 Londonderry Rd, Harrisburg, PA, 17109",(717) 988-0611
3,Adeline Abam (Asandan),Acute Care Nurse Practitioner,Acute Care + 1 more subspecialties,"Fort Worth, TX",JPS Health Network-Fort Worth,Female,6 - 10 Yrs Experience,English,"3840 Hulen St, Fort Worth, TX, 76107",(817) 335-3022
4,Pamela Abascal,Acute Care Nurse Practitioner,Acute Care,"El Paso, TX",NaN,Female,6 - 10 Yrs Experience,English,"1600 Medical Center Dr Ste 212, El Paso, TX, 7...",(915) 532-3977

In [17]:
toDrop = ["Subspecializations", "Hospital", "City"]
hpdottori = hpdottori.drop(toDrop, axis=1)
hpdottori.head()

,Name,Specialization,Gender,Years of Experience,Languages,Address,Tel.
0,Maximino Martell,Acute Care Nurse Practitioner,Male,6 - 10 Yrs Experience,"Spanish, English","80 Gardenia Drive, Covington, LA, 70433",1-985-283-2881
1,Amy T. Aaron (Morio-Aaron),Acute Care Nurse Practitioner,Female,6 - 10 Yrs Experience,English,"107 Montrose Ave, Lafayette, LA, 70503",(337) 981-9316
2,Alexis Aaronson,Acute Care Nurse Practitioner,Female,6 - 10 Yrs Experience,English,"4310 Londonderry Rd, Harrisburg, PA, 17109",(717) 988-0611
3,Adeline Abam (Asandan),Acute Care Nurse Practitioner,Female,6 - 10 Yrs Experience,English,"3840 Hulen St, Fort Worth, TX, 76107",(817) 335-3022
4,Pamela Abascal,Acute Care Nurse Practitioner,Female,6 - 10 Yrs Experience,English,"1600 Medical Center Dr Ste 212, El Paso, TX, 7...",(915) 532-3977

In [18]:
hpdottori.rename(columns={'Name':'name'}, inplace=True)
hpdottori.rename(columns={'Specialization':'specialization'}, inplace=True)
hpdottori.rename(columns={'Languages':'spokenLanguages'}, inplace=True)
hpdottori.rename(columns={'Rating':'rating'}, inplace=True)
hpdottori.rename(columns={'Years of Experience':'yearsOfExperience'}, inplace=True)
hpdottori.rename(columns={'Gender':'gender'}, inplace=True)
hpdottori.rename(columns={'Address':'address'}, inplace=True)
hpdottori.rename(columns={'Tel.':'telephone'}, inplace=True)
hpdottori['yearsOfExperience'] = hpdottori['yearsOfExperience'].str[0:1]
hpdottori['gender']= hpdottori.apply(lambda x: gender(x['gender']), axis=1)
hpdottori.head()

,name,specialization,gender,yearsOfExperience,spokenLanguages,address,telephone
0,Maximino Martell,Acute Care Nurse Practitioner,M,6,"Spanish, English","80 Gardenia Drive, Covington, LA, 70433",1-985-283-2881
1,Amy T. Aaron (Morio-Aaron),Acute Care Nurse Practitioner,F,6,English,"107 Montrose Ave, Lafayette, LA, 70503",(337) 981-9316
2,Alexis Aaronson,Acute Care Nurse Practitioner,F,6,English,"4310 Londonderry Rd, Harrisburg, PA, 17109",(717) 988-0611
3,Adeline Abam (Asandan),Acute Care Nurse Practitioner,F,6,English,"3840 Hulen St, Fort Worth, TX, 76107",(817) 335-3022
4,Pamela Abascal,Acute Care Nurse Practitioner,F,6,English,"1600 Medical Center Dr Ste 212, El Paso, TX, 7...",(915) 532-3977

### MMS Atlanta Magazine

In [19]:
path = 'sources/professionisti/mmsAtlanta.csv'

with open(path, 'r', encoding='utf-8') as f:
    mmsAtlanta = pd.read_csv(path, sep=';', engine='python',index_col = False).dropna(how='all', axis=1)
mmsAtlanta.head(10)

,medical_specialty,doc_name,hospital,hospital_affiliations,doc_special_expertise,hospital_address,hospital_telephone
0,Family Medicine,"Susana Ajoy Alfonso, MD","Emory at Dunwoody, Family Medicine","Emory University Hospital Midtown, Emory Univ...","preventive medicine, women’s health, diabetes","4500 North Shallowford Road, Dunwoody, 30338",404-778-6920
1,Family Medicine,"Claudio S. Bondulich, MD",Emory at Decatur Primary Care,Emory Decatur Hospital,chronic illness,"2675 North Decatur Road, Suite 601, Decatur, 3...",404-501-2900
2,Family Medicine,"George W. Brown, MD",Department of Family Medicine,Wellstar Atlanta Medical Center,geriatric medicine,"Wellstar Atlanta Medical Center, 1000 Corporat...",770-968-6464
3,Family Medicine,"Dwana M. Bush, MD",HIPnation,Emory Saint Joseph’s Hospital,"complementary medicine, palliative care, prev...","11660 Alpharetta Highway, 200 Building, Suite ...",404-255-5774
4,Family Medicine,"Thomas E. Gearhard, MD",Wellstar Medical Group,"preventive medicine, diabetes",NaN,"Cobb Family Medicine, 1790 Mulkey Road, Suite ...",770-944-1830
5,Family Medicine,"Marti R. Gibbs, MD",The Longstreet Clinic Department of Family Med...,Northeast Georgia Medical Center,diabetes,"4222 Fairbanks Drive, Oakwood, 30566",770-534-6053
6,Family Medicine,"Vinaya Gokki, MD",JenCare Senior Medical Center,"chronic illness, preventive medicine, women’s...",NaN,"2084 Headland Drive, East Point, 30344",404-965-5691
7,Family Medicine,"Clarke Latimer, MD",Piedmont Physicians of Midtown Family Practice,Piedmont Medical Center,NaN,"1080 Peachtree Street NE, Suite 12, Atlanta, 3...",404-253-3660
8,Family Medicine,"Lawrence J. McAleer, MD",The Southeast Permanente Medical Group,Emory Saint Joseph’s Hospital,NaN,"Townpark Medical Center, 750 Townpark Lane NW,...",404-365-0966
9,Family Medicine,"Rolf W. Meinhold, MD",MDVIP,Wellstar North Fulton Hospital,"concierge medicine, preventive medicine, adol...","2702 Abbey Court, Alpharetta, 30004",770-789-1398

In [20]:
toDrop = ["hospital", "hospital_affiliations", "doc_special_expertise"]
mmsAtlanta = mmsAtlanta.drop(toDrop, axis=1)
mmsAtlanta.head()

,medical_specialty,doc_name,hospital_address,hospital_telephone
0,Family Medicine,"Susana Ajoy Alfonso, MD","4500 North Shallowford Road, Dunwoody, 30338",404-778-6920
1,Family Medicine,"Claudio S. Bondulich, MD","2675 North Decatur Road, Suite 601, Decatur, 3...",404-501-2900
2,Family Medicine,"George W. Brown, MD","Wellstar Atlanta Medical Center, 1000 Corporat...",770-968-6464
3,Family Medicine,"Dwana M. Bush, MD","11660 Alpharetta Highway, 200 Building, Suite ...",404-255-5774
4,Family Medicine,"Thomas E. Gearhard, MD","Cobb Family Medicine, 1790 Mulkey Road, Suite ...",770-944-1830

In [21]:
mmsAtlanta.rename(columns={'medical_specialty':'specialization'}, inplace=True)
mmsAtlanta.rename(columns={'doc_name':'name'}, inplace=True)
mmsAtlanta.rename(columns={'hospital_address':'address'}, inplace=True)
mmsAtlanta.rename(columns={'hospital_telephone':'telephone'}, inplace=True)
mmsAtlanta.head()

,specialization,name,address,telephone
0,Family Medicine,"Susana Ajoy Alfonso, MD","4500 North Shallowford Road, Dunwoody, 30338",404-778-6920
1,Family Medicine,"Claudio S. Bondulich, MD","2675 North Decatur Road, Suite 601, Decatur, 3...",404-501-2900
2,Family Medicine,"George W. Brown, MD","Wellstar Atlanta Medical Center, 1000 Corporat...",770-968-6464
3,Family Medicine,"Dwana M. Bush, MD","11660 Alpharetta Highway, 200 Building, Suite ...",404-255-5774
4,Family Medicine,"Thomas E. Gearhard, MD","Cobb Family Medicine, 1790 Mulkey Road, Suite ...",770-944-1830

### MMS Atlanta Doctor

In [22]:
path = 'sources/professionisti/mmsAtlantaDoctors.csv'

with open(path, 'r', encoding='utf-8') as f:
    mmsAtlantaDoc = pd.read_csv(path, sep=';', engine='python',index_col = False).dropna(how='all', axis=1)
mmsAtlantaDoc.head(10)

,medical_specialty,board_certifications,doc_name,doc_gender,doc_languages,hospital,hospital_affiliations,hospital_telephone,fellowships,education_and_training_medical_school,education_and_training_internship,education_and_training_residency
0,Infectious Diseases,ABMS Internal Medicine,"Albert M. L. Anderson, MD, MHS",Male,NaN,Ponce De Leon Center,Emory,(404) 616-1000,Duke University Medical Center,University of North Carolina School of Medicine,NaN,Duke University Medical Center
1,Otolaryngology,NaN,"Mark Arnold, MD",Male,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,NaN,MINNESOTA MEDICAL SCHOOL,SUNY Upstate Medical University,NaN
2,Neurosurgery,ABMS Surgery,"Faiz U. Ahmad, MD, MCh, FAANS",Male,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,Jackson Memorial Hospital,All India Institute of Medical Asari Nager,NaN,Jackson Memorial Hospital
3,Pediatric Medicine,ABMS Pediatrics,"Melissa C. Adams, MD",Female,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,NaN,Emory University School of Medicine,NaN,Emory University School of Medicine
4,Diagnostic Radiology,ABMS Radiology,"Eugene A. Berkowitz, MD",Male,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,University of Texas Houston Health Science Center,Tulane University School of Medicine,Tulane University School of Medicine,Tulane University School of Medicine
5,Internal Medicine,ABMS Internal Medicine,"Omar S. Ahmad, MD",Male,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,NaN,Baqai Medical College,Capital Health Regional Medical,Capital Health Regional Medical Center
6,Diagnostic Radiology,ABMS Radiology,"Michael Aguilar, MD",Male,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,NaN,University of Arkansas for Medical Sciences,University of Arkansas for Medical Sciences,University of South Alabama
7,Internal Medicine,ABMS Internal Medicine,"Bhavin B. Adhyaru, MS, MD, FACP",Male,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,NaN,University of Florida,NaN,Emory University Hospital
8,Surgical Critical Care,NaN,"Stephanie Busby, MD",Female,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,Emory University School of Medicine,West Virginia University School of Medicine,NaN,"University of Tennessee Health Science Center,..."
9,Emergency Medicine,ABMS Emergency Medicine,"Selin Caglar, MD",Female,NaN,Grady Memorial Hospital,Emory,(404) 616-1000,NaN,University of Vermont College of Medicine,NaN,Baystate Medical Center

In [23]:
toDrop = ["board_certifications", "hospital", "hospital_affiliations", "fellowships", "education_and_training_medical_school", "education_and_training_internship", "education_and_training_residency"]
mmsAtlantaDoc = mmsAtlantaDoc.drop(toDrop, axis=1)
mmsAtlantaDoc.head()

,medical_specialty,doc_name,doc_gender,doc_languages,hospital_telephone
0,Infectious Diseases,"Albert M. L. Anderson, MD, MHS",Male,NaN,(404) 616-1000
1,Otolaryngology,"Mark Arnold, MD",Male,NaN,(404) 616-1000
2,Neurosurgery,"Faiz U. Ahmad, MD, MCh, FAANS",Male,NaN,(404) 616-1000
3,Pediatric Medicine,"Melissa C. Adams, MD",Female,NaN,(404) 616-1000
4,Diagnostic Radiology,"Eugene A. Berkowitz, MD",Male,NaN,(404) 616-1000

In [24]:
mmsAtlantaDoc.rename(columns={'medical_specialty':'specialization'}, inplace=True)
mmsAtlantaDoc.rename(columns={'doc_name':'name'}, inplace=True)
mmsAtlantaDoc.rename(columns={'doc_gender':'gender'}, inplace=True)
mmsAtlantaDoc.rename(columns={'doc_languages':'spokenLanguages'}, inplace=True)
mmsAtlantaDoc.rename(columns={'hospital_telephone':'telephone'}, inplace=True)
mmsAtlantaDoc['gender']= mmsAtlantaDoc.apply(lambda x: gender(x['gender']), axis=1)
mmsAtlantaDoc.head()

,specialization,name,gender,spokenLanguages,telephone
0,Infectious Diseases,"Albert M. L. Anderson, MD, MHS",M,NaN,(404) 616-1000
1,Otolaryngology,"Mark Arnold, MD",M,NaN,(404) 616-1000
2,Neurosurgery,"Faiz U. Ahmad, MD, MCh, FAANS",M,NaN,(404) 616-1000
3,Pediatric Medicine,"Melissa C. Adams, MD",F,NaN,(404) 616-1000
4,Diagnostic Radiology,"Eugene A. Berkowitz, MD",M,NaN,(404) 616-1000

### Scarano Investing

In [25]:
investing = pd.read_csv('sources/professionisti/scaranoinvesting.csv')
investing.head()

,Unnamed: 0,Unnamed: 0.1,name,title,company_ticker,source
0,10376,10376,Laura Gonzalez-Molero,Independent Director,VIS,investing
1,10377,10377,Carmen de Pablo Redondo,Independent Director,VIS,investing
2,10378,10378,Robert Peugeot,Non-Executive Vice Chairman of the Board,STLA,investing
3,10379,10379,Ignacio Marco-Gardoqui Ibanez,Independent Vice Chairman,VIS,investing
4,10380,10380,Carlos Tavares,CEO & Executive Director,STLA,investing

In [26]:
toDrop = ["Unnamed: 0", "Unnamed: 0.1", "company_ticker", "source"]
investing = investing.drop(toDrop, axis=1)
investing.head()

                            name                                     title
0          Laura Gonzalez-Molero                      Independent Director
1        Carmen de Pablo Redondo                      Independent Director
2                 Robert Peugeot  Non-Executive Vice Chairman of the Board
3  Ignacio Marco-Gardoqui Ibanez                 Independent Vice Chairman
4                 Carlos Tavares                  CEO & Executive Director

In [27]:
investing.rename(columns={'title':'specialization'}, inplace=True)
investing.head()

                            name                            specialization
0          Laura Gonzalez-Molero                      Independent Director
1        Carmen de Pablo Redondo                      Independent Director
2                 Robert Peugeot  Non-Executive Vice Chairman of the Board
3  Ignacio Marco-Gardoqui Ibanez                 Independent Vice Chairman
4                 Carlos Tavares                  CEO & Executive Director

### Scarano Finance

In [28]:
finance = pd.read_csv('sources/professionisti/scaranofinance.csv')
finance.head()

,Unnamed: 0,Unnamed: 0.1,name,title,company_ticker,source
0,0,0,Mr. R. Wade Rogers,Sr. VP of Global HR & Chief Compliance Officer,HUN,yahoo
1,1,1,Mr. Rafal Brzoska,CEO & Chairman of Management Board,INPOY,yahoo
2,2,2,Mr. David M. Stryker,"Exec. VP, Gen. Counsel & Sec.",HUN,yahoo
3,3,3,Mr. Jose Teodoro Katigbak Limcaoco,"Pres, CEO & Director",BPHLY,yahoo
4,4,4,Mr. Anthony P. Hankins,Division Pres of Polyurethanes & CEO of Asia-P...,HUN,yahoo

In [29]:
toDrop = ["Unnamed: 0", "Unnamed: 0.1", "company_ticker", "source"]
finance = finance.drop(toDrop, axis=1)
finance.head()

,name,title
0,Mr. R. Wade Rogers,Sr. VP of Global HR & Chief Compliance Officer
1,Mr. Rafal Brzoska,CEO & Chairman of Management Board
2,Mr. David M. Stryker,"Exec. VP, Gen. Counsel & Sec."
3,Mr. Jose Teodoro Katigbak Limcaoco,"Pres, CEO & Director"
4,Mr. Anthony P. Hankins,Division Pres of Polyurethanes & CEO of Asia-P...

In [30]:
finance.rename(columns={'title':'specialization'}, inplace=True)
finance.head()

,name,specialization
0,Mr. R. Wade Rogers,Sr. VP of Global HR & Chief Compliance Officer
1,Mr. Rafal Brzoska,CEO & Chairman of Management Board
2,Mr. David M. Stryker,"Exec. VP, Gen. Counsel & Sec."
3,Mr. Jose Teodoro Katigbak Limcaoco,"Pres, CEO & Director"
4,Mr. Anthony P. Hankins,Division Pres of Polyurethanes & CEO of Asia-P...

### A&A Developer

In [31]:
developer = pd.read_csv('sources/professionisti/developer.csv')
developer.head()

,name,skills,speciality,languages,about,pay rate,location,availability,experience,reply rate,age
0,mehmet salih kemaloglu,developer\nback-end,backend developer,english\nturkish,i'm a backend developer with a passion for bui...,$30/hr,"bangkok, bangkok, thailand",hourly ($/hour),3 years,-,NaN
1,shoaib uddin,ionic framework\nsoftware development\nios dev...,hybrid ionic / native ios fullstack developer,english\nurdu,"hi, i am shoaib, and i am an experienced softw...",$12.50/hr,"karachi, sindh, pakistan",hourly ($/hour),6 years,50.0%,35 years old
2,muhammad wasem,php\njquery\njavascript\npsd conversion\ncss\n...,"professional wordpress , php , magento developer",english\nhindi\nurdu,i am a professional programmer having more tha...,$16/hr,"shahkot, punjab, pakistan",hourly ($/hour),10 years,40.0%,NaN
3,diamond kumar diwan,developer\njavascript\njava,developer,english\nhindi,"2 years of experience in india post, well vers...",$5/hr,"mahasamund, chhattisgarh, india",hourly ($/hour),2 years,-,25 years old
4,kristel m. aban,rpa\nuipath\nrobotic process automation\nrpa d...,rpa developer,english,i am an rpa developer with a track record of r...,$25/hr,"quezon city, metromanila, philippines",hourly ($/hour),5 years,-,27 years old

In [32]:
toDrop = ["about", "availability", "reply rate", "age", "skills"]
developer = developer.drop(toDrop, axis=1)
developer.head()

,name,speciality,languages,pay rate,location,experience
0,mehmet salih kemaloglu,backend developer,english\nturkish,$30/hr,"bangkok, bangkok, thailand",3 years
1,shoaib uddin,hybrid ionic / native ios fullstack developer,english\nurdu,$12.50/hr,"karachi, sindh, pakistan",6 years
2,muhammad wasem,"professional wordpress , php , magento developer",english\nhindi\nurdu,$16/hr,"shahkot, punjab, pakistan",10 years
3,diamond kumar diwan,developer,english\nhindi,$5/hr,"mahasamund, chhattisgarh, india",2 years
4,kristel m. aban,rpa developer,english,$25/hr,"quezon city, metromanila, philippines",5 years

In [33]:
developer.rename(columns={'speciality':'specialization'}, inplace=True)
developer.rename(columns={'languages':'spokenLanguages'}, inplace=True)
developer.rename(columns={'pay rate':'price'}, inplace=True)
developer.rename(columns={'location':'address'}, inplace=True)
developer.rename(columns={'experience':'yearsOfExperience'}, inplace=True)
developer['yearsOfExperience'] = developer['yearsOfExperience'].str.replace(r'[^\d]+', '')
developer['price'] = developer['price'].str.replace(r'[^\d]+', '')
developer.head()

<ipython-input-33-dc589c091390>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  developer['yearsOfExperience'] = developer['yearsOfExperience'].str.replace(r'[^\d]+', '')
<ipython-input-33-dc589c091390>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  developer['price'] = developer['price'].str.replace(r'[^\d]+', '')

,name,specialization,spokenLanguages,price,address,yearsOfExperience
0,mehmet salih kemaloglu,backend developer,english\nturkish,30,"bangkok, bangkok, thailand",3
1,shoaib uddin,hybrid ionic / native ios fullstack developer,english\nurdu,1250,"karachi, sindh, pakistan",6
2,muhammad wasem,"professional wordpress , php , magento developer",english\nhindi\nurdu,16,"shahkot, punjab, pakistan",10
3,diamond kumar diwan,developer,english\nhindi,5,"mahasamund, chhattisgarh, india",2
4,kristel m. aban,rpa developer,english,25,"quezon city, metromanila, philippines",5

### A&A Truelancer

In [34]:
freelancer = pd.read_csv('sources/professionisti/freelancer.csv')
freelancer.head()

,name,experties,country,payRate,rating,aviability,specialities,projects completed,feedbacks,buyer worked with,followers,services delivered,contest completed,total earnings,total refund
0,komal karale,"Adobe InDesign,HTML,HTML5,Google Adsense,Busin...",", india",$7/hr,4.1,current availability,web developer | ui ux designer | graphic designer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,anit prajapati,"Logo Design,Banner Design,User Interface IA,Co...","ahmedabad , india",$9/hr,4.6,current availability,ui / ux designer | graphic designer | web deve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,peace okafor,"Content Writing,Blog Writing,SEO,Digital Marke...",", nigeria",$10/hr,5.0,current availability,"wordpress developer, seo blogger, customer sup...",16.0,14.0,10.0,NaN,1.0,0.0,$ 581,0.0
3,mithun k,"PHP,javascript,Mobile App,Java,MongoDB,NodeJS,...",", india",$14/hr,4.6,current availability,full stack lamp & mern developer | shopify & w...,28.0,25.0,13.0,NaN,1.0,0.0,$ 4134,2.0
4,srimanti chakraborty,"ERP,HTML5,Photoshop,Website Design,Graphic Des...","kolkata , india",$7/hr,5.0,current availability,web developer | designer | erp developer | wor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
toDrop = ["experties", "aviability", "projects completed", "country", "feedbacks", "buyer worked with", "followers", "services delivered", "contest completed", "total earnings", "total refund"]
freelancer = freelancer.drop(toDrop, axis=1)
freelancer.head()

,name,payRate,rating,specialities
0,komal karale,$7/hr,4.1,web developer | ui ux designer | graphic designer
1,anit prajapati,$9/hr,4.6,ui / ux designer | graphic designer | web deve...
2,peace okafor,$10/hr,5.0,"wordpress developer, seo blogger, customer sup..."
3,mithun k,$14/hr,4.6,full stack lamp & mern developer | shopify & w...
4,srimanti chakraborty,$7/hr,5.0,web developer | designer | erp developer | wor...

In [36]:
freelancer.rename(columns={'specialities':'specialization'}, inplace=True)
freelancer.rename(columns={'payRate':'price'}, inplace=True)
freelancer['price'] = freelancer['price'].str.replace(r'[^\d]+', '')
freelancer.head()

<ipython-input-36-444d32e13612>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  freelancer['price'] = freelancer['price'].str.replace(r'[^\d]+', '')

,name,price,rating,specialization
0,komal karale,7,4.1,web developer | ui ux designer | graphic designer
1,anit prajapati,9,4.6,ui / ux designer | graphic designer | web deve...
2,peace okafor,10,5.0,"wordpress developer, seo blogger, customer sup..."
3,mithun k,14,4.6,full stack lamp & mern developer | shopify & w...
4,srimanti chakraborty,7,5.0,web developer | designer | erp developer | wor...

### Andreoli Dottori

In [37]:
andreolidoc = pd.read_csv('sources/professionisti/hw2_dottori.it.csv')
andreolidoc.head()

,idx_doc,url,nome_doc,photo,tel,curr,tariffe,patologie,sedi
0,0,https://www.dottori.it/scipione-rossi-964176?n...,Dott. Scipione Rossi,https://static.dottori.it/img/DzaH6QS-PY3polUk...,+390685300853,"Il Dott. Scipione Rossi si laurea con lode, ne...",Tariffe guarda tutte Visita oculistica • € 250...,patologie guarda tutte Ambliopia Top Astenopia...,Sedi loading AppleMaps... VISION MEDICA: Centr...
1,10,https://www.dottori.it/daniele-popolizio-29588...,Daniele Popolizio,https://static.dottori.it/img/Nwlnx0AB19e1kkwO...,+39068543527,Il Prof. Daniele Popolizio è il Vincitore del ...,Tariffe guarda tutte Coaching • da € 100 a € 1...,patologie guarda tutte Ansia da prestazione To...,Sedi loading AppleMaps... Gruppo Cenpis Piazza...
2,11,https://www.dottori.it/grazia-lupoli-922277?nb...,Dott.ssa Grazia Lupoli,https://static.dottori.it/img/D1gqgd74DT07kwqW...,+393471068690,La Dott.ssa Lupoli ha conseguito la Laurea Mag...,Tariffe guarda tutte Consulenza per protesi de...,patologie guarda tutte Carie bambini Top Carie...,Sedi loading AppleMaps... Studio Privato Dott....
3,9,https://www.dottori.it/antonino-lagana-320707?...,Prof. Antonino Laganà,https://static.dottori.it/img/1FWj7k23bT_lTyrH...,+393358159508,Il Prof. Laganà si è laureato in Medicina e Ch...,Tariffe guarda tutte Prima visita urologica • ...,patologie guarda tutte Disfunzione erettile To...,Sedi loading AppleMaps... Prof. Laganà presso ...
4,3,https://www.dottori.it/pier-paolo-mariani-2961...,Prof. Pier Paolo Mariani,https://static.dottori.it/img/cr746bb_Hop01wDX...,+390635528297,Il Professor Pier Paolo Mariani si laurea in M...,Tariffe Prima visita ortopedica • € 160 Top Vi...,patologie,Sedi loading AppleMaps... Top Physio Balduina ...

In [38]:
toDrop = ["idx_doc", "url", "photo", "curr", "tariffe", "sedi"]
andreolidoc = andreolidoc.drop(toDrop, axis=1)
andreolidoc.head()

,nome_doc,tel,patologie
0,Dott. Scipione Rossi,+390685300853,patologie guarda tutte Ambliopia Top Astenopia...
1,Daniele Popolizio,+39068543527,patologie guarda tutte Ansia da prestazione To...
2,Dott.ssa Grazia Lupoli,+393471068690,patologie guarda tutte Carie bambini Top Carie...
3,Prof. Antonino Laganà,+393358159508,patologie guarda tutte Disfunzione erettile To...
4,Prof. Pier Paolo Mariani,+390635528297,patologie

In [39]:
andreolidoc.rename(columns={'nome_doc':'name'}, inplace=True)
andreolidoc.rename(columns={'tel':'telephone'}, inplace=True)
andreolidoc.rename(columns={'patologie':'specialization'}, inplace=True)
andreolidoc.head()

,name,telephone,specialization
0,Dott. Scipione Rossi,+390685300853,patologie guarda tutte Ambliopia Top Astenopia...
1,Daniele Popolizio,+39068543527,patologie guarda tutte Ansia da prestazione To...
2,Dott.ssa Grazia Lupoli,+393471068690,patologie guarda tutte Carie bambini Top Carie...
3,Prof. Antonino Laganà,+393358159508,patologie guarda tutte Disfunzione erettile To...
4,Prof. Pier Paolo Mariani,+390635528297,patologie

### Andreoli ProntoProfessionisti

In [40]:
andreoliprof = pd.read_csv('sources/professionisti/hw2_prontoprofessionista.it.csv')
andreoliprof.head()

,idx_prof,url,nome_prof,photo,tel,cap,attivita,profilo,servizi,iscrizione
0,0,https://www.prontoprofessionista.it/ricerca-pr...,AVV. PATRIZIA GIUSTI,https://prontoprofessionista.it/media/cache/sm...,0664850184,00181 Roma (RM),Diritto penale d'impresa,laureata a La Sapienza con la prima cattedra d...,Servizi offerti dallo studio Ambiente e territ...,2010 Ordine degli Avvocati di Roma
1,4,https://www.prontoprofessionista.it/ricerca-pr...,ING. GRANCINI CLAUDIO,https://prontoprofessionista.it/media/cache/sm...,0289305367,20142 Milano (MI),Ingegneria meccanica,Perito industriale meccanico. Laurea in ingegn...,Servizi offerti dallo studio Consulenza tecnic...,Ordine degli Ingegneri della provincia di Mila...
2,7,https://www.prontoprofessionista.it/ricerca-pr...,AVV. PAOLO CAVASSA,https://prontoprofessionista.it/media/cache/sm...,011530278,10121 Torino (TO),Diritto di famiglia,"Avvocato civilista, laureato in giurisprudenza...",Servizi offerti dallo studio Civile giudiziari...,1984-6-11
3,9,https://www.prontoprofessionista.it/ricerca-pr...,Psicologia Counseling Studio Parliamone,https://prontoprofessionista.it/media/cache/sm...,393934482694,71121 Foggia (FG),Consulenza psicologica,La mia professione di psicologa è incentrata n...,Servizi offerti dallo studio Attacchi di panic...,Ordine degli Psicologi della Regione Puglia n°...
4,8,https://www.prontoprofessionista.it/ricerca-pr...,AVV. GIULIO DEL PIZZO,https://prontoprofessionista.it/media/cache/sm...,3204688540,65126 Pescara (PE),Diritto di famiglia,L'Avv. Del Pizzo ha un curriculum di studi cla...,Servizi offerti dallo studio Civile giudiziari...,Iscritto all'Albo Avvocati di Pescara dal 2010.

In [41]:
toDrop = ["idx_prof", "url", "cap", "photo", "profilo", "servizi", "iscrizione"]
andreoliprof = andreoliprof.drop(toDrop, axis=1)
andreoliprof.head()

,nome_prof,tel,attivita
0,AVV. PATRIZIA GIUSTI,0664850184,Diritto penale d'impresa
1,ING. GRANCINI CLAUDIO,0289305367,Ingegneria meccanica
2,AVV. PAOLO CAVASSA,011530278,Diritto di famiglia
3,Psicologia Counseling Studio Parliamone,393934482694,Consulenza psicologica
4,AVV. GIULIO DEL PIZZO,3204688540,Diritto di famiglia

In [42]:
andreoliprof.rename(columns={'nome_prof':'name'}, inplace=True)
andreoliprof.rename(columns={'tel':'telephone'}, inplace=True)
andreoliprof.rename(columns={'attivita':'specialization'}, inplace=True)
andreoliprof.head()

,name,telephone,specialization
0,AVV. PATRIZIA GIUSTI,0664850184,Diritto penale d'impresa
1,ING. GRANCINI CLAUDIO,0289305367,Ingegneria meccanica
2,AVV. PAOLO CAVASSA,011530278,Diritto di famiglia
3,Psicologia Counseling Studio Parliamone,393934482694,Consulenza psicologica
4,AVV. GIULIO DEL PIZZO,3204688540,Diritto di famiglia

### PolloEPatatine RomaTre

In [43]:
romatre = pd.read_csv('sources/professionisti/dettagliDocentiR3.csv')
romatre.head()

,nome,qualifica,dipartimento,email,corsi
0,Dott. TOMMASO ALBANESI,Ricercatore universitario,Dipartimento di Architettura,tommaso.albanesi@uniroma3.it,"TECNICA DELLE COSTRUZIONI (21002006),TECNICA D..."
1,Prof. GIOVANNI CAUDO,Professore Ordinario,Dipartimento di Architettura,giovanni.caudo@uniroma3.it,"LABORATORIO DI URBANISTICA (21002005),STUDI UR..."
2,Prof. MARIO CERASOLI,Professore Associato,Dipartimento di Architettura,mario.cerasoli@uniroma3.it,"LABORATORIO DI URBANISTICA (21002063),PROGETTO..."
3,Prof. FRANCESCO CARERI,Professore Associato,Dipartimento di Architettura,francesco.careri@uniroma3.it,"ARTI CIVICHE (21002134),LABORATORIO DI PROGETT..."
4,Prof. MARCO BURRASCANO,Professore Associato,Dipartimento di Architettura,marco.burrascano@uniroma3.it,LABORATORIO DI PROGETTAZIONE ARCHITETTONICA 1 ...

In [44]:
toDrop = ["dipartimento", "corsi"]
romatre = romatre.drop(toDrop, axis=1)
romatre.head()

,nome,qualifica,email
0,Dott. TOMMASO ALBANESI,Ricercatore universitario,tommaso.albanesi@uniroma3.it
1,Prof. GIOVANNI CAUDO,Professore Ordinario,giovanni.caudo@uniroma3.it
2,Prof. MARIO CERASOLI,Professore Associato,mario.cerasoli@uniroma3.it
3,Prof. FRANCESCO CARERI,Professore Associato,francesco.careri@uniroma3.it
4,Prof. MARCO BURRASCANO,Professore Associato,marco.burrascano@uniroma3.it

In [45]:
romatre.rename(columns={'nome':'name'}, inplace=True)
romatre.rename(columns={'qualifica':'specialization'}, inplace=True)
romatre.head()

,name,specialization,email
0,Dott. TOMMASO ALBANESI,Ricercatore universitario,tommaso.albanesi@uniroma3.it
1,Prof. GIOVANNI CAUDO,Professore Ordinario,giovanni.caudo@uniroma3.it
2,Prof. MARIO CERASOLI,Professore Associato,mario.cerasoli@uniroma3.it
3,Prof. FRANCESCO CARERI,Professore Associato,francesco.careri@uniroma3.it
4,Prof. MARCO BURRASCANO,Professore Associato,marco.burrascano@uniroma3.it

### PolloEPatatine Bocconi

In [46]:
bocconi = pd.read_csv('sources/professionisti/dettagliDocentiBocconi.csv')
bocconi.head()

,nome,qualifica,dipartimento,email,corsi
0,DAVIDE ACHILLE,Ricercatore altra università (Universita' degl...,Dipartimento di Studi Giuridici,davide.achille@unibocconi.it,DIRITTO CIVILE - MODULO II (DIRITTO EUROPEO DE...
1,EMANUELE ACCONCIAMESSA,Academic Fellow,Dipartimento di Marketing,emanuele.acconciamessa@unibocconi.it,TRADE MARKETING AND CATEGORY MANAGEMENT
2,GIULIO ABBATE,Academic Fellow,Dipartimento di Accounting,giulio.abbate@unibocconi.it,"ACCOUNTING AND FINANCIAL STATEMENT ANALYSIS,P..."
3,GIUSEPPE ABBAMONTE,Academic Fellow,Dipartimento di Studi Giuridici,giuseppe.abbamonte@unibocconi.it,FREE SPEECH AND HUMAN RIGHTS IN THE CYBER SPA...
4,MICHELE ACCIARO,Academic Fellow,Dipartimento di Scienze sociali e politiche,michele.acciaro@unibocconi.it,PIANIFICAZIONE E GESTIONE DEL TRASPORTO MERCI

In [47]:
toDrop = ["dipartimento", "corsi"]
bocconi = bocconi.drop(toDrop, axis=1)
bocconi.head()

,nome,qualifica,email
0,DAVIDE ACHILLE,Ricercatore altra università (Universita' degl...,davide.achille@unibocconi.it
1,EMANUELE ACCONCIAMESSA,Academic Fellow,emanuele.acconciamessa@unibocconi.it
2,GIULIO ABBATE,Academic Fellow,giulio.abbate@unibocconi.it
3,GIUSEPPE ABBAMONTE,Academic Fellow,giuseppe.abbamonte@unibocconi.it
4,MICHELE ACCIARO,Academic Fellow,michele.acciaro@unibocconi.it

In [48]:
bocconi.rename(columns={'nome':'name'}, inplace=True)
bocconi.rename(columns={'qualifica':'specialization'}, inplace=True)
bocconi.head()

,name,specialization,email
0,DAVIDE ACHILLE,Ricercatore altra università (Universita' degl...,davide.achille@unibocconi.it
1,EMANUELE ACCONCIAMESSA,Academic Fellow,emanuele.acconciamessa@unibocconi.it
2,GIULIO ABBATE,Academic Fellow,giulio.abbate@unibocconi.it
3,GIUSEPPE ABBAMONTE,Academic Fellow,giuseppe.abbamonte@unibocconi.it
4,MICHELE ACCIARO,Academic Fellow,michele.acciaro@unibocconi.it

### CrispyMcData KPopping

In [49]:
kpopping = pd.read_csv('sources/professionisti/kpopping-idols.csv')
kpopping.head()

,active_group_links,active_group_names,active_group_periods,active_years,age,albums,awards,birthday,bloodtype,company_links,...,kpopping_rank,languages,native_name,personality_type,profile_link,socials,stage_name,training_period,weight,zodiac_sign
0,https://kpopping.com/profiles/group/Starex,Starex,(2018-2021),2014-2021,NaN,0,0,NaN,NaN,NaN,...,3620th,NaN,조현수,NaN,https://kpopping.com/profiles/idol/magnic,"https://www.instagram.com/1mgnc1/,https://soun...",!magnic!,NaN,NaN,NaN
1,NaN,NaN,NaN,2017-2021,23 years old,0,0,"March 12, 1998",NaN,NaN,...,1269th,"English,Chinese,Korean",Anthony Lo,NaN,https://kpopping.com/profiles/idol/Anthony,https://www.instagram.com/i.m.american/,Anthony,NaN,125.7 lbs (57 kg),Pisces
2,NaN,NaN,NaN,2019-2021,21 years old,0,0,"December 30, 1999",0,https://kpopping.com/company/ESteem-Entertainment,...,2981st,"English,French,Korean",앙자르디 디모데,NaN,https://kpopping.com/profiles/idol/Anzardi-Tim...,"https://www.instagram.com/tim_0thee/,https://w...",Anzardi Timothée,NaN,149.9 lbs (68 kg),Capricorn
3,"https://kpopping.com/profiles/group/NU-EST,htt...","NU'EST,NU'EST W","(2012-2021),(2017-2018)",2012-2021,28 years old,0,0,"May 21, 1993",A,NaN,...,986th,"English,Korean",곽영민,NaN,https://kpopping.com/profiles/idol/Aron,https://www.instagram.com/nuestaron/?hl=en,Aron,NaN,125.7 lbs (57 kg),Gemini
4,NaN,NaN,NaN,2011-2021,27 years old,0,0,"October 16, 1994",AB,NaN,...,1796th,"Korean,Chinese,English",吕振阳,NaN,https://kpopping.com/profiles/idol/Andy2,NaN,Andy,NaN,NaN,Libra

In [50]:
toDrop = ["company_names", "company_periods", "debut", "debut_to_1st_win", "education", "fandom", "former_group_links", "former_group_names", "fun_facts", "former_group_periods", "height", "introduction", "hometown", "korean_stage_name", "native_name", "active_group_links", "active_group_names", "active_group_periods","active_years","age","albums", "awards", "birthday", "bloodtype", "company_links", "kpopping_rank", "personality_type", "profile_link", "stage_name", "training_period", "weight", "zodiac_sign"]
kpopping = kpopping.drop(toDrop, axis=1)
kpopping.head()

,country,full_name,gender,languages,socials
0,South Korea,Jo Hyun-soo,M,NaN,"https://www.instagram.com/1mgnc1/,https://soun..."
1,United States,Anthony Lo,M,"English,Chinese,Korean",https://www.instagram.com/i.m.american/
2,South Korea,Anzardi Timothée,M,"English,French,Korean","https://www.instagram.com/tim_0thee/,https://w..."
3,United States,Kwak Young Min,M,"English,Korean",https://www.instagram.com/nuestaron/?hl=en
4,Hong Kong SAR China,Lui Chunyeung,M,"Korean,Chinese,English",NaN

In [51]:
kpopping.rename(columns={'full_name':'name'}, inplace=True)
kpopping.rename(columns={'languages':'spokenLanguages'}, inplace=True)
kpopping.rename(columns={'socials':'website'}, inplace=True)
kpopping.rename(columns={'country':'address'}, inplace=True)
kpopping.head()

,address,name,gender,spokenLanguages,website
0,South Korea,Jo Hyun-soo,M,NaN,"https://www.instagram.com/1mgnc1/,https://soun..."
1,United States,Anthony Lo,M,"English,Chinese,Korean",https://www.instagram.com/i.m.american/
2,South Korea,Anzardi Timothée,M,"English,French,Korean","https://www.instagram.com/tim_0thee/,https://w..."
3,United States,Kwak Young Min,M,"English,Korean",https://www.instagram.com/nuestaron/?hl=en
4,Hong Kong SAR China,Lui Chunyeung,M,"Korean,Chinese,English",NaN

### CrispyMcData KPop

In [52]:
kpop = pd.read_csv('sources/professionisti/kpopfandom-idols.csv')
kpop.head()

,active_years,agency_links,agency_names,association_links,association_names,birth_name,birth_place,bloodtype,family,family_links,...,instruments,legal_name,link,name,occupation,partner_links,partners,socials,solo_debut,weight
0,2016-2018,https://kpop.fandom.com//wiki/J_Planet_Enterta...,J Planet Entertainment,https://kpop.fandom.com//wiki/MASC,MASC,Kim Ji-hoon (김지훈),NaN,NaN,NaN,NaN,...,NaN,NaN,https://kpop.fandom.com/wiki/26,26,"Rapper, director",NaN,NaN,"https://www.instagram.com/j1hoon_k/,https://tw...",NaN,56 kg
1,2013–present,NaN,NaN,https://kpop.fandom.com//wiki/Bebop,Bebop,Seong Hyo-jin (성효진),South Korea,NaN,NaN,NaN,...,"Drums, piano",NaN,https://kpop.fandom.com/wiki/A-Yeon_(musician),A-Yeon,"Musician, singer",NaN,NaN,"https://www.facebook.com/ayeon3131,https://www...","July 28, 2018",41 kg (90 lb)
2,2021–present,https://kpop.fandom.com//wiki/C9_Entertainment,C9 Entertainment,https://kpop.fandom.com//wiki/EPEX,EPEX,Cho Min-woo (조민우),"Namyangju, Gyeonggi-do, South Korea",O,NaN,NaN,...,NaN,NaN,https://kpop.fandom.com/wiki/A-Min_(EPEX),A-Min,Singer,NaN,NaN,NaN,NaN,54 kg (119 lb)
3,2016-2018,https://kpop.fandom.com//wiki/J_Planet_Enterta...,J Planet Entertainment,https://kpop.fandom.com//wiki/MASC,MASC,Kim Dae-sung (김대성),NaN,NaN,NaN,NaN,...,NaN,NaN,https://kpop.fandom.com/wiki/ACE_(MASC),ACE,Rapper,NaN,NaN,"https://www.instagram.com/aceseaaiite/,https:/...",NaN,55 kg
4,2017–present,https://kpop.fandom.com//wiki/Liz_Entertainment,Liz Entertainment,"https://kpop.fandom.com//wiki/ICU,https://kpop...","ICU,CHIC&IDLE,YJIG,Chic Angel",Yang Jung-hee (양정희),NaN,A,NaN,NaN,...,NaN,NaN,https://kpop.fandom.com/wiki/Abin_(ICU),Abin,Singer,NaN,NaN,"https://www.instagram.com/icu_abin/,https://tw...",NaN,NaN

In [53]:
kpop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3160 entries, 0 to 3159
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   active_years       3146 non-null   object
 1   agency_links       1956 non-null   object
 2   agency_names       1967 non-null   object
 3   association_links  2977 non-null   object
 4   association_names  2989 non-null   object
 5   birth_name         2914 non-null   object
 6   birth_place        2560 non-null   object
 7   bloodtype          1984 non-null   object
 8   family             210 non-null    object
 9   family_links       210 non-null    object
 10  fandom             86 non-null     object
 11  fandom_colors      152 non-null    object
 12  group_debut        2140 non-null   object
 13  height             2326 non-null   object
 14  instruments        234 non-null    object
 15  legal_name         64 non-null     object
 16  link               3160 non-null   object
 17  name               3158 non-null   object
 18  occupation         3103 non-null   object
 19  partner_links      73 non-null     object
 20  partners           73 non-null     object
 21  socials            1905 non-null   object
 22  solo_debut         525 non-null    object
 23  weight             1794 non-null   object
dtypes: object(24)
memory usage: 592.6+ KB

In [54]:
toDrop = ["active_years","agency_links","agency_names","association_links","association_names","birth_name","birth_place","bloodtype","family","family_links","fandom","fandom_colors","group_debut","height","instruments","legal_name","link","partner_links","partners","solo_debut","weight"  ]
kpop = kpop.drop(toDrop, axis=1)
kpop.head()

     name        occupation                                            socials
0      26  Rapper, director  https://www.instagram.com/j1hoon_k/,https://tw...
1  A-Yeon  Musician, singer  https://www.facebook.com/ayeon3131,https://www...
2   A-Min            Singer                                                NaN
3     ACE            Rapper  https://www.instagram.com/aceseaaiite/,https:/...
4    Abin            Singer  https://www.instagram.com/icu_abin/,https://tw...

In [55]:
kpop.rename(columns={'occupation':'specialization'}, inplace=True)
kpop.rename(columns={'socials':'website'}, inplace=True)
kpop.head()

     name    specialization                                            website
0      26  Rapper, director  https://www.instagram.com/j1hoon_k/,https://tw...
1  A-Yeon  Musician, singer  https://www.facebook.com/ayeon3131,https://www...
2   A-Min            Singer                                                NaN
3     ACE            Rapper  https://www.instagram.com/aceseaaiite/,https:/...
4    Abin            Singer  https://www.instagram.com/icu_abin/,https://tw...

## Nasti Guru

In [58]:
nastiguru = pd.read_json(path_or_buf='sources/professionisti/nastiprofessionals_guru.jsonl', lines=True)

df = pd.DataFrame(nastiguru)
state = ""
df['state'] = state

nastiguru.head()

,id,name,location,earnings_amount,feedback,skills,bio,works_terms,stats,state
0,e3666219fd014cf3bb0d1d629802159f,Jerrick Cuahutle,"{'city': 'Westfield', 'state': 'Indiana', 'cou...","$140,924 /yr",97.7%,"[PCB Design, Arduino, Electrical Engineering, ...",I have 7 years of experience in electronic eng...,More than 40 hours per weekI can use any kind...,"{'all_time_earnings': '$192K', 'transactions_c...",
1,77569d591dfb40ecab0c9771b613e9f0,LEADconcept,"{'city': 'Lahore', 'state': 'Punjab', 'country...","$3,564 /yr",100%,"[MySQL, PHP, JavaScript, Ajax, jQuery, Website...","Greetings, I am Yasir - CEO & Founder of a wel...",We are flexible in payment terms and prefer to...,"{'all_time_earnings': '$78K', 'transactions_co...",
2,604f95bdf7a743bd9ec904b6dfc9b802,GeekforGigs,"{'city': 'New York', 'state': 'New York', 'cou...","$9,302 /yr",94.9%,"[Python, Data Analysis, Data Management, Desig...",GeekforGigs is a remote IT support provider wi...,We are available at any particular moment and ...,"{'all_time_earnings': '$12K', 'transactions_co...",
3,bbda5f4667d341929f4691a027f2a330,Maks N,"{'city': 'Sankt-Peterburg', 'state': 'Saint Pe...","$34,290 /yr",100%,"[3D Modeling, 3D Rendering, 3ds Max, Adobe InD...",NaN,NaN,"{'all_time_earnings': '$36K', 'transactions_co...",
4,6b981a9f577a4dfd8c435248550d3c93,Bay20 Software Consultancy Srv. P L,"{'city': 'Ghaziabad', 'state': 'Uttar Pradesh'...","$4,980 /yr",100%,"[JavaScript, CSS, HTML, Magento, HTML5, jQuery...",Bay20 Software Consultancy Services P L is an ...,NaN,"{'all_time_earnings': '$62K', 'transactions_co...",

In [59]:
arrayMap =[]
df = df.reset_index()
for index, row in df.iterrows():
        state = df.location[index]['state']
        arrayMap.append({
            'index': index,
            'state':df.location[index]['state']
        })

In [62]:
for i in arrayMap:
     nastiguru.loc[i['index']].state = i['state']
        
nastiguru.head()

,id,name,location,earnings_amount,feedback,skills,bio,works_terms,stats,state
0,e3666219fd014cf3bb0d1d629802159f,Jerrick Cuahutle,"{'city': 'Westfield', 'state': 'Indiana', 'cou...","$140,924 /yr",97.7%,"[PCB Design, Arduino, Electrical Engineering, ...",I have 7 years of experience in electronic eng...,More than 40 hours per weekI can use any kind...,"{'all_time_earnings': '$192K', 'transactions_c...",Indiana
1,77569d591dfb40ecab0c9771b613e9f0,LEADconcept,"{'city': 'Lahore', 'state': 'Punjab', 'country...","$3,564 /yr",100%,"[MySQL, PHP, JavaScript, Ajax, jQuery, Website...","Greetings, I am Yasir - CEO & Founder of a wel...",We are flexible in payment terms and prefer to...,"{'all_time_earnings': '$78K', 'transactions_co...",Punjab
2,604f95bdf7a743bd9ec904b6dfc9b802,GeekforGigs,"{'city': 'New York', 'state': 'New York', 'cou...","$9,302 /yr",94.9%,"[Python, Data Analysis, Data Management, Desig...",GeekforGigs is a remote IT support provider wi...,We are available at any particular moment and ...,"{'all_time_earnings': '$12K', 'transactions_co...",New York
3,bbda5f4667d341929f4691a027f2a330,Maks N,"{'city': 'Sankt-Peterburg', 'state': 'Saint Pe...","$34,290 /yr",100%,"[3D Modeling, 3D Rendering, 3ds Max, Adobe InD...",NaN,NaN,"{'all_time_earnings': '$36K', 'transactions_co...",Saint Petersburg City
4,6b981a9f577a4dfd8c435248550d3c93,Bay20 Software Consultancy Srv. P L,"{'city': 'Ghaziabad', 'state': 'Uttar Pradesh'...","$4,980 /yr",100%,"[JavaScript, CSS, HTML, Magento, HTML5, jQuery...",Bay20 Software Consultancy Services P L is an ...,NaN,"{'all_time_earnings': '$62K', 'transactions_co...",Uttar Pradesh

In [ ]:
toDrop = ["id","feedback","bio","works_terms", "location", "stats"]
nastiguru= nastiguru.drop(toDrop, axis=1)
nastiguru.head()
nastiguru.rename(columns={'skills':'specialization'}, inplace=True)
nastiguru.head()

#### Il datset mischia professionisti e compagnie, di conseguenza non e' possibile integrarlo perche' il dominio non e' verticale

## Phase 2: Dataset Concatenation

In [63]:
dataset = [dottori, avvocati, kpop, kpopping, freel, hpmedici, hpdottori, mmsAtlanta, mmsAtlantaDoc, investing, finance, developer, freelancer, andreolidoc, andreoliprof, romatre, bocconi]

for d in dataset:
    d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116 entries, 0 to 115
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             116 non-null    object
 1   specialization   116 non-null    object
 2   spokenLanguages  116 non-null    object
 3   address          116 non-null    object
 4   rating           94 non-null     float64
dtypes: float64(1), object(4)
memory usage: 4.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1054 entries, 0 to 1053
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1052 non-null   object
 1   yearsOfExperience  813 non-null    float64
 2   specialization     1054 non-null   object
 3   website            933 non-null    object
 4   address            1054 non-null   object
dtypes: float64(1), object(4)
memory usage: 41.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3160 entries, 0 to 3159
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3158 non-null   object
 1   specialization  3103 non-null   object
 2   website         1905 non-null   object
dtypes: object(3)
memory usage: 74.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          5556 non-null   object
 1   name             4785 non-null   object
 2   gender           5611 non-null   object
 3   spokenLanguages  2664 non-null   object
 4   website          3184 non-null   object
dtypes: object(5)
memory usage: 219.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1553 entries, 0 to 1552
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1553 non-null   object
 1   rating          1553 non-null   object
 2   address         1553 non-null   object
 3   specialization  1553 non-null   object
 4   price           1431 non-null   object
dtypes: object(5)
memory usage: 60.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               1260 non-null   object
 1   specialization     1260 non-null   object
 2   yearsOfExperience  474 non-null    float64
 3   gender             1260 non-null   object
 4   spokenLanguages    1260 non-null   object
 5   rating             222 non-null    object
dtypes: float64(1), object(5)
memory usage: 59.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7773 entries, 0 to 7772
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               7773 non-null   object
 1   specialization     7773 non-null   object
 2   gender             7564 non-null   object
 3   yearsOfExperience  7773 non-null   object
 4   spokenLanguages    7773 non-null   object
 5   address            7767 non-null   object
 6   telephone          7079 non-null   object
dtypes: object(7)
memory usage: 425.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1041 entries, 0 to 1040
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   specialization  1041 non-null   object
 1   name            1041 non-null   object
 2   address         1041 non-null   object
 3   telephone       1040 non-null   object
dtypes: object(4)
memory usage: 32.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1140 entries, 0 to 1139
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   specialization   1127 non-null   object
 1   name             1140 non-null   object
 2   gender           1140 non-null   object
 3   spokenLanguages  29 non-null     object
 4   telephone        1140 non-null   object
dtypes: object(5)
memory usage: 44.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18002 entries, 0 to 18001
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            18002 non-null  object
 1   specialization  18002 non-null  object
dtypes: object(2)
memory usage: 281.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21646 entries, 0 to 21645
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            21646 non-null  object
 1   specialization  21646 non-null  object
dtypes: object(2)
memory usage: 338.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18737 entries, 0 to 18736
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               18737 non-null  object
 1   specialization     18737 non-null  object
 2   spokenLanguages    18683 non-null  object
 3   price              17841 non-null  object
 4   address            18737 non-null  object
 5   yearsOfExperience  18737 non-null  object
dtypes: object(6)
memory usage: 878.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38236 entries, 0 to 38235
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            38236 non-null  object
 1   price           870 non-null    object
 2   rating          866 non-null    float64
 3   specialization  38226 non-null  object
dtypes: float64(1), object(3)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3784 entries, 0 to 3783
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            3783 non-null   object
 1   telephone       1110 non-null   object
 2   specialization  3783 non-null   object
dtypes: object(3)
memory usage: 88.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1459 non-null   object
 1   telephone       1350 non-null   object
 2   specialization  1368 non-null   object
dtypes: object(3)
memory usage: 34.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 896 entries, 0 to 895
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            896 non-null    object
 1   specialization  896 non-null    object
 2   email           895 non-null    object
dtypes: object(3)
memory usage: 21.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1724 entries, 0 to 1723
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1716 non-null   object
 1   specialization  1716 non-null   object
 2   email           1710 non-null   object
dtypes: object(3)
memory usage: 40.5+ KB

In [64]:
result = pd.concat([dottori, avvocati, kpop, kpopping, freel, hpmedici, hpdottori, mmsAtlanta, mmsAtlantaDoc, investing, finance, developer, freelancer, andreolidoc, andreoliprof, romatre, bocconi])

In [65]:
result['name'].fillna(np.nan, inplace=True)
result['yearsOfExperience'].fillna(np.nan, inplace=True)
result['specialization'].fillna(np.nan, inplace=True)
result['website'].fillna(np.nan, inplace=True)
result['address'].fillna(np.nan, inplace=True)
result['gender'].fillna(np.nan, inplace=True)
result['spokenLanguages'].fillna(np.nan, inplace=True)
result['rating'].fillna(np.nan, inplace=True)
result['price'].fillna(np.nan, inplace=True)
result['telephone'].fillna(np.nan, inplace=True)
result['email'].fillna(np.nan, inplace=True)

In [66]:
for columns in result.columns:
    result[columns] = result[columns].str.upper() 
result.head(100)

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email
0,SUSAN ELLER,FAMILY NURSE PRACTITIONER,ENGLISH,"8469 E MCDONALD DR SCOTTSDALE, AZ 85250",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DR. ELLE ROSS,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"5421 W THUNDERBIRD RD GLENDALE, AZ 85306",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JESSICA RASSAS,NURSE PRACTITIONER,ENGLISH,"6730 EAST MCDOWELL ROAD SCOTTSDALE, AZ 85257",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DR. RAUL MEDINA,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"18435 N 19TH AVE PHOENIX, AZ 85023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KRISTINA MATTSON,"NURSE PRACTITIONER, FAMILY NURSE PRACTITIONER",ENGLISH,"3530 S VAL VISTA DR GILBERT, AZ 85297",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95,DR. EKAPHOL WOODEN,FAMILY PHYSICIAN,ENGLISH,"18435 N 19TH AVE PHOENIX, AZ 85023",NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,MARY JO COLORAFI,FAMILY NURSE PRACTITIONER,ENGLISH,"11250 E VÃ­A LINDA SCOTTSDALE, AZ 85259",NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,DR. CHIA-HOW 'HOWIE' LIU,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"13014 W CAMELBACK RD LITCHFIELD PARK, AZ 85340",NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,DR. RUSALINA MUNTEAN-MINCU,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"8032 N 19TH AVE PHOENIX, AZ 85021",NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,ALYSSA NELSON,PHYSICIAN ASSISTANT,ENGLISH,"1622 N 59TH AVE PHOENIX, AZ 85035",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
result['id'] = range(1, len(result.index)+1)
result.head(20)

,name,specialization,spokenLanguages,address,rating,yearsOfExperience,website,gender,price,telephone,email,id
0,SUSAN ELLER,FAMILY NURSE PRACTITIONER,ENGLISH,"8469 E MCDONALD DR SCOTTSDALE, AZ 85250",NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,DR. ELLE ROSS,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"5421 W THUNDERBIRD RD GLENDALE, AZ 85306",NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
2,JESSICA RASSAS,NURSE PRACTITIONER,ENGLISH,"6730 EAST MCDOWELL ROAD SCOTTSDALE, AZ 85257",NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
3,DR. RAUL MEDINA,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"18435 N 19TH AVE PHOENIX, AZ 85023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4,KRISTINA MATTSON,"NURSE PRACTITIONER, FAMILY NURSE PRACTITIONER",ENGLISH,"3530 S VAL VISTA DR GILBERT, AZ 85297",NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
5,DR. PARWIN SADAAT,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"8469 E MCDONALD DR SCOTTSDALE, AZ 85250",NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
6,DR. ANTHONY AGHENTA,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"1434 W ELLIOT RD GILBERT, AZ 85233",NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
7,DEANNA WRIGHT,"NURSE PRACTITIONER, FAMILY NURSE PRACTITIONER",ENGLISH,"10210 NORTH 92ND ST SCOTTSDALE, AZ 85258",NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
8,ALTA LANGDON,"NURSE PRACTITIONER, ADULT PSYCHIATRIC & MENTAL...",ENGLISH,"14301 N 87TH ST SCOTTSDALE, AZ 85260",NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
9,DR. BRUCE HERMAN,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"5620 W THUNDERBIRD RD GLENDALE, AZ 85306",NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
10,DR. RAMA DEVINENI,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"250 W CHANDLER HEIGHTS RD CHANDLER, AZ 85248",NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
11,RUTH COVER,FAMILY NURSE PRACTITIONER,ENGLISH,"2451 E BASELINE RD GILBERT, AZ 85234",NaN,NaN,NaN,NaN,NaN,NaN,NaN,12
12,DR. LUIS IRIZARRY,"FAMILY PHYSICIAN, PRIMARY CARE DOCTOR",ENGLISH,"15452 N TATUM BLVD PHOENIX, AZ 85032",NaN,NaN,NaN,NaN,NaN,NaN,NaN,13
13,NINA ZABALZA,NURSE PRACTITIONER,ENGLISH,"8469 E MCDONALD DR SCOTTSDALE, AZ 85250",NaN,NaN,NaN,NaN,NaN,NaN,NaN,14
14,DR. TREVER WILKINS,EMERGENCY MEDICINE PHYSICIAN,ENGLISH,"290 S ALMA SCHOOL RD CHANDLER, AZ 85224",NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
15,DR. ELLENA BODDIE,INTERNIST,ENGLISH,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
16,DR. MARK LEWIS,"INTERNIST, PRIMARY CARE DOCTOR",ENGLISH,"29662 N TATUM BLVD CAVE CREEK, AZ 85331",NaN,NaN,NaN,NaN,NaN,NaN,NaN,17
17,HEATHER MEDNANSKY,NURSE PRACTITIONER,"ENGLISH, SPANISH","13000 NORTH 103RD AVE SUN CITY, AZ 85351",NaN,NaN,NaN,NaN,NaN,NaN,NaN,18
18,ADAM NEAL,PHYSICIAN ASSISTANT,ENGLISH,"1002 E MCDOWELL RD PHOENIX, AZ 85006",NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
19,DR. DEBORAH WHITE,"NURSE PRACTITIONER, FAMILY NURSE PRACTITIONER",ENGLISH,"4855 E BROWN RD MESA, AZ 85205",NaN,NaN,NaN,NaN,NaN,NaN,NaN,20

In [68]:
result.to_csv("alignedSchemas/professionistiAligned.csv")

In [ ]:
from pandas_profiling import ProfileReport 
#profile=ProfileReport(result)
#profile.to_notebook_iframe()