# Schema Alignment

In [1]:
!pip install pandas
!pip install pandas-profiling
!pip install numpy

Requirement already satisfied: pandas in c:\users\guidi\anaconda3\lib\site-packages (1.2.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\guidi\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\guidi\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\guidi\anaconda3\lib\site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in c:\users\guidi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: pandas-profiling in c:\users\guidi\anaconda3\lib\site-packages (3.1.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (1.2.3)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (0.11.0)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (1.9.0)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (0.1.0)
Requirement already satisfied: requests>=2.24.0 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (2.24.0)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (2.0.1)
Requirement already satisfied: scipy>=1.4.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (1.6.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (1.7)
Requirement already satisfied: missingno>=0.4.2 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (0.5.0)
Requirement already satisfied: phik>=0.11.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (0.12.0)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (3.4.0)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (5.3.1)
Requirement already satisfied: joblib~=1.0.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (1.0.1)
Requirement already satisfied: numpy>=1.16.0 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (1.20.2)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (2.11.2)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\guidi\anaconda3\lib\site-packages (from pandas-profiling) (4.50.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\guidi\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\guidi\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2021.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\guidi\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (3.7.4.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\guidi\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (20.3.0)
Requirement already satisfied: networkx>=2.4 in c:\users\guidi\desktop\universitÃ \laurea magistrale\primo anno\secondo semestre\ia\pokemon\src\networkx (from visions[type_image_path]==0.7.4->pandas-profiling) (2.6rc1.dev0)
Requirement already satisfied: Pillow; extra == "type_image_path" in c:\users\guidi\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (8.1.2)
Requirement already satisfied: imagehash; extra == "type_image_path" in c:\users\guidi\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\guidi\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\guidi\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\guidi\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\guidi\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.25.11)
Requirement already satisfied: cycler>=0.10 in c:\users\guidi\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\guidi\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\guidi\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.4.7)
Requirement already satisfied: six>=1.5 in c:\users\guidi\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (1.15.0)
Requirement already satisfied: decorator>=4.4 in c:\users\guidi\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.4->pandas-profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\guidi\anaconda3\lib\site-packages (from imagehash; extra == "type_image_path"->visions[type_image_path]==0.7.4->pandas-profiling) (1.1.1)
Requirement already satisfied: numpy in c:\users\guidi\anaconda3\lib\site-packages (1.20.2)

## Phase 1: Dataset Manipulation

In [2]:
import pandas as pd
import numpy as np

#### Funzioni Di Manipolazione

In [3]:
def employees_range(employees):
    if (employees < 2):
        return "1"
    elif (employees >= 2 and employees <= 10):
        return "2 TO 10"
    elif (employees >= 11 and employees <= 50):
        return "11 TO 50"
    elif (employees >= 51 and employees <= 200):
        return "51 TO 200"
    elif (employees >= 201 and employees <= 500):
        return "201 TO 500"
    elif (employees >= 501 and employees <= 1000):
        return "501 TO 1,000"
    elif (employees >= 1001 and employees <= 5000):
        return "1,001 TO 5,000"
    elif (employees >= 5001 and employees <= 10000):
        return "5,001 TO 10,000"
    elif (employees > 10000):
        return "10,000+"
    elif (pd.isna(employees)):
        return pd.NA

In [4]:
def change_marketcap(marketcap):
    if 'T' in marketcap:
        marketcap = marketcap.replace('.', '')
        return marketcap.replace('T', '')
    else:
        return marketcap.replace('B', '')

In [5]:
def change_marketcap_low(marketcap):
    if 't' in marketcap:
        marketcap = marketcap.replace('.', '')
        return marketcap.replace('t', '')
    else:
        return marketcap.replace('b', '')

### Dataset Scarano Yahoo

In [6]:
scarano_yahoo = pd.read_csv("sources/aziende/Scarano-companies-finance.yahoo.com-1.csv")
scarano_yahoo.tail(500)

,Unnamed: 0,Unnamed: 0.1,ticker,name,website,headquarter,employees,industry,type,source
1805,2814,2814,CCMP,Cabot Microelectronics Corporation,https://www.cmcmaterials.com,"870 North Commons Drive Aurora, IL 60504 Unite...",2200,Semiconductor Equipment & Materials,NaN,yahoo
1806,2815,2815,ARMK,Aramark,https://www.aramark.com,"2400 Market Street Philadelphia, PA 19103 Unit...",248300,Restaurants,NaN,yahoo
1807,2816,2816,DECK,Deckers Outdoor Corporation,https://www.deckers.com,"250 Coromar Drive Goleta, CA 93117 United Stat...",3400,Footwear & Accessories,NaN,yahoo
1808,2817,2817,UNLRY,PT Unilever Indonesia Tbk,https://www.unilever.co.id,Grha Unilever Jl. BSD Boulevard Barat Green Of...,4968,Household & Personal Products,NaN,yahoo
1809,2818,2818,FOVSY,Ford Otomotiv Sanayi A.S.,https://www.fordotosan.com.tr,Akpinar Mahallesi Hasan Basri Cad. No: 2 Sanca...,13310,Auto Manufacturers,NaN,yahoo
...,...,...,...,...,...,...,...,...,...,...
2300,3334,3334,YETI,"YETI Holdings, Inc.",https://www.YETI.com,"7601 Southwest Parkway Austin, TX 78735 United...",701,Leisure,NaN,yahoo
2301,3335,3335,CWLDF,Crown Resorts Limited,https://www.crownresorts.com.au,Crown Towers Level 3 8 Whiteman Street Southba...,12489,Resorts & Casinos,NaN,yahoo
2302,3336,3336,FOXF,Fox Factory Holding Corp.,https://www.ridefox.com,"6634 Highway 53 Braselton, GA 30517 United Sta...",3870,Recreational Vehicles,NaN,yahoo
2303,3337,3337,CVAC,CureVac N.V.,https://www.curevac.com,Friedrich-Miescher-Strasse 15 TÃÂ¼bingen 72076 ...,455,Biotechnology,NaN,yahoo
2304,3338,3338,MBT,Public Joint-Stock Company Mobile TeleSystems,https://www.ir.mts.ru,"Building 2 5, Vorontsovskaya Street Moscow 109...",0,Telecom Services,NaN,yahoo

In [7]:
scarano_yahoo.dtypes

Unnamed: 0        int64
Unnamed: 0.1      int64
ticker           object
name             object
website          object
headquarter      object
employees         int64
industry         object
type            float64
source           object
dtype: object

In [8]:
scarano_yahoo.isnull().sum()

Unnamed: 0         0
Unnamed: 0.1       0
ticker             0
name               0
website            0
headquarter        0
employees          0
industry          45
type            2305
source             0
dtype: int64

In [9]:
scarano_yahoo = scarano_yahoo.drop('Unnamed: 0', 1)
scarano_yahoo = scarano_yahoo.drop('Unnamed: 0.1', 1)
scarano_yahoo = scarano_yahoo.drop('type', 1)
scarano_yahoo = scarano_yahoo.drop('source', 1)
scarano_yahoo['employees']= scarano_yahoo.apply(lambda x: employees_range(x['employees']), axis=1)
scarano_yahoo.head(10)

,ticker,name,website,headquarter,employees,industry
0,HUN,Huntsman Corporation,http://www.huntsman.com,"10003 Woodloch Forest Drive The Woodlands, TX ...","5,001 TO 10,000",Chemicals
1,INPOY,InPost S.A.,http://www.inpost.eu,"2-4, rue Beck Luxemburg 1222 Luxembourg http:...",1,Specialty Business Services
2,BPHLY,Bank of the Philippine Islands,http://www.bpi.com.ph,Tower One Ayala North Exchange 6796 Ayala Aven...,"10,000+",BanksâRegional
3,RDFN,Redfin Corporation,http://www.redfin.com,"1099 Stewart Street Suite 600 Seattle, WA 9810...","1,001 TO 5,000",Real Estate Services
4,PHI,PLDT Inc.,http://pldt.com,Ramon Cojuangco Building Makati Avenue Corner ...,"10,000+",Telecom Services
5,STAA,STAAR Surgical Company,http://www.staar.com,"25651 Atlantic Ocean Drive Lake Forest, CA 926...","501 TO 1,000",Medical Instruments & Supplies
6,IMIAF,IMI plc,http://www.imiplc.com,Lakeside Solihull Parkway Birmingham Business ...,"5,001 TO 10,000",Specialty Industrial Machinery
7,NCLH,Norwegian Cruise Line Holdings Ltd.,http://www.nclhltd.com,"7665 Corporate Center Drive Miami, FL 33126 Un...","10,000+",Travel Services
8,UVRBF,Universal Robina Corporation,http://www.urc.com.ph,"Tera Tower 8th Floor Bridgetowne, East Rodrigu...","10,000+",Packaged Foods
9,AZPN,"Aspen Technology, Inc.",http://www.aspentech.com,"20 Crosby Drive Bedford, MA 01730 United State...","1,001 TO 5,000",SoftwareâApplication

### Dataset Scarano Investing

In [10]:
scarano_investing = pd.read_csv("sources/aziende/scarano_investing.csv")
scarano_investing.tail(500)

,Unnamed: 0,Unnamed: 0.1,ticker,name,website,headquarter,employees,industry,type,source
1559,3864,3864,GMLJ,Gemfields Group Ltd (GMLJ),www.gemfieldsgroup.com,Royal Chambers St. Julianâs Avenue PO Box 186 ...,2372,Metals & Mining,ORD,investing
1560,3865,3865,PMGRP,Premier Global Infrastructure Trust PLC (PMGRP),www.premierfunds.co.uk/premier-miton-global-re...,"High Street Eastgate Court Guildford, GU1 3DE ...",-,Capital Markets,Closed-End,investing
1561,3866,3866,FRP,Frp Advisory Group Plc (FRP),www.frpadvisory.com,"110 Cannon Street London, EC4N 6EU United Kingdom",457,Capital Markets,ORD,investing
1562,3867,3867,LWI,Lowland Investment Co (LWI),www.henderson.com/ukpi/fund/167/lowland-invest...,"201 Bishopsgate London, EC2M 3AE United Kingdom",-,Capital Markets,Closed-End,investing
1563,3868,3868,AAVC,Albion Venture Capital Trust PLC (AAVC),www.albion.capital/investor-centre/our-funds/a...,"1 Benjamin Street Farringdon London, EC1M 5QL ...",5,Capital Markets,ORD,investing
...,...,...,...,...,...,...,...,...,...,...
2054,4359,4359,ASLR,Asimilar Group PLC (ASLR),www.asimilargroup.com,"4 More London Riverside London, SE1 2AU United...",3,Capital Markets,ORD,investing
2055,4360,4360,IGP,Intercede Group (IGP),www.intercede.com,"Lutterworth Hall St. Mary's Road Lutterworth, ...",-,Software,ORD,investing
2056,4361,4361,ASPL,Aseana Properties Ltd (ASPL),www.aseanaproperties.com,"12 Castle Street Saint Helier, JE2 3RT Jersey",620,Real Estate Management & Development,ORD,investing
2057,4362,4362,IUG,Intelligent Ultrasound Group PLC (IUG),www.intelligentultrasound.com,Hodge House Floor 6A 114-116 St Mary Street Ca...,58,Health Care Technology,ORD,investing
2058,4363,4363,ADVAD,Advance Energy PLC (ADVAD),www.advanceplc.com,"55 Athol Street Douglas, IM1 1LA Isle of Man",5,Independent Power and Renewable Electricity Pr...,ORD,investing

In [11]:
scarano_investing.dtypes

Unnamed: 0       int64
Unnamed: 0.1     int64
ticker          object
name            object
website         object
headquarter     object
employees       object
industry        object
type            object
source          object
dtype: object

In [12]:
scarano_investing.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
ticker          0
name            0
website         0
headquarter     0
employees       0
industry        0
type            0
source          0
dtype: int64

In [13]:
scarano_investing = scarano_investing.drop('Unnamed: 0', 1)
scarano_investing = scarano_investing.drop('Unnamed: 0.1', 1)
scarano_investing = scarano_investing.drop('type', 1)
scarano_investing = scarano_investing.drop('source', 1)
scarano_investing['employees'] = scarano_investing['employees'].replace('-', np.nan)
scarano_investing['employees'] = scarano_investing['employees'].replace('NaN', np.nan)
scarano_investing['employees'] = scarano_investing['employees'].astype('float').astype('Int64')
scarano_investing['employees']= scarano_investing.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
scarano_investing.head(10)

,ticker,name,website,headquarter,employees,industry
0,VIS,Viscofan (VIS),www.viscofan.com,PolIgono Industrial Berroa Calle Berroa nr. 15...,"5,001 TO 10,000",Food Products
1,STLA,Stellantis NV (STLA),www.stellantis.com,"Singaporestraat 92-100 Lijnden, 1175 RA Nether...","10,000+",Automobiles
2,ICAs,ICA Gruppen AB (ICAs),www.icagruppen.se,"Box 4075 Solna, 169 04 Sweden","10,000+",Food & Staples Retailing
3,BNRGn,Brenntag AG (BNRGn),www.brenntag.com,"Messeallee 11 Essen, 45131 Germany","10,000+",Trading Companies & Distributors
4,7203,Toyota Motor Corp (7203),global.toyota/en,"1 Toyota-cho Toyota, 471-8571 Japan","10,000+",Automobiles
5,FGT,Finsbury Growth & Income Trust (FGT),www.finsburygt.com,"66 Buckingham Gate 5th Floor London, SW1E 6AU ...",<NA>,Capital Markets
6,BGSC,Bmo Global Smaller Companies PLC (BGSC),www.fandc.com/fandc-global-smaller-companies,6th Floor Quartermile 4 7a Nightingale Way Edi...,<NA>,Capital Markets
7,APAM,Aperam SA (APAM),www.aperam.com,"12C, rue Guillaume Kroll Luxembourg City, 1882...","5,001 TO 10,000",Metals & Mining
8,MCRO,Micro Focus International PLC (MCRO),www.microfocus.com,"The Lawn 22-30 Old Bath Road Newbury, RG14 1QN...","10,000+",Software
9,IMI,IMI PLC (IMI),www.imiplc.com,Lakeside Solihull Parkway Birmingham Business ...,"5,001 TO 10,000",Machinery

### Dataset AeA CompaniesMarket

In [14]:
aeacm = pd.read_csv("sources/aziende/aea_companiesmarket.csv")
aeacm.head()

,name,marketcap,country,change (1 year),rank,change (1 day),categories,share price
0,apple,$2.863 t,usa,43.34%,#1,-0.30%,ð©âð» techð©âð» softwareðºð¸ dow jonesð» tech hardwar...,$174.56
1,microsoft,$2.500 t,usa,57.27%,#2,-0.56%,ð©âð» softwareð©âð» techðºð¸ dow jonesð® video games,$333.10
2,alphabet (google),$1.962 t,usa,66.03%,#3,-0.41%,ð¥ï¸ internetð©âð» techð©âð» software,"$2,962"
3,saudi aramco,$1.851 t,saudi arabia,-2.52%,#4,-0.86%,â¡ energyð¢ oil&gas,$9.26
4,amazon,$1.766 t,usa,12.22%,#5,-1.13%,ð e-commerceð¥ï¸ internetð©âð» techðï¸ retail,"$3,483"

In [15]:
aeacm.dtypes

name               object
marketcap          object
country            object
change (1 year)    object
rank               object
change (1 day)     object
categories         object
share price        object
dtype: object

In [16]:
aeacm.isnull().sum()

name                  0
marketcap             0
country               0
change (1 year)     426
rank                  0
change (1 day)        0
categories         1553
share price           0
dtype: int64

In [17]:
aeacm = aeacm.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
aeacm.head(10)

,name,marketcap,country,change (1 year),rank,change (1 day),categories,share price
0,apple,$2.863 t,usa,43.34%,#1,-0.30%,tech software dow jones tech hardware electro...,$174.56
1,microsoft,$2.500 t,usa,57.27%,#2,-0.56%,software tech dow jones video games,$333.10
2,alphabet (google),$1.962 t,usa,66.03%,#3,-0.41%,internet tech software,"$2,962"
3,saudi aramco,$1.851 t,saudi arabia,-2.52%,#4,-0.86%,energy oil&gas,$9.26
4,amazon,$1.766 t,usa,12.22%,#5,-1.13%,e-commerce internet tech retail,"$3,483"
5,tesla,$1.008 t,usa,66.06%,#6,-6.10%,automakers tech electric vehicles bitcoin m...,"$1,004"
6,meta (facebook),$926.11 b,usa,18.67%,#7,0.94%,tech internet,$332.92
7,nvidia,$776.85 b,usa,nan,#8,2.24%,tech semiconductors electronics tech hardware,$311.74
8,berkshire hathaway,$636.44 b,usa,25.82%,#9,0.23%,investment,"$428,402"
9,tsmc,$619.73 b,taiwan,14.44%,#10,-1.89%,semiconductors tech manufacturing tech hardware,$119.50

###### Togliamo Change (1 Year), Rank e Change (1 Day). Troppo difficile da generalizzare il ranking e i change potrebbero non essere aggiornati

In [18]:
aeacm.rename(columns={'change (1 year)':'oneyear'}, inplace=True)
aeacm.rename(columns={'change (1 day)':'oneday'}, inplace=True)
aeacm = aeacm.drop('oneyear', 1)
aeacm = aeacm.drop('rank', 1)
aeacm = aeacm.drop('oneday', 1)

In [19]:
aeacm.rename(columns={'categories':'industry'}, inplace=True)
aeacm.rename(columns={'share price':'shareprice'}, inplace=True)
aeacm.rename(columns={'country':'headquarter'}, inplace=True)
aeacm['shareprice'] = aeacm['shareprice'].str.replace('$', '')
aeacm['shareprice'] = aeacm['shareprice'].replace(',','', regex=True)
aeacm['marketcap'] = aeacm['marketcap'].astype('string')
aeacm['marketcap'] = aeacm.apply(lambda x: change_marketcap_low(x['marketcap']), axis=1)
aeacm['marketcap'] = aeacm['marketcap'].str.replace('$', '')
aeacm['marketcap'] = aeacm['marketcap'].replace('N/A', pd.NA)
aeacm['marketcap'] = aeacm['marketcap'].replace('n/a', pd.NA)
aeacm['shareprice'] = aeacm['shareprice'].replace('N/A', pd.NA)
aeacm['shareprice'] = aeacm['shareprice'].replace('n/a', pd.NA)
aeacm.head()

<ipython-input-19-c9b1ee0c2c4a>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  aeacm['shareprice'] = aeacm['shareprice'].str.replace('$', '')
<ipython-input-19-c9b1ee0c2c4a>:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  aeacm['marketcap'] = aeacm['marketcap'].str.replace('$', '')

,name,marketcap,headquarter,industry,shareprice
0,apple,2863,usa,tech software dow jones tech hardware electro...,174.56
1,microsoft,2500,usa,software tech dow jones video games,333.10
2,alphabet (google),1962,usa,internet tech software,2962
3,saudi aramco,1851,saudi arabia,energy oil&gas,9.26
4,amazon,1766,usa,e-commerce internet tech retail,3483

In [20]:
aeacm.tail(300)

,name,marketcap,headquarter,industry,shareprice
4668,pennantpark investment,0.46,usa,investment,6.99
4669,garrett motion,0.46,switzerland,automotive suppliers,7.17
4670,avadel pharmaceuticals,0.46,ireland,pharmaceuticals biotech,7.96
4671,vishay precision group,0.46,usa,nan,34.13
4672,gateway distriparks,0.46,india,transportation,3.72
...,...,...,...,...,...
4963,ziopharm oncology,0.27,usa,pharmaceuticals,1.29
4964,filatex india,0.27,india,nan,1.24
4965,limoneira,0.26,usa,agriculture real estate,15.26
4966,northeast bank,0.27,usa,banks financial services,33.94
4967,vera bradley,0.27,usa,nan,8.15

### Dataset AeA ValueToday

In [21]:
aeavt = pd.read_csv("sources/aziende/aea_valuetoday.csv")
aeavt.head()

,name,rank in country (jan-2021),employee count as on date,number of employees,market value (jan-01-2021),company business,world rank (sep-01-2021),world rank (jan-01-2021),world rank (jan-2020),ceo,...,headquarters country,stock category,about company business,annual revenue in usd,annual results for year ending,market cap (sep-01-2021),business sector,stock exchange,isin code,chairman
0,apple,company rank in usa in 2021 is 1,as on 2020,147,2256.000 billion usd,technology,1,1.0,2.0,tim cook,...,usa,dow jones index (djia),"apple company designs, manufactures and market...","274,510 million usd",sep-2020,"2,510.000 billion usd",top technology companies in usa,nasdaq,NaN,NaN
1,microsoft corporation,company rank in usa in 2021 is 2,as on 2020,"156,439",1682.000 billion usd,technology,2,3.0,3.0,satya nadella,...,usa,dow jones index (djia),"microsoft develops software packages, windows ...","143,000 million usd",jun-2020,"2,269.000 billion usd",top technology companies in usa,nasdaq,us5949181045,NaN
2,alphabet,company rank in usa in 2021 is 4,as on 2020,"135,301",1185.000 billion usd,technology,3,5.0,4.0,sundar pichai,...,usa,s&p 500,alphabet inc is technology company and is pare...,"182,520 million usd",dec-2020,"1,934.000 billion usd",top technology companies in usa,nasdaq,NaN,NaN
3,saudi arabian oil company (saudi aramco),company rank in saudi arabia in 2021 is 1,as on 2020,"66,8",2051.500 billion usd,energy,4,2.0,1.0,amin h. al-nasser,...,saudi arabia,NaN,"saudi aramco is oil and gas exploration, refin...","232,740 million usd",dec-2020,"1,891.600 billion usd",top energy companies in saudi arabia,tadawul,NaN,NaN
4,amazon.com,company rank in usa in 2021 is 3,as on 2021,"1,335,000",1634.000 billion usd,ecommerce,5,4.0,5.0,andy jassy,...,usa,s&p 500,amazon.com is the world's biggest e-commerce p...,"386,060 million usd",dec-2020,"1,758.000 billion usd",top technology companies in usa,nasdaq,NaN,NaN

In [22]:
aeavt.dtypes

name                               object
rank in country (jan-2021)         object
employee count as on date          object
number of employees                object
market value (jan-01-2021)         object
company business                   object
world rank (sep-01-2021)           object
world rank (jan-01-2021)          float64
world rank (jan-2020)             float64
ceo                                object
company website                    object
market value (jan 1st 2020)        object
annual net income in usd           object
headquarters country               object
stock category                     object
about company business             object
annual revenue in usd              object
annual results for year ending     object
market cap (sep-01-2021)           object
business sector                    object
stock exchange                     object
isin code                          object
chairman                           object
dtype: object

In [23]:
toDrop = ['rank in country (jan-2021)', 'employee count as on date', 'market value (jan-01-2021)', 'world rank (sep-01-2021)',
         'world rank (jan-01-2021)', 'world rank (jan-2020)', 'stock category', 'about company business', 'business sector',
         'isin code', 'chairman', 'annual results for year ending', 'company website', 'stock exchange', 'market value (jan 1st 2020)', 'annual revenue in usd']
aeavt = aeavt.drop(toDrop, axis=1)
aeavt.head()
aeavt.rename(columns={'number of employees':'employees'}, inplace=True)
aeavt.rename(columns={'company business':'industry'}, inplace=True)
aeavt.rename(columns={'annual net income in usd':'revenue'}, inplace=True)
aeavt.rename(columns={'headquarters country':'headquarter'}, inplace=True)
aeavt.rename(columns={'market cap (sep-01-2021)':'marketcap'}, inplace=True)
aeavt['employees'] = aeavt['employees'].str.replace(r'[^0-9]+', '')
aeavt['employees'] = aeavt['employees'].replace('NaN', np.nan)
aeavt['employees'] = aeavt['employees'].astype('float').astype('Int64')
aeavt['employees']= aeavt.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
aeavt['marketcap'] = aeavt['marketcap'].str.replace(r'[^\d.]+', '')
aeavt['revenue'] = aeavt['revenue'].str.replace(r',', '.')
aeavt['revenue'] = aeavt['revenue'].str.replace(r'[^\d.]+', '')
aeavt.head()

<ipython-input-23-c71205fd5724>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  aeavt['employees'] = aeavt['employees'].str.replace(r'[^0-9]+', '')
<ipython-input-23-c71205fd5724>:15: FutureWarning: The default value of regex will change from True to False in a future version.
  aeavt['marketcap'] = aeavt['marketcap'].str.replace(r'[^\d.]+', '')
<ipython-input-23-c71205fd5724>:17: FutureWarning: The default value of regex will change from True to False in a future version.
  aeavt['revenue'] = aeavt['revenue'].str.replace(r'[^\d.]+', '')

,name,employees,industry,ceo,revenue,headquarter,marketcap
0,apple,51 TO 200,technology,tim cook,57.410,usa,2510.000
1,microsoft corporation,"10,000+",technology,satya nadella,44.300,usa,2269.000
2,alphabet,"10,000+",technology,sundar pichai,40.260,usa,1934.000
3,saudi arabian oil company (saudi aramco),"501 TO 1,000",energy,amin h. al-nasser,49.320,saudi arabia,1891.600
4,amazon.com,"10,000+",ecommerce,andy jassy,21.330,usa,1758.000

### Dataset HirsutePippo ValueToday

In [24]:
hpvalue = pd.read_csv("sources/aziende/hp_aziende_2.csv")
hpvalue.head(25)

,Name,World Rank (Sep-01-2021),Annual Revenue in USD,Annual Net Income in USD,Market Value (Jan-01-2021),Headquarters Country,Company Business,Number of Employees,Stock Category,CEO,Stock Exchange,Company Website
0,APPLE,1,"274,510 Million USD","57,410 Million USD",2256.000 Billion USD,USA,"Mobiles & Accessories, Electronics, Technology","147,000","S&P 500, Nasdaq 100, Dow Jones Index (DJIA)",Tim Cook,Nasdaq,https://www.apple.com/
1,MICROSOFT CORPORATION,2,"143,000 Million USD","44,300 Million USD",1682.000 Billion USD,USA,"Software and IT, Laptops, Technology","156,439","S&P 500, Nasdaq 100, Dow Jones Index (DJIA)",Satya Nadella,Nasdaq,https://www.apple.com/
2,ALPHABET,3,"182,520 Million USD","40,260 Million USD",1185.000 Billion USD,USA,"Internet or Mobile App Based Business, Softwar...","135,301","Nasdaq 100, S&P 500",Sundar Pichai,Nasdaq,https://www.apple.com/
3,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),4,"232,740 Million USD","49,320 Million USD",2051.500 Billion USD,Saudi Arabia,"Oil and Gas, Chemicals, Energy","66,800",NaN,Amin H. Al-Nasser,Tadawul,https://www.apple.com/
4,AMAZON.COM,5,"386,060 Million USD","21,330 Million USD",1634.000 Billion USD,USA,"Internet or Mobile App Based Business, Cloud S...","1,335,000","Nasdaq 100, S&P 500",Andy Jassy,Nasdaq,https://www.apple.com/
5,FACEBOOK,6,"85,960 Million USD","29,150 Million USD",778.040 Billion USD,USA,"Internet or Mobile App Based Business, Social ...","58,604","Nasdaq 100, S&P 500",Mark Zuckerberg,Nasdaq,https://www.apple.com/
6,TESLA,7,"31,530 Million USD",-690 Million USD,668.900 Billion USD,USA,"Cars, Automobile, Electric Vehicles","70,757","S&P 500, Nasdaq 100",Elon Musk,"Bovespa Brazil, Nasdaq",https://www.apple.com/
7,BERKSHIRE HATHAWAY,8,"286,260 Million USD","42,521 Million USD",543.680 Billion USD,USA,"Investments, Insurance, Financial Services","391,500",S&P 500,Warren Buffett,NYSE,https://www.apple.com/
8,TAIWAN SEMICONDUCTOR MANUFACTURING COMPANY,9,"48,211 Million USD","18,670 Million USD",488.130 Billion USD,Taiwan,"Semiconductors, Electronics, Technology","51,297",Taiwan ADRs,C. C. Wei,"NYSE, Taiwan",https://www.apple.com/
9,TENCENT,10,"56,592 Million USD","14,430 Million USD",697.260 Billion USD,China,"Investments, Internet or Mobile App Based Busi...","85,858",NaN,Ma Huateng,HKeX,https://www.apple.com/
10,NVIDIA CORPORATION,11,"10,910 Million USD","2,790 Million USD",323.240 Billion USD,USA,"Semiconductors, Electronics, Technology","18,100","Nasdaq 100, S&P 500",Jensen Huang,Nasdaq,http://www.nvidia.com/
11,VISA,12,"21,840 Million USD","10,860 Million USD",482.170 Billion USD,USA,"Technology, Software and IT, Financial Services","20,500","S&P 500, Dow Jones Index (DJIA)",Alfred F Kelly Jr,NYSE,http://www.nvidia.com/
12,J P MORGAN CHASE & CO,13,"122,900 Million USD","29,100 Million USD",387.330 Billion USD,USA,"Banking Services, Credit Cards, Financial Serv...","256,981","S&P 500, Dow Jones Index (DJIA)",Jamie Dimon,NYSE,http://www.nvidia.com/
13,JOHNSON & JOHNSON,14,"82,580 Million USD","14,710 Million USD",414.310 Billion USD,USA,"Medical Equipment, Pharmaceutical, Healthcare","132,200","S&P 500, Dow Jones Index (DJIA)",Alex Gorsky,NYSE,http://www.nvidia.com/
14,ALIBABA GROUP HOLDING,15,"110,920 Million USD","23,243 Million USD",648.320 Billion USD,China,"Internet or Mobile App Based Business, Technol...","117,600",China ADRs,Daniel Zhang,NYSE,http://www.nvidia.com/
15,SAMSUNG ELECTRONICS,16,"208,390 Million USD","19,420 Million USD",501.160 Billion USD,South Korea,"Electronics, Semiconductors, Technology","287,439",South Korea ADRs,"Koh Dong-Jin, Kim Ki Nam, Kim Hyun Suk","Frankfurt, South Korea",http://www.nvidia.com/
16,WALMART,17,"523,960 Million USD","14,880 Million USD",407.840 Billion USD,USA,"Super Markets, eCommerce, Retail","2,200,000","S&P 500, Dow Jones Index (DJIA)",Doug McMillon,NYSE,http://www.nvidia.com/
17,UNITEDHEALTH GROUP,18,"255,630 Million USD","15,400 Million USD",332.730 Billion USD,USA,"Healthcare Service, Insurance, Healthcare","320,000","S&P 500, Dow Jones Index (DJIA)",David S. Wichmann,NYSE,http://www.nvidia.com/
18,LVMH,19,"52,663 Million USD","5,508 Million USD",313.500 Billion USD,France,"Non-Alcoholic Beverages, Clothing, Fashion and...","163,000","EURONEXT 100, S&P EUROPE 350, CAC 40",Bernard Arnault,"Frankfurt, Frankfurt, EURONEXT",http://www.nvidia.com/
19,BANK OF AMERICA CORPORATION,20,"85,530 Million USD","16,470 Million USD",262.200 Billion USD,USA,"Banking Services, Investment Banking, Financia...","208,000",S&P 500,Brian Moynihan,NYSE,http://www.nvidia.com/
20,ROCHE HOLDING AG,21,"63,569 Million USD","15,473 Million USD",295.780 Billion USD,Switzerland,"Pharmaceutical, Medical Equipment, Healthcare","101,200",S&P EUROPE 350,Severin Schwan,Switzerland,https://www.roche.com/
21,NESTLE AG,22,"92,301 Million USD","13,242 Million USD",336.110 Billion USD,Switzerland,"FMCG, Food Products, Consumer Defensive","291,000",S&P EUROPE 350,Ulf Mark Schneider,Switzerland,https://www.roche.com/
22,PROCTER & GAMBLE COMPANY,23,"70,950 Million USD","13,030 Million USD",345.010 Billion USD,USA,"FMCG, Consumer Non Durables, Consumer Defensive","99,000","S&P 500, Dow Jones Index (DJIA)",David S. Taylor,"EURONEXT, NYSE",https://www.roche.com/
23,HOME DEPOT,24,"110,220 Million USD","11,240 Million USD",285.970 Billion USD,USA,"eCommerce, Construction Materials, Retail","415,000","S&P 500, Dow Jones Index (DJIA)",Craig Menear,NYSE,https://www.roche.com/
24,MASTERCARD,25,"15,300 Million USD","6,410 Million USD",355.840 Billion USD,USA,"Financial Services, Credit Cards, Digital Paym...","11,400",S&P 500,Ajaypal Singh Banga,NYSE,https://www.roche.com/

In [25]:
hpvalue.dtypes

Name                          object
World Rank (Sep-01-2021)      object
Annual Revenue in USD         object
Annual Net Income in USD      object
Market Value (Jan-01-2021)    object
Headquarters Country          object
Company Business              object
Number of Employees           object
Stock Category                object
CEO                           object
Stock Exchange                object
Company Website               object
dtype: object

In [26]:
hpvalue.isnull().sum()

Name                             0
World Rank (Sep-01-2021)         0
Annual Revenue in USD         2344
Annual Net Income in USD      2512
Market Value (Jan-01-2021)    1705
Headquarters Country             8
Company Business               188
Number of Employees           5522
Stock Category                8352
CEO                           9498
Stock Exchange                 842
Company Website                  0
dtype: int64

In [27]:
toDrop = ['World Rank (Sep-01-2021)', 'Annual Revenue in USD', 'Market Value (Jan-01-2021)', 'Stock Category',
         'Company Website', 'Stock Exchange']
hpvalue = hpvalue.drop(toDrop, axis=1)
hpvalue.head()

,Name,Annual Net Income in USD,Headquarters Country,Company Business,Number of Employees,CEO
0,APPLE,"57,410 Million USD",USA,"Mobiles & Accessories, Electronics, Technology","147,000",Tim Cook
1,MICROSOFT CORPORATION,"44,300 Million USD",USA,"Software and IT, Laptops, Technology","156,439",Satya Nadella
2,ALPHABET,"40,260 Million USD",USA,"Internet or Mobile App Based Business, Softwar...","135,301",Sundar Pichai
3,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),"49,320 Million USD",Saudi Arabia,"Oil and Gas, Chemicals, Energy","66,800",Amin H. Al-Nasser
4,AMAZON.COM,"21,330 Million USD",USA,"Internet or Mobile App Based Business, Cloud S...","1,335,000",Andy Jassy

In [28]:
hpvalue.rename(columns={'Name':'name'}, inplace=True)
hpvalue.rename(columns={'Annual Net Income in USD':'revenue'}, inplace=True)
hpvalue.rename(columns={'Company Business':'industry'}, inplace=True)
hpvalue.rename(columns={'Headquarters Country':'headquarter'}, inplace=True)
hpvalue.rename(columns={'Number of Employees':'employees'}, inplace=True)
hpvalue.rename(columns={'CEO':'ceo'}, inplace=True)
hpvalue['employees'] = hpvalue['employees'].str.replace(r'[^0-9]+', '')
hpvalue['employees'] = hpvalue['employees'].replace('NaN', np.nan)
hpvalue['employees'] = hpvalue['employees'].astype('float').astype('Int64')
hpvalue['employees']= hpvalue.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
hpvalue['revenue'] = hpvalue['revenue'].str.replace(r',', '.')
hpvalue['revenue'] = hpvalue['revenue'].str.replace(r'[^\d.]+', '')
hpvalue.head()

<ipython-input-28-69a173318080>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  hpvalue['employees'] = hpvalue['employees'].str.replace(r'[^0-9]+', '')
<ipython-input-28-69a173318080>:12: FutureWarning: The default value of regex will change from True to False in a future version.
  hpvalue['revenue'] = hpvalue['revenue'].str.replace(r'[^\d.]+', '')

,name,revenue,headquarter,industry,employees,ceo
0,APPLE,57.410,USA,"Mobiles & Accessories, Electronics, Technology","10,000+",Tim Cook
1,MICROSOFT CORPORATION,44.300,USA,"Software and IT, Laptops, Technology","10,000+",Satya Nadella
2,ALPHABET,40.260,USA,"Internet or Mobile App Based Business, Softwar...","10,000+",Sundar Pichai
3,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),49.320,Saudi Arabia,"Oil and Gas, Chemicals, Energy","10,000+",Amin H. Al-Nasser
4,AMAZON.COM,21.330,USA,"Internet or Mobile App Based Business, Cloud S...","10,000+",Andy Jassy

### Dataset HirsutePippo Horizon

In [29]:
hphorizon = pd.read_csv("sources/aziende/hp_aziende.csv")
hphorizon.head(25)

,Name,Address,Industry,Type,Est. of Ownership,National ID,SIC Code
0,Toyota Motor Europe,"Avenue du Bourget 60, Bruxelles, 1140, BRUXELL...",Wholesale Trade,Corporation,2005.0,BE0441571714 Ondernemingsnummer,Whol autos/motor vehicles (5012)
1,Pfizer Service Company,"Hoge Wei 10, Zaventem (Brucargo), 1930, VLAAMS...",Wholesale Trade,Corporation,2002.0,BE0478242365 Ondernemingsnummer,Whol drugs/sundries (5122)
2,Janssen Pharmaceutica,"Turnhoutseweg 30, Beerse, 2340, ANTWERPEN, BEL...",Manufacturing,Corporation,2014.0,BE0403834160 Ondernemingsnummer,Mfg pharmaceutical preparations (2834)
3,Total Petrochemicals & Refining SA/NV,"Rue de l'Industrie 52, Bruxelles, 1040, BRUXEL...",Manufacturing,Corporation,2016.0,BE0403079441 Ondernemingsnummer,Petroleum refiner (2911)
4,ExxonMobil Petroleum & Chemical,"Polderdijkweg 3, Antwerpen, 2030, ANTWERPEN, B...",Manufacturing,Corporation,2017.0,BE0416375270 Ondernemingsnummer,Petroleum refiner (2911)
5,Electrabel,"Boulevard Simon Bolivar 34, Bruxelles, 1000, B...","Transportation, Communications, Electric, Gas,...",Corporation,2008.0,BE0403170701 Ondernemingsnummer,Electric services (4911)
6,Eurelec Trading,"Square de MeeÃ»s 23, Bruxelles, 1000, BRUXELLES...",Services,Cooperative,2017.0,BE0656908546 Ondernemingsnummer,Business association (8611)
7,Ageas,"Rue du Marquis 1, Bruxelles, 1000, BRUXELLES-C...",Wholesale Trade,Corporation,2008.0,BE0451406524 Ondernemingsnummer,Whol non durable goods (5199)
8,Etablissementen Franz Colruyt,"Edingensesteenweg 196, Halle, 1500, VLAAMS BRA...",Retail Trade,Corporation,2016.0,BE0400378485 Ondernemingsnummer,Ret groceries (5411)
9,Glaxosmithkline Biologicals,"Rue de l'Institut 89, Rixensart, 1330, BRABANT...",Manufacturing,Corporation,2014.0,BE0440872918 Ondernemingsnummer,Mfg pharmaceutical preparations (2834)
10,Ageas,"Rue du Marquis 1, Bruxelles, 1000, BRUXELLES-C...",Wholesale Trade,Corporation,2008.0,BE0451406524 Ondernemingsnummer,Whol non durable goods (5199)
11,RGF Staffing Interservices,"Frankrijklei 101, Antwerpen, 2000, ANTWERPEN, ...","Finance, Insurance, and Real Estate",Corporation,2015.0,BE0412773897 Ondernemingsnummer,Holding company (6719)
12,HR Rail,"Rue de France 85, Bruxelles, 1060, BRUXELLES-C...",Services,Corporation,2013.0,BE0541691352 Ondernemingsnummer,Employment agency (7361)
13,Bpost,"Place de la Monnaie, Muntcentrum - Centre Monn...","Transportation, Communications, Electric, Gas,...",Corporation,1974.0,BE0214596464 Ondernemingsnummer,Local trucking operator (4212)
14,Randstad Belgium,"Avenue Charles-Quint 586, Internal Postal Box ...",Services,Corporation,1965.0,BE0402725291 Ondernemingsnummer,Employment agency (7361)
15,Proximus,"Boulevard du Roi Albert II 27, Bruxelles, 1030...","Transportation, Communications, Electric, Gas,...",Corporation,2011.0,BE0202239951 Ondernemingsnummer,Communication services (4899)
16,BESIX Group,"Avenue des CommunautÃ©s 100, Bruxelles, 1200, B...",Manufacturing,Corporation,2013.0,BE0400459154 Ondernemingsnummer,Mfg gypsum products (3275)
17,Koramic Holding,"Kapel ter Bede 84, Ter Bede Business Center, K...","Finance, Insurance, and Real Estate",Corporation,1997.0,BE0405371512 Ondernemingsnummer,Real estate agent/manager (6531)
18,Delhaize Le Lion/De Leeuw,"Rue Osseghem 53, Bruxelles, 1080, BRUXELLES-CA...",Retail Trade,Partnership Of Unknown Type,2016.0,BE0402206045 Ondernemingsnummer,Ret groceries (5411)
19,U C B,"AllÃ©e de la Recherche 60, Bruxelles, 1070, BRU...",Services,Corporation,1925.0,BE0403053608 Ondernemingsnummer,Business services (7389)
20,PSA AUTOMOBILES SA,"2 10, 2 BOULEVARD DE L EUROPE, POISSY, 78300, ...",Manufacturing,Corporation,1954.0,54206547900926 SIRET,Mfg motor vehicle/car bodies (3711)
21,ELECTRICITE DE FRANCE,"22 30, 22 AVENUE DE WAGRAM, PARIS, 75008, PARI...","Transportation, Communications, Electric, Gas,...",Corporation,1955.0,55208131766522 SIRET,Electric services (4911)
22,AIRBUS,"2 ROND POINT EMILE DEWOITINE, BLAGNAC, 31700, ...",Manufacturing,Corporation,1991.0,38347481400100 SIRET,Mfg aircraft (3721)
23,RENAULT SAS,"013 015, 13 QUAI ALPHONSE LE GALLO, BOULOGNE B...",Manufacturing,Corporation,1967.0,78012998703591 SIRET,Mfg motor vehicle/car bodies (3711)
24,TOTALENERGIES MARKETING FRANCE,"562 AVENUE DU PARC DE L ILE, NANTERRE, 92000, ...",Wholesale Trade,Corporation,2011.0,53168044500024 SIRET,Whol petroleum products (5172)

In [30]:
hphorizon.dtypes

Name                  object
Address               object
Industry              object
Type                  object
Est. of Ownership    float64
National ID           object
SIC Code              object
dtype: object

In [31]:
hphorizon.isnull().sum()

Name                  0
Address               0
Industry              0
Type                  0
Est. of Ownership    33
National ID          71
SIC Code              0
dtype: int64

In [32]:
toDrop = ['Type', 'Est. of Ownership', 'National ID', 'SIC Code']
hphorizon = hphorizon.drop(toDrop, axis=1)
hphorizon.head()

,Name,Address,Industry
0,Toyota Motor Europe,"Avenue du Bourget 60, Bruxelles, 1140, BRUXELL...",Wholesale Trade
1,Pfizer Service Company,"Hoge Wei 10, Zaventem (Brucargo), 1930, VLAAMS...",Wholesale Trade
2,Janssen Pharmaceutica,"Turnhoutseweg 30, Beerse, 2340, ANTWERPEN, BEL...",Manufacturing
3,Total Petrochemicals & Refining SA/NV,"Rue de l'Industrie 52, Bruxelles, 1040, BRUXEL...",Manufacturing
4,ExxonMobil Petroleum & Chemical,"Polderdijkweg 3, Antwerpen, 2030, ANTWERPEN, B...",Manufacturing

In [33]:
hphorizon.rename(columns={'Name':'name'}, inplace=True)
hphorizon.rename(columns={'Address':'headquarter'}, inplace=True)
hphorizon.rename(columns={'Industry':'industry'}, inplace=True)
hphorizon.head()

,name,headquarter,industry
0,Toyota Motor Europe,"Avenue du Bourget 60, Bruxelles, 1140, BRUXELL...",Wholesale Trade
1,Pfizer Service Company,"Hoge Wei 10, Zaventem (Brucargo), 1930, VLAAMS...",Wholesale Trade
2,Janssen Pharmaceutica,"Turnhoutseweg 30, Beerse, 2340, ANTWERPEN, BEL...",Manufacturing
3,Total Petrochemicals & Refining SA/NV,"Rue de l'Industrie 52, Bruxelles, 1040, BRUXEL...",Manufacturing
4,ExxonMobil Petroleum & Chemical,"Polderdijkweg 3, Antwerpen, 2030, ANTWERPEN, B...",Manufacturing

### Dataset MMS FTEuropeansCompanies

In [34]:
path = 'sources/aziende/ftEuropeanCompanies2018.csv'

with open(path, 'r', encoding='utf-8') as f:
    mmsft = pd.read_csv(path, sep=';|"', engine='python').dropna(how='all', axis=1)
mmsft.tail(10)

,company_name,website,sector,country,revenue_euros,employees,founded
990,Omar Park Homes,https://omar.co.uk,Construction,United Kingdom,46M,379.0,1965
991,Pets Nature,https://petsnature.de,Ecommerce,Germany,14M,17.0,1999
992,TEMP.Service,https://tempservice.de,Support Services,Germany,3M,95.0,2012
993,Castlefield Partners,https://castlefield.com,Financial Services,United Kingdom,4M,31.0,2002
994,Urban Linker,https://urbanlinker.com,Support Services,France,2M,28.0,2009
995,VICRIS,https://vicris.it,Chemicals,Italy,4M,5.0,1989
996,FUTURECOM Austria GmbH,https://futurecom-world.com,Support Services,Austria,2M,6.0,2013
997,Digital Republic Media Group,https://digitalrepublic.com,Advertising,Germany,7M,30.0,2003
998,Jorge A. GÃÂ³mez Rebollo,https://n/a,Restaurants,Spain,3M,87.0,1997
999,Bioburger,https://bioburger.fr,Restaurants,France,1M,16.0,2011

In [35]:
toDrop = ['founded']
mmsft = mmsft.drop(toDrop, axis=1)

In [36]:
mmsft.rename(columns={'company_name':'name'}, inplace=True)
mmsft.rename(columns={'sector':'industry'}, inplace=True)
mmsft.rename(columns={'country':'headquarter'}, inplace=True)
mmsft.rename(columns={'revenue_euros':'revenue'}, inplace=True)
mmsft['employees'] = mmsft['employees'].replace('NaN', np.nan)
mmsft['employees'] = mmsft['employees'].astype('Int64')
mmsft['employees']= mmsft.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
mmsft['revenue'] = mmsft['revenue'].str.replace(r'M', '')
mmsft.head()

,name,website,industry,headquarter,revenue,employees
0,Deliveroo*,https://deliveroo.co.uk,Food & Beverage,United Kingdom,157,"1,001 TO 5,000"
1,Thermondo,https://thermondo.de,Energy,Germany,20,201 TO 500
2,Traventia Viajes*,https://traventia.es,Travel & Leisure,Spain,10,11 TO 50
3,Alainsa,https://alainsa.com,Construction,Spain,10,11 TO 50
4,iTravex,https://itravex.es,Travel & Leisure,Spain,22,11 TO 50

### Dataset MMS Iseg

In [37]:
path = 'sources/aziende/lsegEuropeanCompanies2018.csv'

with open(path, 'r', encoding='utf-8') as f:
    mmsiseg = pd.read_csv(path, sep=';|"|\t', engine='python',index_col = False).dropna(how='all', axis=1)
mmsiseg.head(10)

,company_name,website,sector,country,revenue_euros
0,"4EVER, SRO",www.4ever.cz,Manufacturing,Czech Republic,40M to 50M
1,77 Elektornika Kft,www.en.e77.hu,Manufacturing,Hungary,75M to 100M
2,7N A/S,www.7n.com,IT Technology,Denmark,75M to 100M
3,A. Mintikkis Farm,www.mintikkis.com,Wholesale,Cyprus,30M to 40M
4,Aarstiderne A/S,www.aarstiderne.com,Consumer Services,Denmark,75M to 100M
5,AB Ã bro Bryggeri,www.abro.se,Food & Drink,Sweden,100M to 150M
6,Ableton,www.ableton.com,Technology,Germany,30M to 40M
7,Absolute,www.absoluteyachts.com,Manufacturing & Engineering,Italy,40M to 50M
8,Aceites Abril S.L.,www.aceitesabril.com,Food & Drink,Spain,150M to 250M
9,Aceitunas Cazorla,www.aceitunascazorla.com,Food & Drink,Spain,100M to 150M

In [38]:
mmsiseg.rename(columns={'company_name':'name'}, inplace=True)
mmsiseg.rename(columns={'sector':'industry'}, inplace=True)
mmsiseg.rename(columns={'country':'headquarter'}, inplace=True)
mmsiseg.rename(columns={'revenue_euros':'revenue'}, inplace=True)
mmsiseg['revenue'] = mmsiseg['revenue'].str[0:4]
mmsiseg['revenue'] = mmsiseg['revenue'].str.replace(r'[^\d.]+', '')
mmsiseg.head()

<ipython-input-38-a525e881b843>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  mmsiseg['revenue'] = mmsiseg['revenue'].str.replace(r'[^\d.]+', '')

,name,website,industry,headquarter,revenue
0,"4EVER, SRO",www.4ever.cz,Manufacturing,Czech Republic,40
1,77 Elektornika Kft,www.en.e77.hu,Manufacturing,Hungary,75
2,7N A/S,www.7n.com,IT Technology,Denmark,75
3,A. Mintikkis Farm,www.mintikkis.com,Wholesale,Cyprus,30
4,Aarstiderne A/S,www.aarstiderne.com,Consumer Services,Denmark,75

In [39]:
mmsiseg.tail(300)

,name,website,industry,headquarter,revenue
706,POLIPAKS SIA,www.polipaks.com,Manufacturing,Latvia,30
707,Polli,www.polli.it,Food & Drink,Italy,50
708,Polopique,www.polopique.pt,Clothing (Manufacturing),Portugal,75
709,Polykemi Group,www.polykemi.se,Manufacturing,Sweden,100
710,Polytec,www.polytec.com,Technology,Germany,50
...,...,...,...,...,...
1001,Ziaja Ltd Zaklad Produkcji Lekow Sp Z O O,ziaja.com,Pharmaceutical/Science,Poland,50
1002,Zimmermann,www.f-zimmermann.com,Machining,Germany,40
1003,Zippe,www.zippe.de,Manufacturing & Engineering,Germany,40
1004,Zlatarna Celje d.o.o.,www.zlatarnacelje.si,Retail,Slovenia,40
1005,ZT Bielmar SP Z.O.O.,www.bielmar.pl,Food & Drink,Poland,50

### Zero8 Trustpilot

In [40]:
z8trustpilot = pd.read_json('sources/aziende/Zero8-trustpilot.com-v1.json', lines=True)
z8trustpilot.head()

,name,website,info,mail,phone,address,reviews_count,overall_rating,excellent,great,average,poor,bad
0,Right Channel Radios,http://www.rightchannelradios.com,"Looking for a CB for your Prius? Sorry, you're...",support@rightchannelradios.com,866.931.8223,59718\nBozeman\nUnited States,"5,408",Excellent,"5,083",204,53,28,40
1,RL Exchange,http://rl.exchange,Rocket League Trading have never been easier t...,support@rl.exchange,NaN,NaN,"6,175",Excellent,"5,658",453,39,16,9
2,FUTCOIN.NET,https://futcoin.net,FUTCOIN.NET - WORLD'S BEST PLATFORM FOR AUTOMA...,support@futcoin.net,NaN,NaN,"7,380",Excellent,"6,990",372,4,2,12
3,FreewaySocial,https://freewaysocial.com,"FreewaySocial provides Instagram, Facebook, Yo...",support@freewaysocial.com,NaN,NaN,"7,750",Excellent,"7,385",277,80,2,6
4,Flashbay,http://www.flashbay.com,"Flashbay, one of the world's leading suppliers...",contact@flashbay.us,NaN,NaN,"17,134",Excellent,"16,671",431,19,3,10

In [41]:
z8trustpilot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2185 entries, 0 to 2184
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            2185 non-null   object
 1   website         2185 non-null   object
 2   info            2049 non-null   object
 3   mail            1743 non-null   object
 4   phone           1127 non-null   object
 5   address         1121 non-null   object
 6   reviews_count   2185 non-null   object
 7   overall_rating  2185 non-null   object
 8   excellent       2185 non-null   object
 9   great           2185 non-null   object
 10  average         2185 non-null   object
 11  poor            2185 non-null   object
 12  bad             2185 non-null   object
dtypes: object(13)
memory usage: 222.0+ KB

In [42]:
z8trustpilot.dtypes

name              object
website           object
info              object
mail              object
phone             object
address           object
reviews_count     object
overall_rating    object
excellent         object
great             object
average           object
poor              object
bad               object
dtype: object

In [43]:
z8trustpilot.isnull().sum()

name                 0
website              0
info               136
mail               442
phone             1058
address           1064
reviews_count        0
overall_rating       0
excellent            0
great                0
average              0
poor                 0
bad                  0
dtype: int64

In [44]:
toDrop = ['mail', 'info', 'phone', 'reviews_count', 'overall_rating', 'excellent', 'great', 'average', 'poor', 'bad']
z8trustpilot = z8trustpilot.drop(toDrop, axis=1)

In [45]:
z8trustpilot.rename(columns={'address':'headquarter'}, inplace=True)
z8trustpilot.head()

,name,website,headquarter
0,Right Channel Radios,http://www.rightchannelradios.com,59718\nBozeman\nUnited States
1,RL Exchange,http://rl.exchange,NaN
2,FUTCOIN.NET,https://futcoin.net,NaN
3,FreewaySocial,https://freewaysocial.com,NaN
4,Flashbay,http://www.flashbay.com,NaN

### Zero8 Valuetoday

In [46]:
z8valuetoday = pd.read_json('sources/aziende/Zero8-value.today-v1.json', lines=True)
z8valuetoday.head()

,companyName,worldRank,marketValue,annualRevenueUSD,headquartersCountry,businessSector,CEO,founders,foundedYear,nEmployees
0,APPLE,1,"2,256.000 Billion USD","274,510 Million USD",USA,"Top Technology Companies in USA, Top Electroni...",Tim Cook,"Steve Jobs, Steve Wozniak, Ronald Wayne,",1976.0,"147,000"
1,CHEVRON CORPORATION,66,162.570 Billion USD,"94,470 Million USD",USA,"Top Energy Companies in USA, Top Energy Compan...",Michael Wirth,"John D. Rockefeller's,",1879.0,"44,679"
2,AGRICULTURAL BANK OF CHINA,81,164.070 Billion USD,"94,080 Million USD",China,"Top Banks in China,",Zhou Mubing,NaN,1979.0,"467,631"
3,ABBVIE,53,189.100 Billion USD,"45,800 Million USD",USA,"Top Technology Companies in USA, Top Healthcar...",Richard A. Gonzalez,NaN,2013.0,"47,000"
4,ORACLE CORPORATION,38,190.450 Billion USD,"39,070 Million USD",USA,"Top Technology Companies in USA, Top Software ...",Safra A. Catz,"Larry Ellison, Bob Miner, Ed Oates,",1977.0,"135,000"

In [47]:
toDrop = ['worldRank', 'founders', 'foundedYear', 'businessSector']
z8valuetoday = z8valuetoday.drop(toDrop, axis=1)
z8valuetoday.head()

,companyName,marketValue,annualRevenueUSD,headquartersCountry,CEO,nEmployees
0,APPLE,"2,256.000 Billion USD","274,510 Million USD",USA,Tim Cook,"147,000"
1,CHEVRON CORPORATION,162.570 Billion USD,"94,470 Million USD",USA,Michael Wirth,"44,679"
2,AGRICULTURAL BANK OF CHINA,164.070 Billion USD,"94,080 Million USD",China,Zhou Mubing,"467,631"
3,ABBVIE,189.100 Billion USD,"45,800 Million USD",USA,Richard A. Gonzalez,"47,000"
4,ORACLE CORPORATION,190.450 Billion USD,"39,070 Million USD",USA,Safra A. Catz,"135,000"

In [48]:
z8valuetoday.rename(columns={'companyName':'name'}, inplace=True)
z8valuetoday.rename(columns={'marketValue':'marketcap'}, inplace=True)
z8valuetoday.rename(columns={'annualRevenueUSD':'revenue'}, inplace=True)
z8valuetoday.rename(columns={'headquartersCountry':'headquarter'}, inplace=True)
z8valuetoday.rename(columns={'nEmployees':'employees'}, inplace=True)
z8valuetoday.rename(columns={'CEO':'ceo'}, inplace=True)
z8valuetoday['employees'] = z8valuetoday['employees'].str.replace(r'[^0-9]+', '')
z8valuetoday['employees'] = z8valuetoday['employees'].replace('NaN', np.nan)
z8valuetoday['employees'] = z8valuetoday['employees'].astype('float').astype('Int64')
z8valuetoday['employees']= z8valuetoday.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
z8valuetoday['marketcap'] = z8valuetoday['marketcap'].str.replace(r'[^\d.]+', '')
z8valuetoday['revenue'] = z8valuetoday['revenue'].str.replace(r',', '.')
z8valuetoday['revenue'] = z8valuetoday['revenue'].str.replace(r'[^\d.]+', '')
z8valuetoday.head()

<ipython-input-48-b14c480d78fc>:7: FutureWarning: The default value of regex will change from True to False in a future version.
  z8valuetoday['employees'] = z8valuetoday['employees'].str.replace(r'[^0-9]+', '')
<ipython-input-48-b14c480d78fc>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  z8valuetoday['marketcap'] = z8valuetoday['marketcap'].str.replace(r'[^\d.]+', '')
<ipython-input-48-b14c480d78fc>:13: FutureWarning: The default value of regex will change from True to False in a future version.
  z8valuetoday['revenue'] = z8valuetoday['revenue'].str.replace(r'[^\d.]+', '')

,name,marketcap,revenue,headquarter,ceo,employees
0,APPLE,2256.000,274.510,USA,Tim Cook,"10,000+"
1,CHEVRON CORPORATION,162.570,94.470,USA,Michael Wirth,"10,000+"
2,AGRICULTURAL BANK OF CHINA,164.070,94.080,China,Zhou Mubing,"10,000+"
3,ABBVIE,189.100,45.800,USA,Richard A. Gonzalez,"10,000+"
4,ORACLE CORPORATION,190.450,39.070,USA,Safra A. Catz,"10,000+"

In [49]:
z8valuetoday.dtypes

name           object
marketcap      object
revenue        object
headquarter    object
ceo            object
employees      object
dtype: object

### PolloEPatatine ValueToday

In [50]:
import json

openfile=open('sources/aziende/polloepatatine-value.today-v1.json')
jsondata=json.load(openfile)
pepvalue=pd.DataFrame(jsondata)

openfile.close()

pepvalue.head()

,name,rank,marketcap,market value,ceo,business,employees,annual revenue,country,website
0,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),4,"1,891.600 Billion USD",2051.500 Billion USD,Amin H. Al-Nasser,Energy Oil and Gas Chemi...,"66,800","232,740 Million USD",Saudi Arabia,https://www.saudiaramco.com/
1,APPLE,1,"2,510.000 Billion USD",2256.000 Billion USD,Tim Cook,Technology Mobiles & Accessories ...,"147,000","274,510 Million USD",USA,https://www.apple.com/
2,MICROSOFT CORPORATION,2,"2,269.000 Billion USD",1682.000 Billion USD,Satya Nadella,Technology Software and IT ...,"156,439","143,000 Million USD",USA,https://www.microsoft.com/
3,ALPHABET,3,"1,934.000 Billion USD",1185.000 Billion USD,Sundar Pichai,Technology Internet or Mobile App B...,"135,301","182,520 Million USD",USA,https://abc.xyz/
4,AMAZON.COM,5,"1,758.000 Billion USD",1634.000 Billion USD,Andy Jassy,eCommerce Internet or Mobile App Ba...,"1,335,000","386,060 Million USD",USA,https://www.amazon.com/

In [51]:
toDrop = ['rank', 'market value']
pepvalue = pepvalue.drop(toDrop, axis=1)
pepvalue.head()

,name,marketcap,ceo,business,employees,annual revenue,country,website
0,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),"1,891.600 Billion USD",Amin H. Al-Nasser,Energy Oil and Gas Chemi...,"66,800","232,740 Million USD",Saudi Arabia,https://www.saudiaramco.com/
1,APPLE,"2,510.000 Billion USD",Tim Cook,Technology Mobiles & Accessories ...,"147,000","274,510 Million USD",USA,https://www.apple.com/
2,MICROSOFT CORPORATION,"2,269.000 Billion USD",Satya Nadella,Technology Software and IT ...,"156,439","143,000 Million USD",USA,https://www.microsoft.com/
3,ALPHABET,"1,934.000 Billion USD",Sundar Pichai,Technology Internet or Mobile App B...,"135,301","182,520 Million USD",USA,https://abc.xyz/
4,AMAZON.COM,"1,758.000 Billion USD",Andy Jassy,eCommerce Internet or Mobile App Ba...,"1,335,000","386,060 Million USD",USA,https://www.amazon.com/

In [52]:
pepvalue.dtypes

name              object
marketcap         object
ceo               object
business          object
employees         object
annual revenue    object
country           object
website           object
dtype: object

In [53]:
pepvalue.rename(columns={'business':'industry'}, inplace=True)
pepvalue.rename(columns={'annual revenue':'revenue'}, inplace=True)
pepvalue.rename(columns={'country':'headquarter'}, inplace=True)
pepvalue['employees'] = pepvalue['employees'].str.replace(r'[^0-9]+', '')
pepvalue['employees'] = pepvalue['employees'].replace('', np.nan)
pepvalue['employees'] = pepvalue['employees'].replace('NaN', np.nan)
pepvalue['employees'] = pepvalue['employees'].astype('float').astype('Int64')
pepvalue['employees']= pepvalue.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
pepvalue['marketcap'] = pepvalue['marketcap'].str.replace(r'[^\d.]+', '')
pepvalue['revenue'] = pepvalue['revenue'].str.replace(r',', '.')
pepvalue['revenue'] = pepvalue['revenue'].str.replace(r'[^\d.]+', '')
pepvalue['revenue'] = pepvalue['revenue'].replace('', pd.NA)
pepvalue['website'] = pepvalue['website'].replace('', pd.NA)
pepvalue['headquarter'] = pepvalue['headquarter'].replace('', pd.NA)
pepvalue.tail(300)

<ipython-input-53-c1d6a7b8d994>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  pepvalue['employees'] = pepvalue['employees'].str.replace(r'[^0-9]+', '')
<ipython-input-53-c1d6a7b8d994>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  pepvalue['marketcap'] = pepvalue['marketcap'].str.replace(r'[^\d.]+', '')
<ipython-input-53-c1d6a7b8d994>:11: FutureWarning: The default value of regex will change from True to False in a future version.
  pepvalue['revenue'] = pepvalue['revenue'].str.replace(r'[^\d.]+', '')

,name,marketcap,ceo,industry,employees,revenue,headquarter,website
20162,EFTEN REAL ESTATE FUND III AS,0.141,,Real Estate,<NA>,<NA>,Estonia,<NA>
20163,KEZAR LIFE SCIENCES,0.367,,Healthcare HealthCare Products ...,<NA>,0,USA,https://www.kezarlifesciences.com/
20164,LEWAG HOLDING,0.089,,Industries Industry Machinery,<NA>,<NA>,Germany,http://www.lewag.de/
20165,MPC MUNCHMEYER PETERSEN CAPITAL AG,0.141,,Financial Services Asset Management,<NA>,<NA>,Germany,https://www.mpc-capital.com/
20166,RESONANT,0.173,,Technology Semiconductors,<NA>,3,USA,https://www.resonant.com/
...,...,...,...,...,...,...,...,...
20457,SANYEI CORPORATION,0.043,,Consumer Cyclical Furniture ...,<NA>,<NA>,Japan,https://www.sanyeicorp.com/
20458,HELIOS TECHNO HOLDING,0.054,,Technology Electronics C...,<NA>,<NA>,Japan,<NA>
20459,GOKURAKUYU HOLDINGS,0.055,,Consumer Cyclical Gym and Fitness ...,<NA>,<NA>,Japan,https://www.gokurakuyu-holdings.co.jp/
20460,SATUDORAHOLDINGS,0.090,,Healthcare Pharmacy Retail,<NA>,<NA>,Japan,https://satudora-hd.co.jp/
20461,HAILIANG INTERNATIONAL HOLDINGS,0.039,,Technology Semiconductors,<NA>,<NA>,Hong Kong,<NA>

In [54]:
pepvalue.head(300)

,name,marketcap,ceo,industry,employees,revenue,headquarter,website
0,SAUDI ARABIAN OIL COMPANY (Saudi Aramco),1891.600,Amin H. Al-Nasser,Energy Oil and Gas Chemi...,"10,000+",232.740,Saudi Arabia,https://www.saudiaramco.com/
1,APPLE,2510.000,Tim Cook,Technology Mobiles & Accessories ...,"10,000+",274.510,USA,https://www.apple.com/
2,MICROSOFT CORPORATION,2269.000,Satya Nadella,Technology Software and IT ...,"10,000+",143.000,USA,https://www.microsoft.com/
3,ALPHABET,1934.000,Sundar Pichai,Technology Internet or Mobile App B...,"10,000+",182.520,USA,https://abc.xyz/
4,AMAZON.COM,1758.000,Andy Jassy,eCommerce Internet or Mobile App Ba...,"10,000+",386.060,USA,https://www.amazon.com/
...,...,...,...,...,...,...,...,...
295,AIRBNB,97.433,,Internet or Mobile App Based Business ...,"5,001 TO 10,000",4.700,USA,https://www.airbnb.com
296,DBS GROUP HOLDINGS,57.451,Piyush Gupta,Financial Services Banking Services,"10,000+",10.760,Singapore,https://www.dbs.com
297,HCA HEALTHCARE,80.990,Samuel N. Hazen,Healthcare Hospitals Hea...,"10,000+",51.330,USA,https://hcahealthcare.com/
298,MMC NORILSK NICKEL,51.394,Vladimir Potanin,Basic Materials Mining M...,"10,000+",13.560,Russia,https://www.nornickel.com/
299,AMERICAN INTERNATIONAL GROUP (AIG),46.660,Brian Duperreault,Financial Services Banking Services...,"10,000+",49.790,USA,https://www.aig.com/

### PolloEPatatine CompaniesMarketCap

In [55]:
import json

openfile=open('sources/aziende/polloepatatine-companiesmarketcap.com-1.json')
jsondata=json.load(openfile)
pepmarket=pd.DataFrame(jsondata)

openfile.close()

pepmarket.head()

UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 107291: character maps to <undefined>

In [ ]:
toDrop = ['code', 'rank', 'change(1day)', 'change(1year)', 'competitor']
pepmarket = pepmarket.drop(toDrop, axis=1)
pepmarket.head()

In [ ]:
pepmarket.rename(columns={'business':'industry'}, inplace=True)
pepmarket.rename(columns={'country':'headquarter'}, inplace=True)
pepmarket.rename(columns={'sharePrice':'shareprice'}, inplace=True)
pepmarket['shareprice'] = pepmarket['shareprice'].str.replace('$', '')
pepmarket['shareprice'] = pepmarket['shareprice'].replace(',','', regex=True)
pepmarket['marketcap'] = pepmarket['marketcap'].str.replace('$', '')
pepmarket['marketcap'] = pepmarket['marketcap'].astype('string')
pepmarket['marketcap'] = pepmarket.apply(lambda x: change_marketcap(x['marketcap']), axis=1)
pepmarket['marketcap'] = pepmarket['marketcap'].replace('N/A', pd.NA)
pepmarket['shareprice'] = pepmarket['shareprice'].replace('N/A', pd.NA)
pepmarket.head()

In [ ]:
pepmarket.tail(300)

### CrispyMcData KPopFandom

In [ ]:
kpopfandom = pd.read_csv("sources/aziende/kpopfandom-companies.csv")
kpopfandom.head(3)

In [ ]:
kpopfandom.dtypes

In [ ]:
kpopfandom.isnull().sum()

In [ ]:
kpopfandom.info()

In [ ]:
toDrop = ["type", "key_people", "active_group_links","active_group_names","distributor_links","distributor_names","former_group_links","former_group_names","founded","founders","hangul","key_people_links","link","other_names","parternship_links","parternship_names","socials","soloist_links","soloist_names","subsidiary_links","subsidiary_names","websites"]
kpopfandom = kpopfandom.drop(toDrop, axis=1)
kpopfandom.head()

In [ ]:
kpopfandom.rename(columns={'locations':'headquarter'}, inplace=True)
kpopfandom.head()

### CrispyMcData KPoppingFandom

In [ ]:
kpopping = pd.read_csv("sources/aziende/kpopping-companies.csv")
kpopping.head(3)

In [ ]:
kpopping.dtypes

In [ ]:
kpopping.isnull().sum()

In [56]:
kpopping.info()

NameError: name 'kpopping' is not defined

In [57]:
toDrop = ["link", "revenue", "active_artist_links","active_artist_names","active_artist_partnership_periods","active_group_links","active_group_names","active_group_partnership_periods","active_groups","artists_count","former_artist_links","former_artist_names","former_artist_partnership_periods","former_group_links","former_group_names","former_group_partnership_periods","former_groups","founded","founders","groups_count","introduction","native_names","parent_company","parent_company_link","subsidiary_links","subsidiary_names"]
kpopping = kpopping.drop(toDrop, axis=1)
kpopping.head()

NameError: name 'kpopping' is not defined

In [58]:
kpopping.rename(columns={'CEO':'ceo'}, inplace=True)
kpopping.rename(columns={'hometown':'headquarter'}, inplace=True)
kpopping.rename(columns={'socials':'website'}, inplace=True)
kpopping['employees'] = kpopping['employees'].astype('Int64')
kpopping['employees']= kpopping.apply(lambda x: pd.NA if pd.isna(x['employees']) else employees_range(x['employees']), axis=1)
kpopping.head()

NameError: name 'kpopping' is not defined

### Querynator Indeed

In [59]:
import json

openfile=open('sources/aziende/indeed.json')
jsondata=json.load(openfile)
indeed=pd.DataFrame(jsondata)

openfile.close()

indeed.head()

,id,name,headquarters,employeesSize,industryType,websiteList,happinessScore,reviewScore,jobOffersCount
0,328537e1-e32c-43e1-be16-35c1f96298b1,Groupon,"600 W Chicago Ave Suite 400 Chicago, IL 60616","1,001 to 5,000",Information Technology,"[https://www.instagram.com/grouponcareers, htt...",65,3.6,115.0
1,8384824c-b8e9-4945-b1d3-1b73edefe18d,E-Technologies,Auckland,2 to 10,Information Technology,[http://etechnologies.co.nz/],None,3.6,21.0
2,18afd2c8-a414-404c-a982-bcc84412e039,Yakshna Solutions,"Herndon, VA",11 to 50,None,[http://www.yakshna.com/],None,3.9,109.0
3,05ca73bc-e60a-4a4a-b260-3632ce6427be,THRU TUBING SOLUTIONS,Oklahoma City,51 to 200,"Energy, Mining & Utilities",[http://www.thrutubing.com/],None,4.1,2.0
4,dc30c2ef-c647-4cd1-b2a4-6464ca8c0a3b,Cleveland Cliffs Inc,"Cleveland, OH","5,001 to 10,000",Personal Consumer Services,[https://www.linkedin.com/company/cleveland-cl...,57,3.2,108.0

In [60]:
toDrop = ["id", "happinessScore", "reviewScore", "jobOffersCount"]
indeed = indeed.drop(toDrop, axis=1)
indeed.head()

,name,headquarters,employeesSize,industryType,websiteList
0,Groupon,"600 W Chicago Ave Suite 400 Chicago, IL 60616","1,001 to 5,000",Information Technology,"[https://www.instagram.com/grouponcareers, htt..."
1,E-Technologies,Auckland,2 to 10,Information Technology,[http://etechnologies.co.nz/]
2,Yakshna Solutions,"Herndon, VA",11 to 50,None,[http://www.yakshna.com/]
3,THRU TUBING SOLUTIONS,Oklahoma City,51 to 200,"Energy, Mining & Utilities",[http://www.thrutubing.com/]
4,Cleveland Cliffs Inc,"Cleveland, OH","5,001 to 10,000",Personal Consumer Services,[https://www.linkedin.com/company/cleveland-cl...

In [61]:
indeed.rename(columns={'headquarters':'headquarter'}, inplace=True)
indeed.rename(columns={'employeesSize':'employees'}, inplace=True)
indeed.rename(columns={'industryType':'industry'}, inplace=True)
indeed.rename(columns={'websiteList':'website'}, inplace=True)
indeed.head()

,name,headquarter,employees,industry,website
0,Groupon,"600 W Chicago Ave Suite 400 Chicago, IL 60616","1,001 to 5,000",Information Technology,"[https://www.instagram.com/grouponcareers, htt..."
1,E-Technologies,Auckland,2 to 10,Information Technology,[http://etechnologies.co.nz/]
2,Yakshna Solutions,"Herndon, VA",11 to 50,None,[http://www.yakshna.com/]
3,THRU TUBING SOLUTIONS,Oklahoma City,51 to 200,"Energy, Mining & Utilities",[http://www.thrutubing.com/]
4,Cleveland Cliffs Inc,"Cleveland, OH","5,001 to 10,000",Personal Consumer Services,[https://www.linkedin.com/company/cleveland-cl...

### Querynator Yelp

In [62]:
import json

openfile=open('sources/aziende/companies.json')
jsondata=json.load(openfile)
companies=pd.DataFrame(jsondata)

openfile.close()

companies.head()

,id,name,type,starsCount,reviewsCount,mobileNumber,address,website,workingHours
0,a0c7b6c2-5bc5-41c1-af00-00fae8823ce7,Ideal Construction,Imprese edili,NaN,NaN,(661) 644-9519,"28338 Constellation Rd Ste 900 Santa Clarita, ...",https://www.yelp.it/biz_redir?url=https%3A%2F%...,8:30 AM - 5:30 PM
1,fff11db7-1579-4e45-ab45-a27de8dedfbd,Winter Construction,Imprese edili,NaN,NaN,None,"3100 Gentian Blvd Columbus, GA 31907 Stati Uniti",None,None
2,3e7409f3-6c73-46a0-8f95-4f9fc5e0dfd0,Fantastic Carpet Services,Pulitura tappeti,4.0,5.0,(713) 780-9279,"8950 Westpark Dr Ste 201-202 Houston, TX 77063...",https://www.yelp.it/biz_redir?url=http%3A%2F%2...,9:00 AM - 4:00 PM
3,af8d23ee-4d88-4934-b709-52c9065b5382,Design By Kimberly Vaughan,Design d'interni,5.0,1.0,(214) 458-5057,"Dallas, TX 75243 Stati Uniti",https://www.yelp.it/biz_redir?url=https%3A%2F%...,9:00 AM - 6:00 PM
4,177bcbb1-60f3-44d7-a09b-fdaa02150fc8,Demo Leaders,Servizi di demolizione,5.0,75.0,(800) 915-6352,"16456 Aldea Ave Van Nuys, CA 91406 Stati Uniti",https://www.yelp.it/biz_redir?url=http%3A%2F%2...,8:00 AM - 7:00 PM

In [63]:
toDrop = ["id", "starsCount", "reviewsCount", "mobileNumber", "workingHours"]
companies = companies.drop(toDrop, axis=1)
companies.head()

,name,type,address,website
0,Ideal Construction,Imprese edili,"28338 Constellation Rd Ste 900 Santa Clarita, ...",https://www.yelp.it/biz_redir?url=https%3A%2F%...
1,Winter Construction,Imprese edili,"3100 Gentian Blvd Columbus, GA 31907 Stati Uniti",None
2,Fantastic Carpet Services,Pulitura tappeti,"8950 Westpark Dr Ste 201-202 Houston, TX 77063...",https://www.yelp.it/biz_redir?url=http%3A%2F%2...
3,Design By Kimberly Vaughan,Design d'interni,"Dallas, TX 75243 Stati Uniti",https://www.yelp.it/biz_redir?url=https%3A%2F%...
4,Demo Leaders,Servizi di demolizione,"16456 Aldea Ave Van Nuys, CA 91406 Stati Uniti",https://www.yelp.it/biz_redir?url=http%3A%2F%2...

In [64]:
companies.rename(columns={'type':'industry'}, inplace=True)
companies.rename(columns={'address':'headquarter'}, inplace=True)
companies.head()

,name,industry,headquarter,website
0,Ideal Construction,Imprese edili,"28338 Constellation Rd Ste 900 Santa Clarita, ...",https://www.yelp.it/biz_redir?url=https%3A%2F%...
1,Winter Construction,Imprese edili,"3100 Gentian Blvd Columbus, GA 31907 Stati Uniti",None
2,Fantastic Carpet Services,Pulitura tappeti,"8950 Westpark Dr Ste 201-202 Houston, TX 77063...",https://www.yelp.it/biz_redir?url=http%3A%2F%2...
3,Design By Kimberly Vaughan,Design d'interni,"Dallas, TX 75243 Stati Uniti",https://www.yelp.it/biz_redir?url=https%3A%2F%...
4,Demo Leaders,Servizi di demolizione,"16456 Aldea Ave Van Nuys, CA 91406 Stati Uniti",https://www.yelp.it/biz_redir?url=http%3A%2F%2...

## Nasti Companies

In [73]:
import pandas as pd
nasticompanies = pd.read_json(path_or_buf='sources/aziende/nasti_companies_clutch.jsonl', lines=True)
nasticompanies.head()

,id,name,website,description,rating,min_project_size,avg_hourly_rate,employees,founded,headquarter,business_entity,payment_legal_filings,client_reviews
0,fa336081a7fa4bb09b250cd6e89f6ad4,The Software House,https://tsh.io/,Development partner for technology-first compa...,4.8,"$10,000+",$50 - $99 / hr,50 - 249,2012,"{'street_address': 'Dolnych WaÅÃ³w 8', 'localit...",{'business_entity_name': 'THE SOFTWARE HOUSE S...,{'international_credit_risk_assessment': 'Very...,"{'verified_client_reviews': '53', 'overall_rev..."
1,1f54baa7559c49648cdc0206a6d2f885,Isadora Agency,http://isadoradigitalagency.com/,Leader in Web and Digital Transformations,4.7,"$50,000+",$100 - $149 / hr,10 - 49,2009,"{'street_address': '1600 Rosecrans Ave', 'loca...",{'business_entity_name': 'Isadora Design LLC -...,NaN,"{'verified_client_reviews': '12', 'overall_rev..."
2,ec64cafb73344990aa04852b2182411b,JetRuby Agency,https://www.jetruby.com/,We listen to Clients and then Build Great Apps,4.9,"$50,000+",$50 - $99 / hr,50 - 249,2010,"{'street_address': 'Shevchenko Avenue', 'local...",{'business_entity_name': 'DIGITAL FUTURE GROUP...,{'international_credit_risk_assessment': 'Low ...,"{'verified_client_reviews': '20', 'overall_rev..."
3,a9c14cf04996460fb9e73f83eaf62b76,Light IT,http://light-it.net,Deep tech expertise for Startups and Enterprises,4.8,"$25,000+",$25 - $49 / hr,50 - 249,2006,"{'street_address': 'Pobedy 70b', 'locality': '...",{'business_entity_name': 'LIGHT IT GLOBAL LIMI...,{'international_credit_risk_assessment': 'Low ...,"{'verified_client_reviews': '22', 'overall_rev..."
4,593e627140c04c2ab50ce9a5ef166f28,Infinum,https://infinum.com/,Digital products that solve real-life problems,4.8,"$25,000+",$50 - $99 / hr,50 - 249,2005,"{'street_address': '67E 11th St', 'locality': ...","{'business_entity_name': 'INFINUM INC', 'statu...","{'bankruptcy': 'No', 'tax_lien_filings': '0', ...","{'verified_client_reviews': '37', 'overall_rev..."

In [74]:
toDrop = ["id", "headquarter", "business_entity", "payment_legal_filings", "client_reviews", "description", "rating", "min_project_size", "avg_hourly_rate", "founded" ]
nasticompanies = nasticompanies.drop(toDrop, axis=1)
nasticompanies.head()

                 name                           website employees
0  The Software House                   https://tsh.io/  50 - 249
1      Isadora Agency  http://isadoradigitalagency.com/   10 - 49
2      JetRuby Agency          https://www.jetruby.com/  50 - 249
3            Light IT               http://light-it.net  50 - 249
4             Infinum              https://infinum.com/  50 - 249

## Phase 2: Dataset Concatenation

In [65]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1051 non-null   object
 1   industry     993 non-null    object
 2   headquarter  676 non-null    object
 3   website      808 non-null    object
dtypes: object(4)
memory usage: 33.0+ KB

In [78]:
indeed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1053 entries, 0 to 1052
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1053 non-null   object
 1   headquarter  941 non-null    object
 2   employees    909 non-null    object
 3   industry     924 non-null    object
 4   website      1053 non-null   object
dtypes: object(5)
memory usage: 41.3+ KB

In [79]:
dataset = [indeed, companies, scarano_yahoo, scarano_investing, aeavt, aeacm, hpvalue, hphorizon, mmsft, mmsiseg, z8trustpilot, z8valuetoday, pepvalue, pepmarket, kpopfandom, kpopping]

for d in dataset:
    d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1053 entries, 0 to 1052
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1053 non-null   object
 1   headquarter  941 non-null    object
 2   employees    909 non-null    object
 3   industry     924 non-null    object
 4   website      1053 non-null   object
dtypes: object(5)
memory usage: 41.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1052 entries, 0 to 1051
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1051 non-null   object
 1   industry     993 non-null    object
 2   headquarter  676 non-null    object
 3   website      808 non-null    object
dtypes: object(4)
memory usage: 33.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2305 entries, 0 to 2304
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticker       2305 non-null   object
 1   name         2305 non-null   object
 2   website      2305 non-null   object
 3   headquarter  2305 non-null   object
 4   employees    2305 non-null   object
 5   industry     2260 non-null   object
dtypes: object(6)
memory usage: 108.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ticker       2059 non-null   object
 1   name         2059 non-null   object
 2   website      2059 non-null   object
 3   headquarter  2059 non-null   object
 4   employees    1618 non-null   object
 5   industry     2059 non-null   object
dtypes: object(6)
memory usage: 96.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9885 entries, 0 to 9884
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         9885 non-null   object
 1   employees    4464 non-null   object
 2   industry     9704 non-null   object
 3   ceo          502 non-null    object
 4   revenue      7442 non-null   object
 5   headquarter  9877 non-null   object
 6   marketcap    9101 non-null   object
dtypes: object(7)
memory usage: 540.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         4968 non-null   object
 1   marketcap    4968 non-null   object
 2   headquarter  4968 non-null   object
 3   industry     4968 non-null   object
 4   shareprice   4968 non-null   object
dtypes: object(5)
memory usage: 194.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         10000 non-null  object
 1   revenue      7488 non-null   object
 2   headquarter  9992 non-null   object
 3   industry     9812 non-null   object
 4   employees    4478 non-null   object
 5   ceo          502 non-null    object
dtypes: object(6)
memory usage: 468.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1039 non-null   object
 1   headquarter  1039 non-null   object
 2   industry     1039 non-null   object
dtypes: object(3)
memory usage: 24.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1000 non-null   object
 1   website      1000 non-null   object
 2   industry     1000 non-null   object
 3   headquarter  1000 non-null   object
 4   revenue      1000 non-null   object
 5   employees    997 non-null    object
dtypes: object(6)
memory usage: 47.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1006 entries, 0 to 1005
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1002 non-null   object
 1   website      998 non-null    object
 2   industry     1002 non-null   object
 3   headquarter  1000 non-null   object
 4   revenue      1000 non-null   object
dtypes: object(5)
memory usage: 39.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2185 entries, 0 to 2184
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         2185 non-null   object
 1   website      2185 non-null   object
 2   headquarter  1121 non-null   object
dtypes: object(3)
memory usage: 51.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         1000 non-null   object
 1   marketcap    996 non-null    object
 2   revenue      999 non-null    object
 3   headquarter  1000 non-null   object
 4   ceo          485 non-null    object
 5   employees    949 non-null    object
dtypes: object(6)
memory usage: 47.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20462 entries, 0 to 20461
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         20462 non-null  object
 1   marketcap    20462 non-null  object
 2   ceo          20462 non-null  object
 3   industry     20462 non-null  object
 4   employees    4527 non-null   object
 5   revenue      10783 non-null  object
 6   headquarter  20423 non-null  object
 7   website      19158 non-null  object
dtypes: object(8)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5697 entries, 0 to 5696
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         5697 non-null   object
 1   headquarter  5527 non-null   object
 2   marketcap    5690 non-null   object
 3   shareprice   5689 non-null   object
dtypes: object(4)
memory usage: 178.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   industry     18 non-null     object
 1   headquarter  234 non-null    object
 2   name         248 non-null    object
dtypes: object(3)
memory usage: 5.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 649 entries, 0 to 648
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ceo          192 non-null    object
 1   employees    28 non-null     object
 2   headquarter  589 non-null    object
 3   name         649 non-null    object
 4   website      562 non-null    object
dtypes: object(5)
memory usage: 25.5+ KB

In [80]:
result = pd.concat([indeed, companies, scarano_yahoo, scarano_investing, aeavt, aeacm, hpvalue, hphorizon, mmsft, mmsiseg, z8trustpilot, z8valuetoday, pepvalue, pepmarket, kpopfandom, kpopping], sort=False)
result['employees'].replace('', pd.NA)
result['headquarter'].replace('', pd.NA)
result['industry'].replace('', pd.NA)
result['name'].replace('', pd.NA)
result['website'].replace('', pd.NA)
result['ticker'].replace('', pd.NA)
result['ceo'].replace('', pd.NA)
result['revenue'].replace('', pd.NA)
result['marketcap'].replace('', pd.NA)
result['shareprice'].replace('', pd.NA)

result['employees'].fillna(np.nan, inplace=True)
result['headquarter'].fillna(np.nan, inplace=True)
result['industry'].fillna(np.nan, inplace=True)
result['name'].fillna(np.nan, inplace=True)
result['website'].fillna(np.nan, inplace=True)
result['ticker'].fillna(np.nan, inplace=True)
result['ceo'].fillna(np.nan, inplace=True)
result['revenue'].fillna(np.nan, inplace=True)
result['marketcap'].fillna(np.nan, inplace=True)
result['shareprice'].fillna(np.nan, inplace=True)
result.rename(columns={'marketcap':'marketcap_M'}, inplace=True)
result.rename(columns={'revenue':'revenue_M'}, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/missing.py:56: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

In [81]:
for columns in result.columns:
    result[columns] = result[columns].str.upper() 
result.tail(10000)

,name,headquarter,employees,industry,website,ticker,ceo,revenue_M,marketcap_M,shareprice
17056,TENPO INNOVATION,JAPAN,NaN,REAL ESTATE,HTTPS://WWW.TENPO-R.CO.JP/,NaN,,NaN,0.154,NaN
17057,KYONGBO PHARMACEUTICAL CO. LTD,SOUTH KOREA,NaN,HEALTHCARE PHARMACEUTICAL ...,HTTP://WWW.KBPHARMA.CO.KR/EN/,NaN,,NaN,0.250,NaN
17058,SOFTBRAIN,JAPAN,NaN,TECHNOLOGY SOFTWARE AND IT,HTTP://WWW.SOFTBRAIN.ORG/,NaN,,NaN,,NaN
17059,DAIOHS CORPORATION,JAPAN,NaN,INDUSTRIES BUSINESS SERVICES,HTTPS://WWW.DAIOHS.COM.HK/EN/,NaN,,NaN,0.129,NaN
17060,GREAT WALL PAN ASIA HOLDINGS,HONG KONG,NaN,REAL ESTATE,HTTP://WWW.GWPAHOLDINGS.COM/,NaN,,17,0.083,NaN
...,...,...,...,...,...,...,...,...,...,...
644,BAD (BALLIN' ALL DAY),SEOUL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,B2M ENTERTAINMENT,SEOUL,NaN,NaN,"HTTPS://WWW.FACEBOOK.COM/B2MENTOFFICIAL/,HTTPS...",NaN,NaN,NaN,NaN,NaN
646,AXIS,SEOUL,NaN,NaN,"HTTPS://WWW.FACEBOOK.COM/AXISCCP/,HTTPS://TWIT...",NaN,SINXITY,NaN,NaN,NaN
647,BACE CAMP STUDIO,SEOUL,NaN,NaN,"HTTPS://WWW.FACEBOOK.COM/BACECAMPSTUDIO,HTTPS:...",NaN,NaN,NaN,NaN,NaN
648,AVEX TRAX,"MINATO, TOKYO",NaN,NaN,"HTTPS://WWW.FACEBOOK.COM/AVEX.OFFICIAL/,HTTPS:...",NaN,NaN,NaN,NaN,NaN

In [82]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64608 entries, 0 to 648
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         64603 non-null  object
 1   headquarter  62751 non-null  object
 2   employees    20275 non-null  object
 3   industry     54241 non-null  object
 4   website      29075 non-null  object
 5   ticker       4364 non-null   object
 6   ceo          22143 non-null  object
 7   revenue_M    28712 non-null  object
 8   marketcap_M  41217 non-null  object
 9   shareprice   10657 non-null  object
dtypes: object(10)
memory usage: 5.4+ MB

In [83]:
result.to_csv("alignedSchemas/companiesAligned.csv")

In [84]:
from pandas_profiling import ProfileReport

In [85]:
#profile=ProfileReport(result)
#profile.to_notebook_iframe()